In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Loading all the cleaned datasets

In [2]:
set1_1 = pd.read_csv('./csv/set1_1done.csv',index_col = 0) 
set1_1['set'] = '1_1'
set1_2 = pd.read_csv('./csv/set1_2done.csv', index_col=0) 
set1_2['set'] = '1_2'
set1_3 = pd.read_csv('./csv/set1_3done.csv', index_col=0) 
set1_3['set'] = '1_3'

set1_4 = pd.read_csv('./csv/set1_4done.csv', index_col=0) 
set1_4['set'] = '1_4'

set2_1 = pd.read_csv('./csv/set2_1done.csv', index_col=0) 
set2_1['set'] = '2_1'

set2_2 = pd.read_csv('./csv/set2_2done.csv', index_col=0)
set2_1['set'] = '2_2'

set2_3 = pd.read_csv('./csv/set2_3done.csv', index_col=0) 
set2_1['set'] = '2_3'

set3_1 = pd.read_csv('./csv/set3_1done.csv', index_col=0)
set3_1['set'] = '3_1'

set3_2 = pd.read_csv('./csv/set3_2done.csv', index_col=0) 
set3_2['set'] = '3_2'

set3_3 = pd.read_csv('./csv/set3_3done.csv', index_col=0) 
set3_3['set'] = '3_3'

set4_1 = pd.read_csv('./csv/set4_1done.csv', index_col=0) 
set4_1['set'] = '4_1'

set4_2 = pd.read_csv('./csv/set4_2done.csv', index_col=0) 
set4_2['set'] = '4_2'

set4_3 = pd.read_csv('./csv/set4_3done.csv', index_col=0) 
set4_3['set'] = '4_3'

In [4]:
frames = [set1_1 , set1_2, set1_3, set1_4, set2_1, set2_2, set2_3, set3_1, set3_2, set3_3, set4_1, set4_2, set4_3]
df = pd.concat(frames)
df.isnull().sum(axis = 0)
df = df.dropna(subset = ['second']) # dropping null values in second column
df = df.drop(columns=['ID'], axis = 1)
df = df.reset_index(drop=True)
df.describe()

,bookingID,Accuracy,Bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,Speed
count,7.194164e+06,7.077251e+06,7.034273e+06,7.194164e+06,7.194164e+06,7.194164e+06,7.194164e+06,7.194164e+06,7.194164e+06,7.194164e+06,7.194164e+06
mean,8.182724e+11,1.013008e+01,1.689678e+02,6.777408e-02,4.457620e+00,8.896588e-01,-1.738069e-03,-1.271499e-04,-3.658102e-04,6.008619e+02,9.022868e+00
std,4.951463e+11,6.260076e+01,1.072781e+02,1.350015e+00,8.068016e+00,3.173510e+00,1.000226e-01,1.781302e-01,1.026586e-01,4.615592e+02,8.104775e+00
min,0.000000e+00,7.500000e-01,0.000000e+00,-9.999999e+00,-1.999507e+01,-1.499623e+01,-9.998474e-01,-5.989435e+00,-6.938964e+00,0.000000e+00,-1.547627e+01
25%,3.779571e+11,3.900000e+00,7.800000e+01,-5.051765e-01,-1.925577e+00,-9.233101e-01,-2.654852e-02,-2.970117e-02,-1.846768e-02,2.410000e+02,1.042856e+00
50%,8.074539e+11,4.205000e+00,1.688074e+02,6.190796e-02,9.088211e+00,7.781393e-01,-6.548475e-04,2.593994e-04,-2.443045e-05,5.190000e+02,7.560000e+00
75%,1.254130e+12,8.000000e+00,2.628749e+02,6.320692e-01,9.709717e+00,2.745844e+00,2.307129e-02,3.108388e-02,1.810910e-02,8.610000e+02,1.549360e+01
max,1.709397e+12,1.500000e+03,3.599995e+02,1.339649e+01,2.493920e+01,1.499944e+01,1.311228e+00,5.996460e+00,6.690163e+00,8.234000e+03,9.244882e+01

# Replacing null values in Accuracy Column by the mode of its repesctive bookingID

In [5]:
justnullsdf = df[df['Accuracy'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids:
    bookingidx = df[df['bookingID']==bookingid] # making a datfarame with bookingID = x
    mode = bookingidx.mode()['Accuracy'][0]
    nulldf = bookingidx[bookingidx['Accuracy'].isnull()]
    for ind in nulldf.index: #retrieve the index of the row with Accuracy = NULL
        bookingidx['Accuracy'] = bookingidx['Accuracy'].fillna(mode)
        df.at[ind,'Accuracy'] = mode # this is to assign estimated value to the corresponding record IN THE SET

C:\Python38\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

# Replacing null values in Bearing Column by 0

In [6]:
df['Bearing'] = df['Bearing'].fillna(0)

In [7]:
df = df.drop(columns=['set'], axis = 1)

In [8]:
df.isnull().sum(axis = 0)

bookingID         0
Accuracy          0
Bearing           0
acceleration_x    0
acceleration_y    0
acceleration_z    0
gyro_x            0
gyro_y            0
gyro_z            0
second            0
Speed             0
dtype: int64

In [ ]:
df.to_csv('JustTaxi.csv')