In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

featuresdf=pd.read_csv('./csv/set4.csv', index_col=0)
featuresdf = featuresdf.reset_index()
set4fake = featuresdf.copy()
for column in ['acceleration_x','acceleration_y','acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z','second', 'Speed']:
    justnullsdf = set4fake[set4fake[column].isnull()]
    bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
    rows = 0
    for i in range (len(bookingids)):
        bookingidx = set4fake[set4fake['bookingID']==bookingids[i]]
        if bookingidx[column].isnull().all().all():
            set4fake = set4fake.drop(set4fake[set4fake.bookingID == bookingids[i]].index)
            
uniqueValues = set4fake['bookingID'].unique()
uniqueValues = np.sort(uniqueValues)
bookingids=featuresdf['bookingID'].unique()

In [ ]:
print(set4fake.shape)
set4_1fake = set4fake[set4fake['bookingID'].isin(uniqueValues[0:1650])]
print(set4_1fake.shape)
set4_2fake = set4fake[set4fake['bookingID'].isin(uniqueValues[1650:2900])]
print(set4_2fake.shape)
set4_3fake = set4fake[set4fake['bookingID'].isin(uniqueValues[2900:])]
print(set4_3fake.shape)
print(set4_1fake.shape[0] + set4_2fake.shape[0] + set4_3fake.shape[0])

(188106, 12)
(66258, 12)
(50640, 12)
(71208, 12)
188106

# SET 4-2

In [ ]:
# THIS IS ONLY FOR SET 3_2fake acceleration_x
justnullsdf = set4_2fake[set4_2fake['acceleration_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_x']) # finding the standard deviation of acceleration_x
    nulldf = bookingidx[bookingidx['acceleration_x'].isnull()] # make dataframe of records with acceleration_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 4] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_x'].isnull().bool(): # if the next and next next record is null
                    estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1+1]['acceleration_x']) - std -std -std
            elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'acceleration_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 704374636692.0, index: 33, id: 5172373
the previous value is -0.52098787 and the after value is 0.4405331
estimated value is -0.040227385000000004
the value back in set4_2fake is now 129907   -0.040227
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 704374636692.0, index: 44, id: 1471
the previous value is 0.6328929 and the after value is 0.97444963
estimated value is 0.803671265
the value back in set4_2fake is now 36    0.803671
Name: acceleration_x, dtype: float64
the value back in bookingidx is now 36   -1.659919
Name: acceleration_x, dtype: float64
-----------------------
bookingid: 704374636692.0, index: 47, id: 243325
the previous value is 1.4001867 and the after value is -0.19431342
estimated value is 0.6029366399999999
the value back in set4_2fake is now 6019    0.602937
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 558345748531.0, index: 3, id: 5700067
the previous value is 0.927734 and the after value is -0.9989088
estimated value is -0.03558740000000005
the value back in set4_2fake is now 143388   -0.035587
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 558345748531.0, index: 6, id: 15708
the previous value is -0.22175096 and the after value is 0.63059443
estimated value is 0.20442173500000002
the value back in set4_2fake is now 388    0.204422
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 901943132324.0, index: 30, id: 19168
the previous value is 0.073023155 and the after value is 1.7070658
estimated value is 0.8900444775
the value back in set4_2fake is now 468    0.890044
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 901943132324.0, index: 59, id: 7163229
the previous value is 2.396596 and the after value is 4.0857053
estimated value is 3.24115065
the value back in set4_2fake is now 180377    3.241151
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963591.0, index: 163, id: 6014980
the previous value is 0.62506103515625 and the after value is 0.6721649169921875
estimated value is 0.6486129760742188
the value back in set4_2fake is now 151504    0.648613
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963591.0, index: 193, id: 3470272
the previous value is 0.8930297851562501 and the after value is 2.3161651611328127
estimated value is 1.6045974731445314
the value back in set4_2fake is now 87617    1.604597
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963591.0, index: 271, id: 2975286
the after value is nan
estimated value is 1.8814928080965445
the value back in set4_2fake is now 75322    1.881493
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963591.0, index: 272, id: 5858779
the previous value is 1.8814928080965445 and the after value is 1.9160064697265624
estimated value is 1.8987496389115535
the value back in set4_2fake is now 147446    1.89875
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963591.0, index: 283, id: 27307
the previous value is 1.2969268798828126 and the after value is 1.46724853515625
estimated value is 1.3820877075195312
the value back in set4_2fake is now 660    1.382088
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328501.0, index: 28, id: 33244
the previous value is 1.525153 and the after value is 1.089395
estimated value is 1.307274
the value back in set4_2fake is now 796    1.307274
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328501.0, index: 56, id: 1706380
the previous value is -1.0654523 and the after value is 1.2426286
estimated value is 0.08858814999999998
the value back in set4_2fake is now 43209    0.088588
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328501.0, index: 64, id: 4869450
the previous value is 0.13168511 and the after value is 0.45012367
estimated value is 0.29090439
the value back in set4_2fake is now 122282    0.290904
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 106, id: 504428
the previous value is 1.6609955 and the after value is 1.2687378
estimated value is 1.46486665
the value back in set4_2fake is now 12709    1.464867
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 136, id: 57980
the previous value is 1.0726013 and the after value is 1.7590636999999998
estimated value is 1.4158325
the value back in set4_2fake is now 1406    1.415833
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 158, id: 986869
the previous value is 1.3079681 and the after value is 1.5629425
estimated value is 1.4354553
the value back in set4_2fake is now 24991    1.435455
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 755914244122.0, index: 1, id: 746034
the after value is nan
estimated value is 1.6122228819139228
the value back in set4_2fake is now 18892    1.612223
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 755914244122.0, index: 2, id: 58172
the previous value is 1.6122228819139228 and the after value is -0.861145
estimated value is 0.3755389409569614
the value back in set4_2fake is now 1411    0.375539
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 21, id: 7452392
the previous value is 0.19931729 and the after value is -0.88765025
estimated value is -0.34416648
the value back in set4_2fake is now 187682   -0.344166
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 38, id: 113873
the previous value is -0.49081135 and the after value is -1.1450268999999995
estimated value is -0.8179191249999997
the value back in set4_2fake is now 2774   -0.817919
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 53, id: 6567578
the previous value is -0.66738373 and the after value is 0.4842273
estimated value is -0.09157821499999996
the value back in set4_2fake is now 165507   -0.091578
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 66, id: 64554
the previous value is -0.24420857 and the after value is -1.0187328000000002
estimated value is -0.6314706850000001
the value back in set4_2fake is now 1545   -0.631471
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 86, id: 3590452
the previous value is 0.66379243 and the after value is 0.047884032
estimated value is 0.355838231
the value back in set4_2fake is now 90543    0.355838
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421483.0, index: 103, id: 7361325
the previous value is 0.41060558 and the after value is -0.22565351
estimated value is 0.09247603500000001
the value back in set4_2fake is now 185424    0.092476
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 730144440341.0, index: 4, id: 3075701
the previous value is -3.144784 and the after value is -0.6979098000000001
estimated value is -1.9213469
the value back in set4_2fake is now 77831   -1.921347
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 730144440341.0, index: 26, id: 69893
the previous value is -0.04309563 and the after value is -0.39863458
estimated value is -0.220865105
the value back in set4_2fake is now 1674   -0.220865
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 730144440341.0, index: 67, id: 6696474
the previous value is 0.25378537 and the after value is 0.62967503
estimated value is 0.4417302
the value back in set4_2fake is now 168709    0.44173
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 678604832925.0, index: 78, id: 71248
the previous value is -0.49645996 and the after value is 0.28808594
estimated value is -0.10418701
the value back in set4_2fake is now 1704   -0.104187
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 678604832925.0, index: 141, id: 6537484
the previous value is -0.1826477 and the after value is -1.4378966999999998
estimated value is -0.8102721999999999
the value back in set4_2fake is now 164756   -0.810272
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 28, id: 3869223
the previous value is -0.27316695 and the after value is -0.23127025
estimated value is -0.2522186
the value back in set4_2fake is now 97250   -0.252219
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 77, id: 730971
the previous value is -1.2583387 and the after value is -0.22408795
estimated value is -0.7412133249999999
the value back in set4_2fake is now 18466   -0.741213
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 161, id: 4414648
the previous value is -0.6322818 and the after value is -0.2133145
estimated value is -0.42279815
the value back in set4_2fake is now 110813   -0.422798
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 179, id: 4139707
the previous value is 0.38401315 and the after value is -0.84296244
estimated value is -0.22947464499999998
the value back in set4_2fake is now 103956   -0.229475
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 203, id: 76595
the previous value is -1.5456305 and the after value is -0.9255589
estimated value is -1.2355947
the value back in set4_2fake is now 1841   -1.235595
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 661424963695.0, index: 7, id: 82512
the previous value is -0.9311614990234376 and the after value is -1.2087005615234376
estimated value is -1.0699310302734375
the value back in set4_2fake is now 1968   -1.069931
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 0, id: 4171732
the after value is 0.30886146
estimated value is -1.0156350332715873
the value back in set4_2fake is now 104741   -1.015635
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 11, id: 7122862
the previous value is 0.94095 and the after value is 0.74701375
estimated value is 0.843981875
the value back in set4_2fake is now 179402    0.843982
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 97, id: 226923
the previous value is 0.64166564 and the after value is 0.1699935
estimated value is 0.40582957000000003
the value back in set4_2fake is now 5599    0.40583
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 134, id: 93284
the previous value is 1.8842943 and the after value is 3.641692
estimated value is 2.76299315
the value back in set4_2fake is now 2250    2.762993
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 168, id: 6547775
the previous value is 1.6855695 and the after value is 2.875524
estimated value is 2.28054675
the value back in set4_2fake is now 165024    2.280547
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 867583393858.0, index: 198, id: 4934151
the previous value is 0.71588814 and the after value is 0.4740664
estimated value is 0.59497727
the value back in set4_2fake is now 123951    0.594977
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 678604832795.0, index: 8, id: 4478625
the previous value is -1.5610672 and the after value is -0.409421
estimated value is -0.9852441000000001
the value back in set4_2fake is now 112383   -0.985244
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 678604832795.0, index: 18, id: 94181
the previous value is 1.8962656 and the after value is -2.1093562
estimated value is -0.10654530000000006
the value back in set4_2fake is now 2269   -0.106545
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 712964571148.0, index: 24, id: 108303
the previous value is 0.47106934 and the after value is 1.546051
estimated value is 1.00856017
the value back in set4_2fake is now 2601    1.00856
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421493.0, index: 3, id: 6964777
the previous value is 1.085931396484375 and the after value is -2.6808837890625004
estimated value is -0.7974761962890626
the value back in set4_2fake is now 175386   -0.797476
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421493.0, index: 130, id: 115046
the after value is nan
estimated value is 1.323769337604895
the value back in set4_2fake is now 2807    1.323769
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 601295421493.0, index: 131, id: 2605002
the previous value is 1.323769337604895 and the after value is 0.9334045410156252
estimated value is 1.12858693931026
the value back in set4_2fake is now 65867    1.128587
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 721554505788.0, index: 12, id: 126112
the previous value is 0.32615733 and the after value is -0.29005274
estimated value is 0.018052295000000024
the value back in set4_2fake is now 3106    0.018052
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328450.0, index: 8, id: 5133654
the previous value is -0.84169006 and the after value is 0.5748595999999999
estimated value is -0.13341523000000005
the value back in set4_2fake is now 128926   -0.133415
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328450.0, index: 12, id: 150559
the previous value is 1.0384674 and the after value is -1.371109
estimated value is -0.16632079999999994
the value back in set4_2fake is now 3703   -0.166321
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 876173328450.0, index: 30, id: 4705355
the previous value is 1.6438598999999998 and the after value is 0.5712738
estimated value is 1.10756685
the value back in set4_2fake is now 118101    1.107567
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 755914244179.0, index: 3, id: 634074
the previous value is -1.070553 and the after value is -1.1351868
estimated value is -1.1028699
the value back in set4_2fake is now 16007   -1.10287
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 755914244179.0, index: 24, id: 151947
the previous value is -0.7376151999999999 and the after value is -0.5142458
estimated value is -0.6259305
the value back in set4_2fake is now 3755   -0.62593
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 747324309542.0, index: 23, id: 162152
the previous value is 2.0822906494140625 and the after value is 2.4159057617187503
estimated value is 2.2490982055664066
the value back in set4_2fake is now 3987    2.249098
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 704374636656.0, index: 6, id: 164727
the previous value is -0.1526763916015625 and the after value is -0.9541900634765624
estimated value is -0.5534332275390624
the value back in set4_2fake is now 4048   -0.553433
Name: acceleration_x, dtype: float64

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           851
Bearing           1118
acceleration_x       0
acceleration_y    1215
acceleration_z     436
gyro_x             878
gyro_y             837
gyro_z            1021
second             662
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_2fake acceleration_y
justnullsdf = set4_2fake[set4_2fake['acceleration_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_y']) # finding the standard deviation of acceleration_y
    nulldf = bookingidx[bookingidx['acceleration_y'].isnull()] # make dataframe of records with acceleration_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 5] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'acceleration_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 661424963633.0, index: 21, id: 1425
the previous value is -8.818893432617188 and the after value is -10.397097778320315
estimated value is -9.607995605468751
the value back in set4_2fake is now 35   -9.607996
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 35   -9.930396
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 584115552308.0, index: 24, id: 4763696
the previous value is -10.275823974609375 and the after value is -9.3513916015625
estimated value is -9.813607788085939
the value back in set4_2fake is now 119581   -9.813608
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 584115552308.0, index: 32, id: 4056
the previous value is -12.087454223632813 and the after value is -11.130422973632813
estimated value is -11.608938598632813
the value back in set4_2fake is now 100   -11.608939
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 104, id: 7013284
the previous value is -10.031481933593753 and the after value is -9.494497680664065
estimated value is -9.762989807128909
the value back in set4_2fake is now 176594   -9.76299
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 121, id: 1942229
the previous value is -11.012289428710938 and the after value is -10.413546752929689
estimated value is -10.712918090820313
the value back in set4_2fake is now 49071   -10.712918
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 166, id: 3864239
the previous value is -9.540255737304689 and the after value is -10.327713012695312
estimated value is -9.933984375000001
the value back in set4_2fake is now 97154   -9.933984
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 172, id: 2499420
the previous value is -9.399392700195316 and the after value is -10.134661865234378
estimated value is -9.767027282714846
the value back in set4_2fake is now 63190   -9.767027
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 179, id: 868599
the previous value is -9.588705444335938 and the after value is -11.052813720703128
estimated value is -10.320759582519532
the value back in set4_2fake is now 22002   -10.32076
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 194, id: 8195
the previous value is -8.649169921875 and the after value is -9.151611328125
estimated value is -8.900390625
the value back in set4_2fake is now 210   -8.900391
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 210   -9.730914
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 816043786380.0, index: 232, id: 4047303
the previous value is -8.603411865234376 and the after value is -9.601416015625
estimated value is -9.102413940429688
the value back in set4_2fake is now 101621   -9.102414
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 239, id: 351002
the previous value is -10.476800537109378 and the after value is -9.55655517578125
estimated value is -10.016677856445314
the value back in set4_2fake is now 8852   -10.016678
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 816043786380.0, index: 258, id: 1351707
the previous value is -10.414144897460938 and the after value is -9.663922119140627
estimated value is -10.039033508300783
the value back in set4_2fake is now 34242   -10.039034
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 592705486928.0, index: 62, id: 3034676
the previous value is -0.03351985 and the after value is 0.38308397
estimated value is 0.17478206
the value back in set4_2fake is now 76836    0.174782
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 592705486928.0, index: 83, id: 9453
the previous value is 0.4836435 and the after value is -0.38787252
estimated value is 0.04788549
the value back in set4_2fake is now 251    0.047885
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 27, id: 104159
the previous value is 9.507666 and the after value is 10.501289
estimated value is 10.0044775
the value back in set4_2fake is now 2512    10.004478
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 71, id: 2446042
the previous value is 9.656111 and the after value is 9.395134
estimated value is 9.5256225
the value back in set4_2fake is now 61838    9.525623
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 126, id: 11990
the previous value is 12.543606 and the after value is 9.775824
estimated value is 11.159715
the value back in set4_2fake is now 309    11.159715
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 764504178730.0, index: 46, id: 17323
the previous value is -10.782901000976564 and the after value is -10.936624145507816
estimated value is -10.85976257324219
the value back in set4_2fake is now 428   -10.859763
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 618475290711.0, index: 2, id: 19118
the previous value is 8.720880000000001 and the after value is 9.044097
estimated value is 8.882488500000001
the value back in set4_2fake is now 467    8.882489
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 927712935972.0, index: 15, id: 1516354
the previous value is 9.029556 and the after value is 8.327499000000001
estimated value is 8.678527500000001
the value back in set4_2fake is now 38427    8.678528
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 927712935972.0, index: 39, id: 26450
the previous value is 9.103256 and the after value is 9.354019
estimated value is 9.2286375
the value back in set4_2fake is now 642    9.228637
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 41, id: 3579569
the previous value is -9.305633544921877 and the after value is -8.437127685546876
estimated value is -8.871380615234376
the value back in set4_2fake is now 90264   -8.871381
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 45, id: 202689
the previous value is -9.0642822265625 and the after value is -10.399041748046878
estimated value is -9.73166198730469
the value back in set4_2fake is now 5010   -9.731662
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 59, id: 3320112
the previous value is -9.066375732421877 and the after value is -10.898791503906253
estimated value is -9.982583618164064
the value back in set4_2fake is now 83952   -9.982584
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 84, id: 2255765
the previous value is -8.701806640625001 and the after value is -9.239987182617188
estimated value is -8.970896911621095
the value back in set4_2fake is now 57058   -8.970897
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 114, id: 1176549
the previous value is -9.19632263183594 and the after value is -9.194229125976562
estimated value is -9.195275878906251
the value back in set4_2fake is now 29869   -9.195276
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 123, id: 6932233
the previous value is -9.379653930664062 and the after value is -8.117269897460938
estimated value is -8.7484619140625
the value back in set4_2fake is now 174604   -8.748462
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 132, id: 36189
the previous value is -9.444403076171875 and the after value is -8.177981567382814
estimated value is -8.811192321777344
the value back in set4_2fake is now 874   -8.811192
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 149, id: 4355763
the previous value is -8.334994506835939 and the after value is -11.58546142578125
estimated value is -9.960227966308594
the value back in set4_2fake is now 109344   -9.960228
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197681.0, index: 15, id: 46999
the previous value is 7.9412413 and the after value is 7.098214
estimated value is 7.51972765
the value back in set4_2fake is now 1137    7.519728
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 893353197681.0, index: 37, id: 6361257
the previous value is 8.910692 and the after value is 9.774693
estimated value is 9.342692499999998
the value back in set4_2fake is now 160301    9.342692
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 575525617683.0, index: 12, id: 7017540
the previous value is 9.860718 and the after value is 10.467023
estimated value is 10.1638705
the value back in set4_2fake is now 176716    10.16387
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 575525617683.0, index: 64, id: 61725
the previous value is 10.134842 and the after value is 9.687146
estimated value is 9.910994
the value back in set4_2fake is now 1482    9.910994
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739867.0, index: 12, id: 70891
the previous value is -9.266903686523438 and the after value is -8.203103637695314
estimated value is -8.735003662109376
the value back in set4_2fake is now 1695   -8.735004
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739867.0, index: 34, id: 2858249
the previous value is -8.77178955078125 and the after value is -7.769299316406252
estimated value is -8.27054443359375
the value back in set4_2fake is now 72251   -8.270544
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 953482739867.0, index: 64, id: 5252336
the previous value is -9.139797973632811 and the after value is -9.338681030273438
estimated value is -9.239239501953126
the value back in set4_2fake is now 131920   -9.23924
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 1, id: 74491
the previous value is -9.594836425781253 and the after value is -9.69951171875
estimated value is -9.647174072265626
the value back in set4_2fake is now 1781   -9.647174
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 29, id: 4012549
the previous value is -9.32312927246094 and the after value is -10.165167236328122
estimated value is -9.744148254394531
the value back in set4_2fake is now 100735   -9.744148
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 39, id: 2071754
the previous value is -8.7939208984375 and the after value is -9.473712158203128
estimated value is -9.133816528320313
the value back in set4_2fake is now 52333   -9.133817
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 747324309678.0, index: 34, id: 74975
the previous value is 9.796 and the after value is 10.715
estimated value is 10.2555
the value back in set4_2fake is now 1799    10.2555
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 12, id: 75012
the previous value is -9.434683227539065 and the after value is -8.667562866210938
estimated value is -9.051123046875002
the value back in set4_2fake is now 1800   -9.051123
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 50, id: 5455539
the previous value is -8.276376342773439 and the after value is -7.364505004882813
estimated value is -7.820440673828125
the value back in set4_2fake is now 137138   -7.820441
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 66, id: 2927494
the previous value is -8.095138549804688 and the after value is -8.635861206054688
estimated value is -8.365499877929688
the value back in set4_2fake is now 74051   -8.3655
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 82, id: 1819973
the previous value is -10.187149047851562 and the after value is -7.959658813476563
estimated value is -9.073403930664062
the value back in set4_2fake is now 46054   -9.073404
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 96, id: 2438306
the previous value is -8.9673828125 and the after value is -9.389224243164064
estimated value is -9.178303527832032
the value back in set4_2fake is now 61648   -9.178304
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 137, id: 786999
the previous value is -8.56064453125 and the after value is -9.559097290039062
estimated value is -9.05987091064453
the value back in set4_2fake is now 19905   -9.059871
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 179, id: 7421009
the previous value is -7.619763183593752 and the after value is -11.55435791015625
estimated value is -9.587060546875001
the value back in set4_2fake is now 186887   -9.587061
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 245, id: 1083518
the after value is nan
estimated value is -7.673875036551367
the value back in set4_2fake is now 27474   -7.673875
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 246, id: 5048935
the previous value is -7.673875036551367 and the after value is -8.214767456054688
estimated value is -7.944321246303027
the value back in set4_2fake is now 126874   -7.944321
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 38, id: 4110164
the previous value is 7.9076843 and the after value is 9.301102
estimated value is 8.60439315
the value back in set4_2fake is now 103177    8.604393
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 43, id: 114366
the previous value is 9.9331665 and the after value is 9.39447
estimated value is 9.66381825
the value back in set4_2fake is now 2785    9.663818
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 111, id: 116939
the previous value is 10.560455 and the after value is 9.562073
estimated value is 10.061264
the value back in set4_2fake is now 2849    10.061264
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 114, id: 5543523
the previous value is 10.469467 and the after value is 10.36174
estimated value is 10.4156035
the value back in set4_2fake is now 139342    10.415603
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 117, id: 1468134
the previous value is 9.873322 and the after value is 10.14386
estimated value is 10.008591
the value back in set4_2fake is now 37211    10.008591
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 173, id: 4090795
the previous value is 9.698547 and the after value is 9.368134
estimated value is 9.5333405
the value back in set4_2fake is now 102685    9.53334
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 627065225233.0, index: 192, id: 6454728
the previous value is 8.120758 and the after value is 10.036118
estimated value is 9.078438

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           850
Bearing           1117
acceleration_x       0
acceleration_y       0
acceleration_z     435
gyro_x             878
gyro_y             836
gyro_z            1020
second             662
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_2fake acceleration_z
justnullsdf = set4_2fake[set4_2fake['acceleration_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_z']) # finding the standard deviation of acceleration_z
    nulldf = bookingidx[bookingidx['acceleration_z'].isnull()] # make dataframe of records with acceleration_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 6] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'acceleration_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 670014898253.0, index: 5, id: 11952
the previous value is -2.756923200000001 and the after value is -2.823961
estimated value is -2.790442100000001
the value back in set4_2fake is now 308   -2.790442
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 635655159934.0, index: 90, id: 5950591
the previous value is -2.9096740722656254 and the after value is -4.237405395507813
estimated value is -3.573539733886719
the value back in set4_2fake is now 149783   -3.57354
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 635655159934.0, index: 153, id: 3792314
the previous value is -3.874929809570313 and the after value is -4.9203369140625
estimated value is -4.397633361816407
the value back in set4_2fake is now 95376   -4.397633
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 635655159934.0, index: 159, id: 16906
the previous value is -4.123608398437502 and the after value is -4.6571533203125
estimated value is -4.390380859375001
the value back in set4_2fake is now 415   -4.390381
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 695784702090.0, index: 12, id: 576500
the after value is nan
estimated value is 5.842013651207135
the value back in set4_2fake is now 14522    5.842014
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 695784702090.0, index: 13, id: 6117634
the previous value is 5.842013651207135 and the after value is 5.0933075
estimated value is 5.467660575603567
the value back in set4_2fake is now 154149    5.467661
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 695784702090.0, index: 27, id: 85465
the previous value is 5.2028503 and the after value is 4.983185
estimated value is 5.09301765
the value back in set4_2fake is now 2051    5.093018
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 678604832925.0, index: 108, id: 112619
the previous value is 6.3117980000000005 and the after value is 5.88031
estimated value is 6.0960540000000005
the value back in set4_2fake is now 2734    6.096054
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 678604832925.0, index: 117, id: 4081085
the previous value is 6.115677 and the after value is 6.1941223
estimated value is 6.15489965
the value back in set4_2fake is now 102453    6.1549
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 627065225346.0, index: 48, id: 685973
the previous value is 0.2884552001953125 and the after value is 0.8868988037109375
estimated value is 0.587677001953125
the value back in set4_2fake is now 17295    0.587677
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 627065225346.0, index: 58, id: 144671
the previous value is -0.6458465576171876 and the after value is -0.097198486328125
estimated value is -0.3715225219726563
the value back in set4_2fake is now 3554   -0.371523
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 627065225346.0, index: 74, id: 3964643
the previous value is -0.262286376953125 and the after value is -0.60831298828125
estimated value is -0.43529968261718754
the value back in set4_2fake is now 99608   -0.4353
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 953482739864.0, index: 40, id: 2578761
the previous value is 9.853638 and the after value is 10.097717
estimated value is 9.9756775
the value back in set4_2fake is now 65216    9.975677
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 953482739864.0, index: 62, id: 166604
the previous value is 9.824936 and the after value is 9.3703
estimated value is 9.597618
the value back in set4_2fake is now 4106    9.597618
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 695784701965.0, index: 0, id: 194073
the after value is -0.38586873
estimated value is -2.1730579812197566
the value back in set4_2fake is now 4796   -2.173058
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 558345748607.0, index: 62, id: 220350
the previous value is 3.8045027 and the after value is 3.790137
estimated value is 3.79731985
the value back in set4_2fake is now 5430    3.79732
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 558345748607.0, index: 112, id: 4488124
the previous value is 5.61218 and the after value is 5.1788163
estimated value is 5.39549815
the value back in set4_2fake is now 112641    5.395498
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 558345748607.0, index: 198, id: 2994217
the previous value is 4.1085753 and the after value is 4.541939299999999
estimated value is 4.3252573
the value back in set4_2fake is now 75798    4.325257
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 962072674431.0, index: 0, id: 229600
the after value is 0.12090719
estimated value is -1.4597130649250027
the value back in set4_2fake is now 5663   -1.459713
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 962072674431.0, index: 48, id: 5963593
the previous value is -1.2593501 and the after value is -1.3503298
estimated value is -1.3048399499999999
the value back in set4_2fake is now 150139   -1.30484
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 592705486981.0, index: 66, id: 275129
the previous value is 4.041 and the after value is 3.677
estimated value is 3.859
the value back in set4_2fake is now 6864    3.859
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 592705487018.0, index: 88, id: 306145
the previous value is -3.3886383056640628 and the after value is -3.7114868164062496
estimated value is -3.550062561035156
the value back in set4_2fake is now 7669   -3.550063
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 592705486888.0, index: 22, id: 6470056
the previous value is -4.0138488769531255 and the after value is -2.595199584960937
estimated value is -3.304524230957031
the value back in set4_2fake is now 163071   -3.304524
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 592705486888.0, index: 32, id: 313568
the previous value is -3.293533325195313 and the after value is -2.6272003173828127
estimated value is -2.960366821289063
the value back in set4_2fake is now 7868   -2.960367
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 721554505792.0, index: 30, id: 365823
the previous value is 7.623914200000001 and the after value is 3.4910336
estimated value is 5.557473900000001
the value back in set4_2fake is now 9246    5.557474
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 721554505792.0, index: 40, id: 7119203
the previous value is 5.771788 and the after value is 5.697491
estimated value is 5.7346395
the value back in set4_2fake is now 179301    5.73464
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 970662608937.0, index: 24, id: 6101934
the previous value is -1.0714053 and the after value is -1.6531962
estimated value is -1.36230075
the value back in set4_2fake is now 153762   -1.362301
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 970662608937.0, index: 37, id: 6949374
the previous value is -1.8902222 and the after value is -2.469619
estimated value is -2.1799206
the value back in set4_2fake is now 175018   -2.179921
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 970662608937.0, index: 105, id: 413272
the previous value is -4.375403400000001 and the after value is -3.2632968
estimated value is -3.8193501000000003
the value back in set4_2fake is now 10447   -3.81935
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 970662608907.0, index: 53, id: 4743398
the previous value is 0.3196259 and the after value is 1.1719618
estimated value is 0.7457938500000001
the value back in set4_2fake is now 119079    0.745794
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 970662608907.0, index: 67, id: 440720
the previous value is 0.21906945 and the after value is 0.47764325
estimated value is 0.34835635
the value back in set4_2fake is now 11077    0.348356
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 22, id: 2095164
the previous value is -2.3729888916015627 and the after value is -2.7024169921875
estimated value is -2.5377029418945316
the value back in set4_2fake is now 52973   -2.537703
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 78, id: 470684
the previous value is -4.0621490478515625 and the after value is -1.2496734619140626
estimated value is -2.6559112548828123
the value back in set4_2fake is now 11857   -2.655911
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 170, id: 4782627
the previous value is -3.14683837890625 and the after value is -0.9734802246093752
estimated value is -2.0601593017578126
the value back in set4_2fake is now 120067   -2.060159
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 222, id: 6788233
the previous value is -2.8378967285156254 and the after value is -2.936740112304688
estimated value is -2.887318420410157
the value back in set4_2fake is now 170954   -2.887318
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 738734374930.0, index: 18, id: 477461
the previous value is 1.1250305 and the after value is 1.5344391000000002
estimated value is 1.3297348000000002
the value back in set4_2fake is now 12016    1.329735
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 833223655515.0, index: 34, id: 521416
the previous value is 3.0341034 and the after value is 3.3236237
estimated value is 3.17886355
the value back in set4_2fake is now 13115    3.178864
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 99, id: 1115746
the previous value is -1.5363342285156252 and the after value is -0.5299560546875001
estimated value is -1.0331451416015627
the value back in set4_2fake is now 28303   -1.033145
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 140, id: 7397338
the previous value is -0.9299652099609376 and the after value is 1.6100555419921876
estimated value is 0.340045166015625
the value back in set4_2fake is now 186321    0.340045
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 149, id: 522956
the previous value is -0.6045745849609375 and the after value is -0.003289794921875
estimated value is -0.30393218994140625
the value back in set4_2fake is now 13144   -0.303932
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 175, id: 598831
the previous value is -2.6642852783203126 and the after value is -0.5618072509765626
estimated value is -1.6130462646484376
the value back in set4_2fake is now 15109   -1.613046
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 194, id: 2765230
the previous value is -1.63233642578125 and the after value is -1.3094879150390626
estimated value is -1.4709121704101564
the value back in set4_2fake is now 69890   -1.470912
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 824633720868.0, index: 201, id: 1113220
the previous value is -0.7209136962890625 and the after value is 0.42647705078125
estimated value is -0.14721832275390628
the value back in set4_2fake is now 28222   -0.147218
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 644245094471.0, index: 21, id: 533245
the previous value is 1.9090729 and the after value is -0.30316162
estimated value is 0.80295564
the value back in set4_2fake is now 13401    0.802956
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 644245094471.0, index: 36, id: 6776694
the previous value is 2.1269531 and the after value is 2.9697113
estimated value is 2.5483322
the value back in set4_2fake is now 170665    2.548332
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 884763263050.0, index: 16, id: 7347586
the previous value is 10.55748 and the after value is 10.55748
estimated value is 10.55748
the value back in set4_2fake is now 185082    10.55748
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 884763263050.0, index: 41, id: 4354117
the previous value is 9.537582 and the after value is 8.870728
estimated value is 9.204155
the value back in set4_2fake is now 109285    9.204155
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 884763263050.0, index: 82, id: 552207
the previous value is 10.832062 and the after value is 9.92984
estimated value is 10.380951
the value back in set4_2fake is now 13892    10.380951
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 670014898200.0, index: 26, id: 600854
the previous value is 0.8117684000000001 and the after value is 1.0906258999999998
estimated value is 0.9511971499999999
the value back in set4_2fake is now 15165    0.951197
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 627065225358.0, index: 21, id: 604553
the previous value is 7.586028 and the after value is 7.674613499999999
estimated value is 7.630320749999999
the value back in set4_2fake is now 15255    7.630321
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 798863917099.0, index: 11, id: 682377
the previous value is 3.347196 and the after value is 0.41420954
estimated value is 1.8807027699999999
the value back in set4_2fake is now 17202    1.880703
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 747324309633.0, index: 18, id: 3268084
the previous value is -1.8795058 and the after value is -1.6065584
estimated value is -1.7430321
the value back in set4_2fake is now 82677   -1.743032
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 747324309633.0, index: 36, id: 689410
the previous value is -1.3455825 and the after value is -2.19555
estimated value is -1.77056625
the value back in set4_2fake is now 17380   -1.770566
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 858993459262.0, index: 2, id: 730313
the previous value is -1.9822509765625 and the after value is -1.35958251953125
estimated value is -1.6709167480468752
the value back in set4_2fake is now 18453   -1.670917
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 858993459262.0, index: 26, id: 3591578
the previous value is -0.260491943359375 and the after value is -2.310333251953125
estimated value is -1.28541259765625
the value back in set4_2fake is now 90569   -1.285413
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 678604832949.0, index: 1, id: 738176
the previous value is 0.708 and the after value is 0.972
estimated value is 0.84
the value back in set4_2fake is now 18649    0.84
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 678604832949.0, index: 13, id: 6455478
the previous value is 0.528 and the after value is 0.845

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           850
Bearing           1116
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x             877
gyro_y             836
gyro_z            1020
second             662
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_2fake gyro_x
justnullsdf = set4_2fake[set4_2fake['gyro_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_x']) # finding the standard deviation of gyro_x
    nulldf = bookingidx[bookingidx['gyro_x'].isnull()] # make dataframe of records with gyro_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 7] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'gyro_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 584115552390.0, index: 26, id: 4978695
the previous value is 0.05162684 and the after value is -0.012601277
estimated value is 0.0195127815
the value back in set4_2fake is now 125131    0.019513
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552390.0, index: 145, id: 41903
the previous value is -0.0235793979999999 and the after value is -0.08494517
estimated value is -0.05426228399999995
the value back in set4_2fake is now 1012   -0.054262
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552390.0, index: 148, id: 6211327
the previous value is 0.0898321 and the after value is 0.0808262
estimated value is 0.08532914999999999
the value back in set4_2fake is now 156531    0.085329
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552390.0, index: 153, id: 5252576
the previous value is -0.019914206 and the after value is 0.041852996
estimated value is 0.010969395000000002
the value back in set4_2fake is now 131930    0.010969
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552390.0, index: 233, id: 3280288
the previous value is 0.16315338 and the after value is -0.0254643539999999
estimated value is 0.06884451300000004
the value back in set4_2fake is now 82985    0.068845
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552390.0, index: 254, id: 6932200
the previous value is -0.0073827426 and the after value is 0.097337015
estimated value is 0.0449771362
the value back in set4_2fake is now 174600    0.044977
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 755914244248.0, index: 64, id: 7021960
the previous value is 0.0568307923978549 and the after value is 0.1097230358595916
estimated value is 0.08327691412872325
the value back in set4_2fake is now 176826    0.083277
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 755914244248.0, index: 93, id: 47372
the previous value is -0.0154876133193558 and the after value is -0.1103680534756088
estimated value is -0.0629278333974823
the value back in set4_2fake is now 1151   -0.062928
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 755914244248.0, index: 146, id: 1997462
the previous value is 0.1966928223138732 and the after value is 0.2355893552989166
estimated value is 0.21614108880639488
the value back in set4_2fake is now 50455    0.216141
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 747324309519.0, index: 0, id: 74160
the after value is 0.030615255
estimated value is -0.022174483621502206
the value back in set4_2fake is now 1773   -0.022174
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 80, id: 89073
the previous value is -0.0306923989309452 and the after value is 0.034316694858434
estimated value is 0.0018121479637444003
the value back in set4_2fake is now 2140    0.001812
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 122, id: 1610819
the previous value is 0.0035169705355586 and the after value is 0.0045811697071543
estimated value is 0.00404907012135645
the value back in set4_2fake is now 40815    0.004049
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 601295421572.0, index: 167, id: 585339
the previous value is -0.0422063095877937 and the after value is -0.0185390632963686
estimated value is -0.030372686442081152
the value back in set4_2fake is now 14759   -0.030373
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 953482739813.0, index: 13, id: 126349
the previous value is 0.044515584 and the after value is 0.21861218
estimated value is 0.131563882
the value back in set4_2fake is now 3110    0.131564
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 747324309597.0, index: 1, id: 7066858
the previous value is -0.010352944 and the after value is 0.067837805
estimated value is 0.0287424305
the value back in set4_2fake is now 177991    0.028742
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 747324309597.0, index: 16, id: 133135
the previous value is -0.0005791003 and the after value is -0.0036334265
estimated value is -0.0021062634
the value back in set4_2fake is now 3280   -0.002106
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 987842478182.0, index: 16, id: 149333
the previous value is 0.4057140999999999 and the after value is 0.9023475
estimated value is 0.6540307999999999
the value back in set4_2fake is now 3672    0.654031
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 52, id: 6596272
the previous value is 0.0010511496822542 and the after value is 0.0382299437641964
estimated value is 0.0196405467232253
the value back in set4_2fake is now 166218    0.019641
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 67, id: 4294110
the previous value is 0.0126819731109573 and the after value is 0.001109206594018
estimated value is 0.00689558985248765
the value back in set4_2fake is now 107825    0.006896
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 884763263001.0, index: 169, id: 157842
the previous value is -0.0053329800828836 and the after value is -0.0150655022865782
estimated value is -0.0101992411847309
the value back in set4_2fake is now 3886   -0.010199
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 566935683233.0, index: 15, id: 160514
the previous value is 0.036826447 and the after value is 0.009145525
estimated value is 0.022985986
the value back in set4_2fake is now 3951    0.022986
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 919123001427.0, index: 81, id: 5089407
the previous value is -0.009536743 and the after value is -0.00982666
estimated value is -0.0096817015
the value back in set4_2fake is now 127860   -0.009682
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 919123001427.0, index: 111, id: 193597
the previous value is 0.030410767 and the after value is 0.014587402
estimated value is 0.0224990845
the value back in set4_2fake is now 4786    0.022499
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 919123001427.0, index: 198, id: 1851387
the previous value is -0.0259704589999999 and the after value is -0.004135132
estimated value is -0.01505279549999995
the value back in set4_2fake is now 46839   -0.015053
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 919123001427.0, index: 208, id: 3103209
the previous value is 0.0018310547 and the after value is -0.03515625
estimated value is -0.01666259765
the value back in set4_2fake is now 78530   -0.016663
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 798863917057.0, index: 26, id: 228479
the previous value is -0.0960522310358878 and the after value is -0.1275433119777478
estimated value is -0.1117977715068178
the value back in set4_2fake is now 5636   -0.111798
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543584.0, index: 29, id: 247227
the previous value is -0.02168083 and the after value is -0.010685255
estimated value is -0.0161830425
the value back in set4_2fake is now 6114   -0.016183
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543584.0, index: 63, id: 2149749
the previous value is 0.025355795 and the after value is 0.014971086
estimated value is 0.0201634405
the value back in set4_2fake is now 54382    0.020163
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552264.0, index: 118, id: 6747945
the previous value is 0.059610322 and the after value is 0.07344412
estimated value is 0.066527221
the value back in set4_2fake is now 169947    0.066527
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 584115552264.0, index: 173, id: 259588
the previous value is -0.04682332 and the after value is -0.03193273
estimated value is -0.039378025
the value back in set4_2fake is now 6461   -0.039378
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 798863917083.0, index: 31, id: 291927
the previous value is -0.0245787739999999 and the after value is 0.0627749559999999
estimated value is 0.019098090999999998
the value back in set4_2fake is now 7280    0.019098
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 798863917083.0, index: 42, id: 6990468
the previous value is 0.011462276 and the after value is 0.023068717
estimated value is 0.017265496499999998
the value back in set4_2fake is now 176049    0.017265
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 987842478248.0, index: 17, id: 5568961
the previous value is -0.03702393 and the after value is -0.03519134
estimated value is -0.036107635
the value back in set4_2fake is now 140007   -0.036108
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 987842478248.0, index: 21, id: 294572
the previous value is -0.03335874 and the after value is -0.0266392229999999
estimated value is -0.02999898149999995
the value back in set4_2fake is now 7359   -0.029999
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 678604832955.0, index: 50, id: 4199465
the previous value is 0.019006463 and the after value is -0.1538684
estimated value is -0.0674309685
the value back in set4_2fake is now 105424   -0.067431
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 678604832955.0, index: 52, id: 299324
the previous value is -0.1538684 and the after value is 0.031834632
estimated value is -0.06101688399999999
the value back in set4_2fake is now 7492   -0.061017
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 678604832955.0, index: 61, id: 4308464
the previous value is 0.0232825189999999 and the after value is 0.076427795
estimated value is 0.049855156999999956
the value back in set4_2fake is now 108176    0.049855
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 7, id: 6311588
the previous value is 0.14247271 and the after value is 0.10215561
estimated value is 0.12231416
the value back in set4_2fake is now 159123    0.122314
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 65, id: 312204
the previous value is 0.13208799 and the after value is 0.097268686
estimated value is 0.11467833799999999
the value back in set4_2fake is now 7837    0.114678
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 953482739856.0, index: 70, id: 2397526
the previous value is 0.017245337 and the after value is 0.11254031
estimated value is 0.0648928235
the value back in set4_2fake is now 60645    0.064893
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 962072674444.0, index: 12, id: 7019338
the previous value is 0.0647893829994477 and the after value is 0.0182280060810473
estimated value is 0.0415086945402475
the value back in set4_2fake is now 176769    0.041509
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 962072674444.0, index: 55, id: 325774
the previous value is 0.0124393591356511 and the after value is -0.0603722640154422
estimated value is -0.02396645243989555
the value back in set4_2fake is now 8170   -0.023966
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 962072674444.0, index: 88, id: 4361463
the previous value is 0.0276848911119187 and the after value is -0.0308066485417096
estimated value is -0.00156087871489545
the value back in set4_2fake is now 109485   -0.001561
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 37, id: 376343
the previous value is 0.0695630992534147 and the after value is -0.509452596520016
estimated value is -0.21994474863330063
the value back in set4_2fake is now 9514   -0.219945
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 790273982612.0, index: 5, id: 397253
the previous value is -0.018328333 and the after value is -0.131964
estimated value is -0.0751461665
the value back in set4_2fake is now 10037   -0.075146
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 558345748607.0, index: 32, id: 440523
the previous value is 0.012577715 and the after value is 0.02112983
estimated value is 0.0168537725
the value back in set4_2fake is now 11070    0.016854
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 884763263132.0, index: 47, id: 456231
the previous value is 0.0006868292451314 and the after value is 0.0258640878746315
estimated value is 0.01327545855988145
the value back in set4_2fake is now 11465    0.013275
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543510.0, index: 2, id: 4056552
the previous value is -0.12788342 and the after value is 0.07248039
estimated value is -0.027701514999999996
the value back in set4_2fake is now 101841   -0.027702
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543510.0, index: 26, id: 4924967
the previous value is -0.06252084 and the after value is 0.037661064
estimated value is -0.012429887999999997
the value back in set4_2fake is now 123721   -0.01243
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543510.0, index: 52, id: 5584121
the previous value is 0.041937124 and the after value is -0.17492004
estimated value is -0.066491458
the value back in set4_2fake is now 140421   -0.066491
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543510.0, index: 72, id: 4152511
the previous value is -0.08390112 and the after value is -0.09428583
estimated value is -0.089093475
the value back in set4_2fake is now 104247   -0.089093
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 979252543510.0, index: 109, id: 464279
the previous value is -0.18591562 and the after value is -0.0020451767
estimated value is -0.09398039835000001
the value back in set4_2fake is now 11672   -0.09398
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 755914244199.0, index: 6, id: 479693
the previous value is -0.0843124843186005 and the after value is -0.2507528619136097
estimated value is -0.1675326731161051
the value back in set4_2fake is now 12069   -0.167533
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 919123001423.0, index: 37, id: 483746
the previous value is -0.032044157 and the after value is 0.079744175
estimated value is 0.023850009000000002
the value back in set4_2fake is now 12160    0.02385
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 721554505792.0, index: 22, id: 485869
the previous value is -0.033265974 and the after value is -0.11526154
estimated value is -0.074263757
the value back in set4_2fake is now 12225   -0.074264
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 592705486863.0, index: 1, id: 497798
the previous value is 0.013183594 and the after value is -0.004501343
estimated value is 0.0043411255
the value back in set4_2fake is now 12541    0.004341
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 652835029003.0, index: 45, id: 516507
the previous value is -0.0118625184435399 and the after value is -0.0625267613373163
estimated value is -0.0371946398904281
the value back in set4_2fake is now 12988   -0.037195
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 652835029003.0, index: 47, id: 6551535
the previous value is -0.0625267613373163 and the after value is 0.016939835061776
estimated value is -0.02279346313777015
the value back in set4_2fake is now 165117   -0.022793
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           850
Bearing           1115
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y             836
gyro_z            1019
second             662
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_2fake gyro_y
justnullsdf = set4_2fake[set4_2fake['gyro_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_y']) # finding the standard deviation of gyro_y
    nulldf = bookingidx[bookingidx['gyro_y'].isnull()] # make dataframe of records with gyro_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 8] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'gyro_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 730144440472.0, index: 13, id: 6118
the previous value is -0.0828011403999806 and the after value is -0.5220392284639485
estimated value is -0.3024201844319645
the value back in set4_2fake is now 154   -0.30242
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 695784702012.0, index: 48, id: 11375
the previous value is -0.084741056 and the after value is -0.018767612
estimated value is -0.051754334
the value back in set4_2fake is now 296   -0.051754
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 695784702012.0, index: 53, id: 3187493
the previous value is 0.06492093 and the after value is -0.14155152
estimated value is -0.03831529499999999
the value back in set4_2fake is now 80613   -0.038315
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 5, id: 1544006
the previous value is -0.11894026 and the after value is -0.31999576
estimated value is -0.21946801000000002
the value back in set4_2fake is now 39098   -0.219468
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 20, id: 5776677
the previous value is -2.24851 and the after value is -0.9532143
estimated value is -1.60086215
the value back in set4_2fake is now 145325   -1.600862
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 23, id: 15412
the previous value is 0.5657825 and the after value is -0.1269751999999999
estimated value is 0.21940365000000003
the value back in set4_2fake is now 384    0.219404
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 122, id: 6901821
the after value is nan
estimated value is 0.5679093849693831
the value back in set4_2fake is now 173867    0.567909
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 123, id: 1118020
the after value is nan
estimated value is 1.1578554839387663
the value back in set4_2fake is now 28362    1.157855
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 124, id: 652623
the previous value is 1.1578554839387663 and the after value is -0.12474627
estimated value is 0.5165546069693832
the value back in set4_2fake is now 16453    0.516555
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 133, id: 1640768
the previous value is -0.047619093 and the after value is -0.80337745
estimated value is -0.4254982715
the value back in set4_2fake is now 41588   -0.425498
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 927712936063.0, index: 185, id: 7389096
the previous value is -0.0066039193999999 and the after value is -0.16979414
estimated value is -0.08819902969999996
the value back in set4_2fake is now 186089   -0.088199
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 876173328398.0, index: 35, id: 17356
the previous value is 0.08877222 and the after value is 0.025421713
estimated value is 0.0570969665
the value back in set4_2fake is now 429    0.057097
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 876173328398.0, index: 77, id: 1990041
the previous value is 0.070104286 and the after value is -0.0592461529999999
estimated value is 0.0054290665000000515
the value back in set4_2fake is now 50276    0.005429
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 876173328398.0, index: 133, id: 207471
the previous value is -0.63345194 and the after value is 1.0848035
estimated value is 0.22567578
the value back in set4_2fake is now 5109    0.225676
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 807453851706.0, index: 66, id: 7257777
the previous value is -0.008239746 and the after value is -0.008026123
estimated value is -0.0081329345
the value back in set4_2fake is now 182819   -0.008133
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 807453851706.0, index: 80, id: 18649
the after value is nan
estimated value is 0.012936136516445533
the value back in set4_2fake is now 457    0.012936
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 807453851706.0, index: 81, id: 5699938
the previous value is 0.012936136516445533 and the after value is -0.0023040771
estimated value is 0.005316029708222767
the value back in set4_2fake is now 143387    0.005316
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 807453851706.0, index: 142, id: 646674
the previous value is -0.004760742 and the after value is -0.004272461
estimated value is -0.0045166015
the value back in set4_2fake is now 16290   -0.004517
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 962072674422.0, index: 6, id: 1512438
the previous value is 0.008255005 and the after value is -0.07350159
estimated value is -0.032623292500000005
the value back in set4_2fake is now 38307   -0.032623
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 962072674422.0, index: 12, id: 21246
the previous value is 0.0005340576 and the after value is 0.0016021729
estimated value is 0.00106811525
the value back in set4_2fake is now 525    0.001068
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 962072674422.0, index: 30, id: 2579786
the previous value is -0.037872314 and the after value is -0.013412476
estimated value is -0.025642395
the value back in set4_2fake is now 65239   -0.025642
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 670014898338.0, index: 40, id: 1100794
the previous value is -0.119167596 and the after value is 0.13189803
estimated value is 0.006365216999999999
the value back in set4_2fake is now 27906    0.006365
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 670014898338.0, index: 56, id: 22454
the previous value is -0.028759535 and the after value is -0.04097684
estimated value is -0.0348681875
the value back in set4_2fake is now 549   -0.034868
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 670014898338.0, index: 84, id: 1172131
the previous value is -0.05624847 and the after value is -0.04769636
estimated value is -0.051972415
the value back in set4_2fake is now 29742   -0.051972
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 575525617840.0, index: 24, id: 39636
the previous value is -0.1093936028327488 and the after value is -0.0111916681649489
estimated value is -0.060292635498848855
the value back in set4_2fake is now 957   -0.060293
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 919123001470.0, index: 58, id: 42448
the previous value is -0.12463594 and the after value is -0.23755397
estimated value is -0.181094955
the value back in set4_2fake is now 1027   -0.181095
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 1, id: 1709906
the previous value is 0.0084499438227124 and the after value is -0.0018125474379079
estimated value is 0.0033186981924022496
the value back in set4_2fake is now 43295    0.003319
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 47, id: 822474
the previous value is -0.0795057448671165 and the after value is -0.0598630676150191
estimated value is -0.06968440624106781
the value back in set4_2fake is now 20826   -0.069684
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 131, id: 44685
the previous value is -0.0117480025166665 and the after value is -0.0856568480368725
estimated value is -0.0487024252767695
the value back in set4_2fake is now 1082   -0.048702
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 893353197594.0, index: 152, id: 111298
the previous value is -0.0355097910267895 and the after value is -0.0669609245522983
estimated value is -0.0512353577895439
the value back in set4_2fake is now 2694   -0.051235
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 592705486904.0, index: 1, id: 45229
the previous value is 0.018341064 and the after value is 0.0642395
estimated value is 0.041290282000000005
the value back in set4_2fake is now 1094    0.04129
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 592705486904.0, index: 20, id: 2830191
the previous value is -0.15686035 and the after value is -0.24690247
estimated value is -0.20188141
the value back in set4_2fake is now 71524   -0.201881
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 592705486904.0, index: 37, id: 1401659
the previous value is -0.025146484 and the after value is -0.025848389
estimated value is -0.025497436499999998
the value back in set4_2fake is now 35513   -0.025497
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 730144440422.0, index: 17, id: 47992
the previous value is 0.008090695 and the after value is 0.04107739
estimated value is 0.0245840425
the value back in set4_2fake is now 1172    0.024584
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 730144440422.0, index: 34, id: 793699
the previous value is 0.03335964 and the after value is 0.0058260285
estimated value is 0.019592834250000003
the value back in set4_2fake is now 20096    0.019593
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 747324309595.0, index: 42, id: 48593
the previous value is 0.22418755 and the after value is 0.4550946
estimated value is 0.339641075
the value back in set4_2fake is now 1181    0.339641
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 747324309595.0, index: 75, id: 1837497
the previous value is -0.029932398 and the after value is -0.04642576
estimated value is -0.038179079000000005
the value back in set4_2fake is now 46496   -0.038179
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 747324309595.0, index: 89, id: 2425334
the previous value is -0.1423316 and the after value is -0.03970624
estimated value is -0.09101892
the value back in set4_2fake is now 61319   -0.091019
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 747324309595.0, index: 137, id: 1803468
the previous value is -0.116675265 and the after value is -0.09712757
estimated value is -0.1069014175
the value back in set4_2fake is now 45642   -0.106901
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 549755814028.0, index: 33, id: 50146
the previous value is -0.027442511 and the after value is -0.031107701
estimated value is -0.029275106000000002
the value back in set4_2fake is now 1218   -0.029275
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 695784701995.0, index: 21, id: 584361
the previous value is -0.0043640137 and the after value is -0.03074646
estimated value is -0.01755523685
the value back in set4_2fake is now 14727   -0.017555
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 695784701995.0, index: 143, id: 359086
the previous value is -0.0069274902 and the after value is -0.0240325929999999
estimated value is -0.01548004159999995
the value back in set4_2fake is now 9072   -0.01548
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 695784701995.0, index: 155, id: 53795
the previous value is 0.0015716553 and the after value is 0.0019989014
estimated value is 0.00178527835
the value back in set4_2fake is now 1307    0.001785
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 618475290753.0, index: 68, id: 1609586
the previous value is -0.0245279799557387 and the after value is 0.1949255486144967
estimated value is 0.08519878432937901
the value back in set4_2fake is now 40780    0.085199
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 618475290753.0, index: 87, id: 54055
the previous value is -0.0527186053586635 and the after value is 0.1239677518982074
estimated value is 0.03562457326977195
the value back in set4_2fake is now 1313    0.035625
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 618475290753.0, index: 142, id: 3105477
the previous value is -0.1316235410838582 and the after value is -0.0123501432391334
estimated value is -0.0719868421614958
the value back in set4_2fake is now 78578   -0.071987
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 618475290753.0, index: 159, id: 1669595
the previous value is -0.1148016840583727 and the after value is 0.0986208499072693
estimated value is -0.0080904170755517
the value back in set4_2fake is now 42307   -0.00809
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 807453851835.0, index: 18, id: 83036
the previous value is 0.03441737 and the after value is 0.0215892
estimated value is 0.028003285000000003
the value back in set4_2fake is now 1984    0.028003
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 712964571199.0, index: 48, id: 91322
the previous value is -0.11451593 and the after value is -0.09960223
estimated value is -0.10705908
the value back in set4_2fake is now 2193   -0.107059
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 712964571199.0, index: 108, id: 836641
the previous value is -0.15393071 and the after value is -0.1222391
estimated value is -0.138084905
the value back in set4_2fake is now 21186   -0.138085
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 712964571199.0, index: 125, id: 155901
the previous value is -0.09986854 and the after value is -0.15739283
estimated value is -0.12863068500000002
the value back in set4_2fake is now 3850   -0.128631
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 670014898275.0, index: 16, id: 93472
the previous value is -0.12650016 and the after value is -0.10972224
estimated value is -0.1181112
the value back in set4_2fake is now 2253   -0.118111
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 730144440428.0, index: 10, id: 94119
the previous value is 0.040237427 and the after value is 0.1030426
estimated value is 0.0716400135
the value back in set4_2fake is now 2268    0.07164
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 730144440428.0, index: 50, id: 1954512
the previous value is -0.9052124 and the after value is -0.21307373
estimated value is -0.559143065
the value back in set4_2fake is now 49409   -0.559143
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 738734375035.0, index: 81, id: 103066
the previous value is 0.0483472927454075 and the after value is -0.0347151037575098
estimated value is 0.006816094493948849
the value back in set4_2fake is now 2482    0.006816
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 738734375035.0, index: 121, id: 2890362
the previous value is 0.0418933881597094 and the after value is -0.1075288574374753
estimated value is -0.03281773463888295
the value back in set4_2fake is now 73085   -0.032818
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 738734375035.0, index: 139, id: 2404901
the previous value is -0.0071772191377635 and the after value is -0.0637992197061562
estimated value is -0.03548821942195984
the value back in set4_2fake is now 60820   -0.035488
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 850403524721.0, index: 15, id: 103935
the previous value is 0.11449386 and the after value is 0.016755423
estimated value is 0.0656246415
the value back in set4_2fake is now 2505    0.065625
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 584115552366.0, index: 88, id: 107522
the previous value is 0.016215418 and the after value is 0.04065003
estimated value is 0.028432724
the value back in set4_2fake is now 2583    0.028433
Name: gyro_y, dtype: float64

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           849
Bearing           1115
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z            1019
second             661
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_2fake gyro_z
justnullsdf = set4_2fake[set4_2fake['gyro_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_2fake[set4_2fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_2fake = set4_2fake.drop(set4_2fake[set4_2fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_z']) # finding the standard deviation of gyro_z
    nulldf = bookingidx[bookingidx['gyro_z'].isnull()] # make dataframe of records with gyro_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 9] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_2fake[set4_2fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_2fake.at[int(realindex),'gyro_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_2fake[set4_2fake.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        print(f'the value back in set4_2fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 970662608898.0, index: 12, id: 5450
the previous value is 0.057858713 and the after value is 0.08473679
estimated value is 0.0712977515
the value back in set4_2fake is now 136    0.071298
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 970662608898.0, index: 37, id: 542038
the previous value is 0.030369775 and the after value is -0.0227755
estimated value is 0.0037971375000000005
the value back in set4_2fake is now 13636    0.003797
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 738734374954.0, index: 80, id: 9434
the previous value is -0.02687807 and the after value is -0.014660766
estimated value is -0.020769418
the value back in set4_2fake is now 250   -0.020769
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 738734374954.0, index: 106, id: 5182870
the previous value is -0.019547688 and the after value is -0.05375614
estimated value is -0.036651914
the value back in set4_2fake is now 130146   -0.036652
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 738734374954.0, index: 116, id: 6452407
the previous value is 0.010995574 and the after value is -0.0012217305
estimated value is 0.004886921749999999
the value back in set4_2fake is now 162630    0.004887
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 738734374954.0, index: 146, id: 2491007
the previous value is 0.007330383 and the after value is -0.0219911489999999
estimated value is -0.007330382999999951
the value back in set4_2fake is now 62989   -0.00733
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 910533066787.0, index: 2, id: 6259955
the previous value is 0.003921509 and the after value is -0.025650024
estimated value is -0.0108642575
the value back in set4_2fake is now 157839   -0.010864
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 910533066787.0, index: 12, id: 13202
the previous value is -0.0038909912 and the after value is -0.0008544922
estimated value is -0.0023727417
the value back in set4_2fake is now 340   -0.002373
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 910533066787.0, index: 21, id: 2097715
the previous value is 0.026687622 and the after value is -0.0039978027
estimated value is 0.01134490965
the value back in set4_2fake is now 53029    0.011345
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 910533066787.0, index: 26, id: 1081400
the previous value is -0.005996704 and the after value is 0.002746582
estimated value is -0.0016250610000000001
the value back in set4_2fake is now 27413   -0.001625
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 19, id: 1450097
the previous value is 0.019929461 and the after value is 0.024755292
estimated value is 0.0223423765
the value back in set4_2fake is now 36757    0.022342
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 38, id: 6151616
the previous value is 0.012232565 and the after value is -0.044638943
estimated value is -0.016203189
the value back in set4_2fake is now 155013   -0.016203
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 58, id: 6510444
the previous value is -0.0040775225 and the after value is 0.0052687093
estimated value is 0.0005955934000000003
the value back in set4_2fake is now 164052    0.000596
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 126, id: 14667
the previous value is -0.030650139 and the after value is -0.045494154
estimated value is -0.0380721465
the value back in set4_2fake is now 373   -0.038072
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 129, id: 555543
the previous value is -0.048731733 and the after value is -0.0257021339999999
estimated value is -0.03721693349999995
the value back in set4_2fake is now 13985   -0.037217
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 148, id: 2738054
the previous value is 0.0062460913 and the after value is -0.014950916
estimated value is -0.004352412349999999
the value back in set4_2fake is now 69187   -0.004352
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 169, id: 465886
the previous value is 0.0051465356 and the after value is -0.0002901609399999
estimated value is 0.00242818733000005
the value back in set4_2fake is now 11722    0.002428
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 198, id: 5261479
the previous value is 0.033185225 and the after value is 0.018646644
estimated value is 0.0259159345
the value back in set4_2fake is now 132157    0.025916
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 627065225234.0, index: 213, id: 5480518
the previous value is 0.012110392 and the after value is -0.020570874
estimated value is -0.004230241
the value back in set4_2fake is now 137752   -0.00423
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 695784702029.0, index: 54, id: 2467423
the previous value is -0.03392929 and the after value is 0.010053009
estimated value is -0.0119381405
the value back in set4_2fake is now 62398   -0.011938
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 695784702029.0, index: 65, id: 5459815
the previous value is -0.020490253 and the after value is 0.021048583
estimated value is 0.0002791649999999996
the value back in set4_2fake is now 137240    0.000279
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 695784702029.0, index: 83, id: 23213
the previous value is 0.021048583 and the after value is 0.02288118
estimated value is 0.0219648815
the value back in set4_2fake is now 574    0.021965
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 695784702029.0, index: 112, id: 2338896
the previous value is 0.0008900307 and the after value is 0.008220413
estimated value is 0.00455522185
the value back in set4_2fake is now 59201    0.004555
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 755914244169.0, index: 24, id: 1443234
the previous value is -0.0218187461788011 and the after value is -0.0612649556128368
estimated value is -0.04154185089581895
the value back in set4_2fake is now 36583   -0.041542
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 755914244169.0, index: 50, id: 26714
the previous value is -0.0136231342401913 and the after value is -0.2949618686411431
estimated value is -0.1542925014406672
the value back in set4_2fake is now 647   -0.154293
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 5, id: 7199232
the previous value is 0.06479509 and the after value is -0.09158642
estimated value is -0.013395665000000001
the value back in set4_2fake is now 181326   -0.013396
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 20, id: 6070718
the previous value is 0.13687718 and the after value is -0.08547776
estimated value is 0.025699709999999994
the value back in set4_2fake is now 152958    0.0257
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 67, id: 1105591
the previous value is 0.037306152 and the after value is 0.042193074
estimated value is 0.039749613
the value back in set4_2fake is now 28018    0.03975
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 72, id: 580276
the previous value is -0.013395664 and the after value is 0.035473555
estimated value is 0.011038945499999998
the value back in set4_2fake is now 14619    0.011039
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 90, id: 518361
the previous value is -0.04332806 and the after value is 0.024477981
estimated value is -0.009425039500000001
the value back in set4_2fake is now 13027   -0.009425
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 96, id: 28478
the previous value is 0.07884499 and the after value is 0.12160555
estimated value is 0.10022527
the value back in set4_2fake is now 697    0.100225
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 104, id: 7463091
the previous value is 0.0415822079999999 and the after value is 0.00798462
estimated value is 0.024783413999999948
the value back in set4_2fake is now 187969    0.024783
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 841813590125.0, index: 166, id: 53396
the previous value is 0.06418422 and the after value is 0.16070093
estimated value is 0.11244257499999999
the value back in set4_2fake is now 1299    0.112443
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 609885356182.0, index: 0, id: 35108
the after value is 0.15273611
estimated value is 0.10528019897822631
the value back in set4_2fake is now 846    0.10528
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 609885356182.0, index: 7, id: 2398242
the previous value is 0.05620689 and the after value is 0.028103445
estimated value is 0.0421551675
the value back in set4_2fake is now 60659    0.042155
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 32, id: 6632911
the previous value is 0.00567168 and the after value is 0.0043399953
estimated value is 0.00500583765
the value back in set4_2fake is now 167164    0.005006
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 102, id: 38888
the previous value is -0.012295171 and the after value is 0.0038961307
estimated value is -0.00419952015
the value back in set4_2fake is now 933   -0.0042
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 119, id: 7261296
the previous value is 0.0015619338 and the after value is -0.0084427859999999
estimated value is -0.00344042609999995
the value back in set4_2fake is now 182912   -0.00344
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 121, id: 7345537
the previous value is -0.0084427859999999 and the after value is 0.038391862
estimated value is 0.01497453800000005
the value back in set4_2fake is now 185024    0.014975
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 139, id: 5701583
the previous value is 0.0094365375 and the after value is 0.0046467491999999
estimated value is 0.007041643349999949
the value back in set4_2fake is now 143427    0.007042
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 158, id: 1795266
the after value is nan
estimated value is 0.0017288488046194837
the value back in set4_2fake is now 45431    0.001729
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 159, id: 6136566
the previous value is 0.0017288488046194837 and the after value is -0.010350637
estimated value is -0.004310894097690258
the value back in set4_2fake is now 154616   -0.004311
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 214, id: 6021758
the previous value is -0.019917142 and the after value is -0.0015192267999999
estimated value is -0.010718184399999948
the value back in set4_2fake is now 151689   -0.010718
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 245, id: 2165805
the previous value is 0.0619679729999999 and the after value is -0.061050035
estimated value is 0.000458968999999948
the value back in set4_2fake is now 54772    0.000459
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 256, id: 6152684
the previous value is 0.0432126859999999 and the after value is 0.0034831944
estimated value is 0.02334794019999995
the value back in set4_2fake is now 155034    0.023348
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 275, id: 2866697
the previous value is 0.023768255 and the after value is -0.002200282
estimated value is 0.010783986499999999
the value back in set4_2fake is now 72478    0.010784
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 687194767501.0, index: 290, id: 6541282
the previous value is 0.02883595 and the after value is -0.020093147
estimated value is 0.0043714015
the value back in set4_2fake is now 164860    0.004371
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 601295421561.0, index: 30, id: 40004
the previous value is 0.030543262 and the after value is 0.04642576
estimated value is 0.038484511
the value back in set4_2fake is now 965    0.038485
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 927712936028.0, index: 2, id: 40687
the previous value is -0.04293833 and the after value is 0.0425828059999999
estimated value is -0.00017776200000005002
the value back in set4_2fake is now 983   -0.000178
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 927712936028.0, index: 5, id: 1490186
the previous value is -0.0062864143 and the after value is -0.02339064
estimated value is -0.014838527150000001
the value back in set4_2fake is now 37759   -0.014839
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 712964571155.0, index: 1, id: 1080329
the previous value is 0.039002527 and the after value is 0.038391657
estimated value is 0.038697092
the value back in set4_2fake is now 27391    0.038697
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 712964571155.0, index: 19, id: 2734199
the previous value is 0.010902723 and the after value is -0.014142752
estimated value is -0.0016200145
the value back in set4_2fake is now 69091   -0.00162
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 712964571155.0, index: 37, id: 41360
the previous value is -0.03369044 and the after value is -0.006201504
estimated value is -0.019945972
the value back in set4_2fake is now 999   -0.019946
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 712964571148.0, index: 16, id: 45476
the previous value is 0.0063323975 and the after value is -0.0077209473
estimated value is -0.0006942749000000002
the value back in set4_2fake is now 1105   -0.000694
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 38, id: 47706
the previous value is -0.0029718214604194 and the after value is -0.0006668555369558
estimated value is -0.0018193384986876
the value back in set4_2fake is now 1166   -0.001819
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 575525617766.0, index: 62, id: 1135574
the previous value is 0.0144694868346185 and the after value is -0.0759000910672582
estimated value is -0.03071530211631985
the value back in set4_2fake is now 28817   -0.030715
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 575525617692.0, index: 4, id: 5648509
the previous value is -0.1113753999999999 and the after value is -0.02218907
estimated value is -0.06678223499999995
the value back in set4_2fake is now 142080   -0.066782
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 575525617692.0, index: 18, id: 5383862
the previous value is 0.024236688 and the after value is -0.019134743
estimated value is 0.0025509725
the value back in set4_2fake is now 135281    0.002551
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 575525617692.0, index: 24, id: 4943842
the previous value is 0.0077433274 and the after value is 0.0553908159999999
estimated value is 0.03156707169999995

In [ ]:
set4_2fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy           847
Bearing           1114
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z               0
second             661
Speed                0
dtype: int64

In [ ]:
set4_2fake.to_csv('set4_2done.csv')