In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

featuresdf=pd.read_csv('./csv/set4.csv', index_col=0)
featuresdf = featuresdf.reset_index()
set4fake = featuresdf.copy()
for column in ['acceleration_x','acceleration_y','acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z','second', 'Speed']:
    justnullsdf = set4fake[set4fake[column].isnull()]
    bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
    rows = 0
    for i in range (len(bookingids)):
        bookingidx = set4fake[set4fake['bookingID']==bookingids[i]]
        if bookingidx[column].isnull().all().all():
            set4fake = set4fake.drop(set4fake[set4fake.bookingID == bookingids[i]].index)
            
uniqueValues = set4fake['bookingID'].unique()
uniqueValues = np.sort(uniqueValues)
bookingids=featuresdf['bookingID'].unique()

In [ ]:
print(set4fake.shape)
set4_1fake = set4fake[set4fake['bookingID'].isin(uniqueValues[0:1650])]
print(set4_1fake.shape)
set4_2fake = set4fake[set4fake['bookingID'].isin(uniqueValues[1650:2900])]
print(set4_2fake.shape)
set4_3fake = set4fake[set4fake['bookingID'].isin(uniqueValues[2900:])]
print(set4_3fake.shape)
print(set4_1fake.shape[0] + set4_2fake.shape[0] + set4_3fake.shape[0])

(188106, 12)
(66258, 12)
(50640, 12)
(71208, 12)
188106

## SET 4-1

In [ ]:
# THIS IS ONLY FOR SET 3_1fake acceleration_x
justnullsdf = set4_1fake[set4_1fake['acceleration_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_x']) # finding the standard deviation of acceleration_x
    nulldf = bookingidx[bookingidx['acceleration_x'].isnull()] # make dataframe of records with acceleration_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 4] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'acceleration_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 455266533505.0, index: 0, id: 7424
the after value is 1.7095122
estimated value is 1.0759601608036866
the value back in set4_1fake is now 186    1.07596
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 455266533505.0, index: 9, id: 891768
the previous value is 2.2314641 and the after value is -0.076616794
estimated value is 1.077423653
the value back in set4_1fake is now 22612    1.077424
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 403726925887.0, index: 1, id: 967764
the previous value is 1.4940275 and the after value is 0.5794145
estimated value is 1.036721
the value back in set4_1fake is now 24514    1.036721
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 403726925887.0, index: 29, id: 1847500
the previous value is -0.7733508000000001 and the after value is -0.67279124
estimated value is -0.7230710200000001
the value back in set4_1fake is now 46728   -0.723071
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 403726925887.0, index: 74, id: 5266345
the previous value is 0.2944958 and the after value is 0.32083282
estimated value is 0.30766431
the value back in set4_1fake is now 132275    0.307664
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 403726925887.0, index: 97, id: 2293593
the previous value is -0.5913859 and the after value is -1.9465454
estimated value is -1.26896565
the value back in set4_1fake is now 58033   -1.268966
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 403726925887.0, index: 127, id: 23301
the previous value is -0.20111908 and the after value is -1.2905141000000002
estimated value is -0.7458165900000001
the value back in set4_1fake is now 576   -0.745817
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383728.0, index: 7, id: 25242
the previous value is 0.26870728 and the after value is 2.1931305
estimated value is 1.23091889
the value back in set4_1fake is now 612    1.230919
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383728.0, index: 11, id: 5665947
the previous value is -0.269989 and the after value is 2.0950165000000003
estimated value is 0.9125137500000001
the value back in set4_1fake is now 142520    0.912514
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 498216206340.0, index: 6, id: 4058816
the previous value is 0.85236186 and the after value is 0.4836435
estimated value is 0.6680026800000001
the value back in set4_1fake is now 101900    0.668003
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 498216206340.0, index: 25, id: 32643
the previous value is 1.0486923 and the after value is 0.4860377999999999
estimated value is 0.7673650499999999
the value back in set4_1fake is now 784    0.767365
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 85899346030.0, index: 27, id: 39330
the previous value is -0.6776428000000001 and the after value is 0.16798401
estimated value is -0.25482939500000007
the value back in set4_1fake is now 948   -0.254829
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 429496729742.0, index: 5, id: 4134211
the previous value is 2.2075214 and the after value is -1.7262721
estimated value is 0.24062465
the value back in set4_1fake is now 103805    0.240625
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 429496729742.0, index: 34, id: 43658
the previous value is 0.27294734
estimated value is 1.6836298443142788
the value back in set4_1fake is now 1057    1.68363
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 3, id: 468160
the previous value is 0.3440826416015625 and the after value is -0.0641510009765625
estimated value is 0.1399658203125
the value back in set4_1fake is now 11790    0.139966
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 54, id: 657117
the previous value is -3.09599609375 and the after value is -1.4282196044921875
estimated value is -2.2621078491210938
the value back in set4_1fake is now 16568   -2.262108
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 187, id: 85656
the previous value is -1.4730804443359375 and the after value is -1.58328857421875
estimated value is -1.5281845092773438
the value back in set4_1fake is now 2056   -1.528185
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 191, id: 2221005
the previous value is -1.9783630371093752 and the after value is -1.5170440673828125
estimated value is -1.7477035522460938
the value back in set4_1fake is now 56172   -1.747704
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 506806141045.0, index: 31, id: 90577
the previous value is -0.4668835999999999 and the after value is -0.53392327
estimated value is -0.500403435
the value back in set4_1fake is now 2172   -0.500403
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 16, id: 3433320
the previous value is 0.5434838000000001 and the after value is 0.021547815
estimated value is 0.28251580750000005
the value back in set4_1fake is now 86733    0.282516
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 23, id: 5331253
the previous value is 0.36391866 and the after value is -0.5650316
estimated value is -0.10055646999999998
the value back in set4_1fake is now 133925   -0.100556
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 69, id: 6233750
the previous value is 1.5346833 and the after value is 0.61770403
estimated value is 1.076193665
the value back in set4_1fake is now 157152    1.076194
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 73, id: 92262
the previous value is 0.31364042 and the after value is 4.3287168
estimated value is 2.3211786099999996
the value back in set4_1fake is now 2229    2.321179
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 78, id: 3305995
the previous value is 0.110133275 and the after value is -1.8962077
estimated value is -0.8930372125
the value back in set4_1fake is now 83620   -0.893037
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 95.0, index: 80, id: 4884947
the previous value is -1.8962077 and the after value is -1.3263878
estimated value is -1.6112977499999999
the value back in set4_1fake is now 122673   -1.611298
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 223338299412.0, index: 27, id: 97106
the previous value is 0.5675599 and the after value is 0.65604955
estimated value is 0.611804725
the value back in set4_1fake is now 2336    0.611805
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 35, id: 101148
the previous value is 1.4011539 and the after value is 0.8128889
estimated value is 1.1070214
the value back in set4_1fake is now 2434    1.107021
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 42, id: 685237
the previous value is -0.1657841 and the after value is 1.2147988
estimated value is 0.52450735
the value back in set4_1fake is now 17270    0.524507
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 54, id: 3435345
the previous value is -0.12729491 and the after value is -0.0528831259999999
estimated value is -0.09008901799999995
the value back in set4_1fake is now 86779   -0.090089
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 93, id: 6481264
the previous value is -0.71718794 and the after value is 0.5653285
estimated value is -0.07592971999999998
the value back in set4_1fake is now 163341   -0.07593
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 131, id: 6973741
the previous value is 0.65156764 and the after value is 0.13504256
estimated value is 0.3933051
the value back in set4_1fake is now 175631    0.393305
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 42949672984.0, index: 156, id: 546138
the previous value is 0.9055924 and the after value is 0.38478652
estimated value is 0.64518946
the value back in set4_1fake is now 13734    0.645189
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 4, id: 3942284
the previous value is -4.462791999999999 and the after value is 2.1523874
estimated value is -1.1552022999999998
the value back in set4_1fake is now 99021   -1.155202
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 15, id: 4398336
the previous value is -0.24899697 and the after value is 0.095768064
estimated value is -0.076614453
the value back in set4_1fake is now 110383   -0.076614
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 104, id: 4763866
the previous value is -1.7381904 and the after value is 2.4013843999999995
estimated value is 0.3315969999999998
the value back in set4_1fake is now 119583    0.331597
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 173, id: 3034898
the previous value is -3.8067808 and the after value is 0.60333884
estimated value is -1.6017209799999998
the value back in set4_1fake is now 76841   -1.601721
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 274, id: 101660
the previous value is 0.32800564 and the after value is -1.067814
estimated value is -0.36990418
the value back in set4_1fake is now 2443   -0.369904
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 283, id: 4375958
the previous value is 3.2393548 and the after value is -0.34476504
estimated value is 1.44729488
the value back in set4_1fake is now 109842    1.447295
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 309237645361.0, index: 10, id: 105054
the previous value is 1.3373016357421876 and the after value is 0.485992431640625
estimated value is 0.9116470336914063
the value back in set4_1fake is now 2526    0.911647
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 412316860574.0, index: 11, id: 106026
the previous value is -0.14844504 and the after value is 0.18196489
estimated value is 0.016759924999999995
the value back in set4_1fake is now 2547    0.01676
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 154618822753.0, index: 66, id: 106172
the previous value is 0.5980141 and the after value is 0.5002541
estimated value is 0.5491341000000001
the value back in set4_1fake is now 2552    0.549134
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 154618822753.0, index: 69, id: 5701436
the previous value is 0.9481901 and the after value is 1.0165589
estimated value is 0.9823744999999999
the value back in set4_1fake is now 143422    0.982374
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 154618822753.0, index: 131, id: 4799828
the previous value is 1.2290968999999998 and the after value is 0.8328565999999998
estimated value is 1.0309767499999998
the value back in set4_1fake is now 120508    1.030977
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 154618822753.0, index: 227, id: 6592609
the previous value is 1.3073874 and the after value is -0.52785444
estimated value is 0.38976648
the value back in set4_1fake is now 166130    0.389766
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 335007449217.0, index: 31, id: 931072
the previous value is -1.589 and the after value is -1.091
estimated value is -1.3399999999999999
the value back in set4_1fake is now 23593   -1.34
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 335007449217.0, index: 38, id: 3248888
the previous value is -1.187 and the after value is -0.632
estimated value is -0.9095
the value back in set4_1fake is now 82199   -0.9095
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 335007449217.0, index: 41, id: 123500
the previous value is -0.574 and the after value is -0.114
estimated value is -0.344
the value back in set4_1fake is now 3029   -0.344
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 335007449217.0, index: 48, id: 4547236
the previous value is -0.421 and the after value is -0.498
estimated value is -0.4595
the value back in set4_1fake is now 114059   -0.4595
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 335007449217.0, index: 77, id: 179498
the previous value is -0.44 and the after value is -0.478
estimated value is -0.45899999999999996
the value back in set4_1fake is now 4438   -0.459
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 8589934702.0, index: 9, id: 127971
the previous value is 0.21667525 and the after value is -0.58538234
estimated value is -0.184353545
the value back in set4_1fake is now 3145   -0.184354
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 206158430224.0, index: 2, id: 6935639
the previous value is 4.038821411132813 and the after value is -1.3908355712890623
estimated value is 1.3239929199218752
the value back in set4_1fake is now 174682    1.323993
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 206158430224.0, index: 59, id: 4380201
the previous value is 0.08912353515625 and the after value is -0.15970458984375
estimated value is -0.035290527343749996
the value back in set4_1fake is now 109944   -0.035291
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 206158430224.0, index: 91, id: 4503283
the previous value is -0.9147125244140626 and the after value is -1.0228271484375
estimated value is -0.9687698364257813
the value back in set4_1fake is now 112999   -0.96877
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 206158430224.0, index: 97, id: 134445
the previous value is -1.32728271484375 and the after value is 1.2218597412109375
estimated value is -0.05271148681640625
the value back in set4_1fake is now 3306   -0.052711
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 88, id: 167982
the previous value is 0.222808837890625 and the after value is 0.31043701171875
estimated value is 0.2666229248046875
the value back in set4_1fake is now 4137    0.266623
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 117, id: 6538184
the previous value is 0.04127197265625 and the after value is -0.3856536865234375
estimated value is -0.17219085693359376
the value back in set4_1fake is now 164777   -0.172191
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 153, id: 3415695
the previous value is -0.383709716796875 and the after value is -0.38699951171875
estimated value is -0.3853546142578125
the value back in set4_1fake is now 86307   -0.385355

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1110
Bearing           1496
acceleration_x       0
acceleration_y    1591
acceleration_z     579
gyro_x            1213
gyro_y            1065
gyro_z            1263
second             914
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_1fake acceleration_y
justnullsdf = set4_1fake[set4_1fake['acceleration_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_y']) # finding the standard deviation of acceleration_y
    nulldf = bookingidx[bookingidx['acceleration_y'].isnull()] # make dataframe of records with acceleration_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 5] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'acceleration_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 446676598879.0, index: 11, id: 1175
the previous value is 8.933867999999999 and the after value is 9.365356
estimated value is 9.149612
the value back in set4_1fake is now 30    9.149612
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 30    8.580826
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 446676598879.0, index: 19, id: 2752081
the previous value is 9.600723 and the after value is 8.05127
estimated value is 8.8259965
the value back in set4_1fake is now 69551    8.825997
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 446676598879.0, index: 35, id: 3121933
the previous value is 9.698776 and the after value is 9.404587
estimated value is 9.5516815
the value back in set4_1fake is now 78986    9.551682
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 30, id: 4306471
the previous value is -10.671945190429687 and the after value is -10.216458129882811
estimated value is -10.44420166015625
the value back in set4_1fake is now 108131   -10.444202
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 75, id: 7037877
the previous value is -11.903076171875 and the after value is -8.994897460937503
estimated value is -10.44898681640625
the value back in set4_1fake is now 177270   -10.448987
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 109, id: 3366679
the previous value is -9.98662109375 and the after value is -9.741082763671878
estimated value is -9.86385192871094
the value back in set4_1fake is now 85126   -9.863852
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 136, id: 2446028
the previous value is -8.572607421875 and the after value is -9.575396728515628
estimated value is -9.074002075195313
the value back in set4_1fake is now 61837   -9.074002
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 149, id: 3320
the previous value is -11.028738403320313 and the after value is -9.043795776367189
estimated value is -10.03626708984375
the value back in set4_1fake is now 76   -10.036267
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 76   -8.994897
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 352187318316.0, index: 184, id: 1931126
the previous value is -11.438766479492188 and the after value is -11.020513916015622
estimated value is -11.229640197753906
the value back in set4_1fake is now 48766   -11.22964
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 188978561204.0, index: 11, id: 4126
the previous value is 9.835 and the after value is 7.026
estimated value is 8.4305
the value back in set4_1fake is now 104    8.4305
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 146028888101.0, index: 31, id: 7336
the after value is nan
estimated value is 11.023376069958113
the value back in set4_1fake is now 181    11.023376
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 146028888101.0, index: 32, id: 2013562
the previous value is 11.023376069958113 and the after value is 8.358414
estimated value is 9.690895034979057
the value back in set4_1fake is now 50851    9.690895
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 111669149808.0, index: 43, id: 1374334
the previous value is 9.2490835 and the after value is 10.015251
estimated value is 9.632167249999998
the value back in set4_1fake is now 34774    9.632167
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 111669149808.0, index: 45, id: 7442
the previous value is 10.015251 and the after value is 8.291373
estimated value is 9.153312
the value back in set4_1fake is now 187    9.153312
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 412316860587.0, index: 23, id: 8416
the previous value is 8.428955 and the after value is 8.177567
estimated value is 8.303261
the value back in set4_1fake is now 214    8.303261
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 120259084403.0, index: 1, id: 10820
the previous value is 10.051166 and the after value is 9.246689
estimated value is 9.6489275
the value back in set4_1fake is now 283    9.648927
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 120259084403.0, index: 65, id: 590334
the previous value is 9.529214 and the after value is 9.191621
estimated value is 9.3604175
the value back in set4_1fake is now 14891    9.360418
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 120259084403.0, index: 68, id: 724592
the after value is nan
estimated value is 10.889997580313338
the value back in set4_1fake is now 18316    10.889998
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 120259084403.0, index: 69, id: 183189
the previous value is 10.889997580313338 and the after value is 7.970541000000001
estimated value is 9.43026929015667
the value back in set4_1fake is now 4525    9.430269
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 120259084403.0, index: 75, id: 2994125
the previous value is 9.119793 and the after value is 11.303371
estimated value is 10.211582
the value back in set4_1fake is now 75794    10.211582
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 51539607623.0, index: 53, id: 11309
the previous value is 9.666718 and the after value is 9.170212
estimated value is 9.418465
the value back in set4_1fake is now 292    9.418465
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 51539607623.0, index: 55, id: 2491273
the previous value is 9.170212 and the after value is 8.644989
estimated value is 8.907600500000001
the value back in set4_1fake is now 62994    8.907601
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 15, id: 16433
the previous value is 9.646533 and the after value is 10.489318
estimated value is 10.067925500000001
the value back in set4_1fake is now 401    10.067926
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 39, id: 7343277
the previous value is 9.984126 and the after value is 9.26345
estimated value is 9.623788000000001
the value back in set4_1fake is now 184972    9.623788
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 97, id: 1738416
the previous value is 9.330489 and the after value is 9.826104
estimated value is 9.5782965
the value back in set4_1fake is now 43996    9.578297
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 123, id: 4420163
the previous value is 9.60583 and the after value is 7.975329400000001
estimated value is 8.7905797
the value back in set4_1fake is now 110929    8.79058
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 136, id: 2030374
the previous value is 9.538791 and the after value is 9.529214
estimated value is 9.5340025
the value back in set4_1fake is now 51290    9.534002
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 178, id: 1633280
the previous value is 9.478934 and the after value is 9.809344
estimated value is 9.644139
the value back in set4_1fake is now 41376    9.644139
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 68719476829.0, index: 192, id: 1052326
the previous value is 10.312141 and the after value is 9.318518
estimated value is 9.8153295
the value back in set4_1fake is now 26661    9.81533
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 60129542204.0, index: 32, id: 17729
the previous value is 9.616455
estimated value is 10.353178664559925
the value back in set4_1fake is now 436    10.353179
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 309237645437.0, index: 36, id: 457497
the previous value is 0.5688354492187501 and the after value is -0.02572021484375
estimated value is 0.27155761718750004
the value back in set4_1fake is now 11489    0.271558
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 309237645437.0, index: 56, id: 271658
the previous value is 0.5384796142578125 and the after value is 0.7597930908203125
estimated value is 0.6491363525390625
the value back in set4_1fake is now 6784    0.649136
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 309237645437.0, index: 66, id: 1160836
the previous value is 0.2965301513671875 and the after value is 0.393878173828125
estimated value is 0.3452041625976563
the value back in set4_1fake is now 29444    0.345204
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 309237645437.0, index: 96, id: 17967
the previous value is 0.3950744628906249 and the after value is 0.19678955078125
estimated value is 0.29593200683593746
the value back in set4_1fake is now 441    0.295932
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 34359738411.0, index: 0, id: 18970
the after value is -11.305081176757811
estimated value is -13.433617485555908
the value back in set4_1fake is now 464   -13.433617
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 34359738411.0, index: 12, id: 4595682
the previous value is -12.56043701171875 and the after value is -10.107147216796877
estimated value is -11.333792114257815
the value back in set4_1fake is now 115277   -11.333792
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 412316860545.0, index: 40, id: 1755304
the previous value is 7.2551684 and the after value is 6.320022
estimated value is 6.7875952
the value back in set4_1fake is now 44436    6.787595
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 412316860545.0, index: 65, id: 23012
the previous value is 7.498841 and the after value is 7.6177845
estimated value is 7.55831275
the value back in set4_1fake is now 567    7.558313
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 481036337271.0, index: 14, id: 5249396
the previous value is -10.695123291015628 and the after value is -8.60430908203125
estimated value is -9.649716186523438
the value back in set4_1fake is now 131844   -9.649716
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 481036337271.0, index: 25, id: 3067808
the previous value is -9.533526611328128 and the after value is -9.08387145996094
estimated value is -9.308699035644533
the value back in set4_1fake is now 77640   -9.308699
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 481036337271.0, index: 68, id: 25985
the previous value is -9.773681640625 and the after value is -10.163372802734376
estimated value is -9.968527221679688
the value back in set4_1fake is now 629   -9.968527
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 68, id: 5221730
the after value is nan
estimated value is 9.587160877166149
the value back in set4_1fake is now 131123    9.587161
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 69, id: 6717524
the previous value is 9.587160877166149 and the after value is 9.529214
estimated value is 9.558187438583074
the value back in set4_1fake is now 169223    9.558187
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 105, id: 862318
the previous value is 9.737515 and the after value is 9.2419
estimated value is 9.4897075
the value back in set4_1fake is now 21846    9.489707
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 117, id: 30426
the previous value is 8.360807000000001 and the after value is 9.421472
estimated value is 8.891139500000001
the value back in set4_1fake is now 729    8.89114
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 134, id: 4596314
the previous value is 8.578687 and the after value is 9.771035
estimated value is 9.174861
the value back in set4_1fake is now 115291    9.174861
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 175, id: 971317
the previous value is 10.556357 and the after value is 9.730332
estimated value is 10.143344500000001
the value back in set4_1fake is now 24600    10.143345
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841677.0, index: 183, id: 6486258
the previous value is 9.364009 and the after value is 10.822123
estimated value is 10.093066
the value back in set4_1fake is now 163456    10.093066
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 8589934700.0, index: 25, id: 30521
the previous value is 10.674973 and the after value is 7.837845
estimated value is 9.256409
the value back in set4_1fake is now 731    9.256409
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 154618822824.0, index: 7, id: 32369
the previous value is -10.067221069335938
estimated value is -8.433303845296876
the value back in set4_1fake is now 774   -8.433304
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 188978561112.0, index: 30, id: 34853
the previous value is -9.028244018554688 and the after value is -7.61617431640625
estimated value is -8.32220916748047
the value back in set4_1fake is now 839   -8.322209
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 283467841676.0, index: 0, id: 35012
the after value is 9.009656
estimated value is 8.245408914527989
the value back in set4_1fake is now 844    8.245409
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 85899345924.0, index: 26, id: 35287
the previous value is 10.425888 and the after value is 10.030182
estimated value is 10.228035
the value back in set4_1fake is now 854    10.228035
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 85899345924.0, index: 43, id: 353419
the previous value is 9.787903 and the after value is 9.934174
estimated value is 9.8610385
the value back in set4_1fake is now 8914    9.861038
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 85899345924.0, index: 74, id: 3423465
the previous value is 9.644638 and the after value is 9.6957855
estimated value is 9.67021175
the value back in set4_1fake is now 86493    9.670212
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 51539607695.0, index: 12, id: 7310812
the previous value is 9.597847 and the after value is 10.7001
estimated value is 10.1489735
the value back in set4_1fake is now 184161    10.148974
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 51539607695.0, index: 42, id: 345429
the previous value is 9.085842 and the after value is 10.620516
estimated value is 9.853179
the value back in set4_1fake is now 8689    9.853179
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 51539607695.0, index: 53, id: 40827
the previous value is 8.652655000000001 and the after value is 9.6487
estimated value is 9.1506775
the value back in set4_1fake is now 989    9.150678

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1108
Bearing           1495
acceleration_x       0
acceleration_y       0
acceleration_z     578
gyro_x            1208
gyro_y            1062
gyro_z            1259
second             910
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_1fake acceleration_z
justnullsdf = set4_1fake[set4_1fake['acceleration_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_z']) # finding the standard deviation of acceleration_z
    nulldf = bookingidx[bookingidx['acceleration_z'].isnull()] # make dataframe of records with acceleration_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 6] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'acceleration_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 429496729692.0, index: 103, id: 11670
the previous value is -2.8076904296875003 and the after value is -3.4663970947265628
estimated value is -3.1370437622070315
the value back in set4_1fake is now 302   -3.137044
Name: acceleration_z, dtype: float64
the value back in bookingidx is now 302   -2.480505
Name: acceleration_z, dtype: float64
-----------------------
bookingid: 429496729692.0, index: 198, id: 6481989
the previous value is -1.924380493164063 and the after value is 1.143951416015625
estimated value is -0.39021453857421895
the value back in set4_1fake is now 163358   -0.390215
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 429496729692.0, index: 258, id: 1676146
the previous value is -0.27335205078125 and the after value is -0.8720947265625001
estimated value is -0.572723388671875
the value back in set4_1fake is now 42488   -0.572723
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 429496729692.0, index: 263, id: 1455012
the after value is nan
estimated value is -1.6757782700889465
the value back in set4_1fake is now 36887   -1.675778
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 429496729692.0, index: 264, id: 7408856
the previous value is -1.6757782700889465 and the after value is -1.389041137695313
estimated value is -1.5324097038921298
the value back in set4_1fake is now 186604   -1.53241
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 249108103345.0, index: 32, id: 6255618
the previous value is -3.5214263916015627 and the after value is -5.119818115234375
estimated value is -4.3206222534179695
the value back in set4_1fake is now 157712   -4.320622
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 249108103345.0, index: 58, id: 74327
the previous value is -4.6094512939453125 and the after value is -3.9758666992187504
estimated value is -4.292658996582031
the value back in set4_1fake is now 1776   -4.292659
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 68719476767.0, index: 37, id: 4118972
the previous value is 2.700742 and the after value is 2.6145482
estimated value is 2.6576451
the value back in set4_1fake is now 103411    2.657645
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 68719476767.0, index: 56, id: 80594
the previous value is 2.317658 and the after value is 3.6512692
estimated value is 2.9844636
the value back in set4_1fake is now 1923    2.984464
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383824.0, index: 60, id: 91690
the previous value is -0.43815228 and the after value is 2.8539755
estimated value is 1.20791161
the value back in set4_1fake is now 2204    1.207912
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 257698037775.0, index: 162, id: 111567
the previous value is 1.9441512 and the after value is 4.122941
estimated value is 3.0335461
the value back in set4_1fake is now 2700    3.033546
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 377957122205.0, index: 6, id: 131118
the previous value is 3.9633026 and the after value is 0.9603882
estimated value is 2.4618454
the value back in set4_1fake is now 3214    2.461845
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 541165879378.0, index: 2, id: 4177439
the previous value is 4.637597599999999 and the after value is 1.4923825000000002
estimated value is 3.0649900499999996
the value back in set4_1fake is now 104891    3.06499
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 541165879378.0, index: 6, id: 146982
the previous value is 2.8191054 and the after value is 3.6399527
estimated value is 3.22952905
the value back in set4_1fake is now 3617    3.229529
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 94489280599.0, index: 4, id: 6897922
the previous value is 2.5134425 and the after value is 3.4498913
estimated value is 2.9816669
the value back in set4_1fake is now 173766    2.981667
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 94489280599.0, index: 114, id: 153193
the previous value is 3.1980884 and the after value is 2.5802119
estimated value is 2.88915015
the value back in set4_1fake is now 3786    2.88915
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 42949673114.0, index: 29, id: 157325
the previous value is -0.1616485595703125 and the after value is -0.6581085205078125
estimated value is -0.40987854003906254
the value back in set4_1fake is now 3877   -0.409879
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 197568495703.0, index: 18, id: 185847
the previous value is 1.8968964 and the after value is 2.5840302000000004
estimated value is 2.2404633
the value back in set4_1fake is now 4585    2.240463
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 111669149797.0, index: 55, id: 779767
the previous value is 7.244155999999999 and the after value is 8.179749000000001
estimated value is 7.711952500000001
the value back in set4_1fake is now 19724    7.711953
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 111669149797.0, index: 62, id: 199860
the previous value is 6.976166 and the after value is 5.406479
estimated value is 6.1913225
the value back in set4_1fake is now 4943    6.191323
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 532575944746.0, index: 97, id: 201460
the previous value is -5.115295400000001 and the after value is -3.2201843
estimated value is -4.16773985
the value back in set4_1fake is now 4979   -4.16774
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 532575944746.0, index: 108, id: 2279523
the previous value is -4.296051 and the after value is -4.744705000000001
estimated value is -4.520378000000001
the value back in set4_1fake is now 57678   -4.520378
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383796.0, index: 4, id: 232893
the previous value is 0.0381317138671875 and the after value is -0.24583740234375
estimated value is -0.10385284423828126
the value back in set4_1fake is now 5743   -0.103853
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383796.0, index: 8, id: 7146504
the previous value is 0.090020751953125 and the after value is 0.4533935546875
estimated value is 0.2717071533203125
the value back in set4_1fake is now 179970    0.271707
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 5, id: 240973
the previous value is 2.3224466 and the after value is 1.5706443
estimated value is 1.9465454500000001
the value back in set4_1fake is now 5956    1.946545
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 7, id: 1290416
the previous value is 1.5706443 and the after value is 1.3671309
estimated value is 1.4688876
the value back in set4_1fake is now 32726    1.468888
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 27, id: 3296612
the previous value is 0.73743665 and the after value is 0.0
estimated value is 0.368718325
the value back in set4_1fake is now 83382    0.368718
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 481036337277.0, index: 62, id: 1858360
the previous value is -0.5082733154296876 and the after value is -0.6072662353515625
estimated value is -0.557769775390625
the value back in set4_1fake is now 47029   -0.55777
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 481036337277.0, index: 76, id: 300024
the previous value is 0.1963409423828124 and the after value is -1.119876098632813
estimated value is -0.46176757812500024
the value back in set4_1fake is now 7508   -0.461768
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 249108103322.0, index: 6, id: 381980
the previous value is -0.072076416015625 and the after value is 0.5640502929687501
estimated value is 0.24598693847656256
the value back in set4_1fake is now 9651    0.245987
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 146028888122.0, index: 11, id: 7253098
the previous value is -1.7933118 and the after value is -1.2162915
estimated value is -1.50480165
the value back in set4_1fake is now 182694   -1.504802
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 146028888122.0, index: 16, id: 397615
the previous value is -0.9289786 and the after value is -2.0782306
estimated value is -1.5036046
the value back in set4_1fake is now 10048   -1.503605
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 506806141036.0, index: 17, id: 408218
the previous value is -3.680831909179688 and the after value is -3.880612182617188
estimated value is -3.780722045898438
the value back in set4_1fake is now 10314   -3.780722
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 506806140952.0, index: 36, id: 467221
the previous value is 0.57223165 and the after value is -1.1253091
estimated value is -0.276538725
the value back in set4_1fake is now 11757   -0.276539
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 8589934719.0, index: 3, id: 475840
the previous value is -0.7512909000000001 and the after value is 0.18195933
estimated value is -0.28466578500000006
the value back in set4_1fake is now 11975   -0.284666
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 163208757400.0, index: 129, id: 489750
the previous value is 2.5139117000000004 and the after value is 0.59376204
estimated value is 1.5538368700000003
the value back in set4_1fake is now 12338    1.553837
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 69.0, index: 33, id: 6167367
the previous value is 2.0015526 and the after value is 2.0165164
estimated value is 2.0090345000000003
the value back in set4_1fake is now 155375    2.009035
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 69.0, index: 68, id: 3474014
the after value is nan
estimated value is 1.7663870040109662
the value back in set4_1fake is now 87721    1.766387
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 69.0, index: 69, id: 504829
the previous value is 1.7663870040109662 and the after value is -0.6877344
estimated value is 0.539326302005483
the value back in set4_1fake is now 12722    0.539326
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 85.0, index: 48, id: 535813
the previous value is -4.076654052734376 and the after value is -4.629339599609375
estimated value is -4.352996826171876
the value back in set4_1fake is now 13465   -4.352997
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 472446402667.0, index: 7, id: 544654
the previous value is 4.0918155 and the after value is 3.495641200000001
estimated value is 3.7937283500000003
the value back in set4_1fake is now 13702    3.793728
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 472446402667.0, index: 64, id: 5947790
the previous value is 4.721509999999999 and the after value is 4.0295644
estimated value is 4.3755372
the value back in set4_1fake is now 149703    4.375537
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 188978561125.0, index: 61, id: 559958
the previous value is 2.979584 and the after value is -2.2290018
estimated value is 0.3752911000000001
the value back in set4_1fake is now 14104    0.375291
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 377957122130.0, index: 18, id: 2204561
the previous value is 2.872528 and the after value is 2.642807
estimated value is 2.7576675
the value back in set4_1fake is now 55747    2.757668
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 377957122130.0, index: 25, id: 598195
the previous value is 3.681305000000001 and the after value is 3.779403700000001
estimated value is 3.7303543500000007
the value back in set4_1fake is now 15092    3.730354
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 60129542264.0, index: 76, id: 642016
the previous value is -0.51955765 and the after value is -0.30167863
estimated value is -0.41061813999999996
the value back in set4_1fake is now 16197   -0.410618
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 498216206337.0, index: 24, id: 1752691
the previous value is -0.7326481 and the after value is -2.3942747000000004
estimated value is -1.5634614000000002
the value back in set4_1fake is now 44364   -1.563461
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 498216206337.0, index: 26, id: 652008
the previous value is -2.3942747000000004 and the after value is -2.1931557999999995
estimated value is -2.29371525
the value back in set4_1fake is now 16440   -2.293715
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 377957122056.0, index: 12, id: 672107
the previous value is 3.8134003 and the after value is 3.3315735
estimated value is 3.5724869000000004
the value back in set4_1fake is now 16969    3.572487
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 377957122056.0, index: 47, id: 6131595
the previous value is 2.637848 and the after value is 3.0987244
estimated value is 2.8682862
the value back in set4_1fake is now 154492    2.868286
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 52, id: 690066
the previous value is -0.7038953 and the after value is 0.093373865
estimated value is -0.3052607175
the value back in set4_1fake is now 17406   -0.305261
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 86, id: 1126101
the previous value is 0.5386954 and the after value is 1.0247183000000002
estimated value is 0.7817068500000002
the value back in set4_1fake is now 28575    0.781707
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 155, id: 6352690
the previous value is 0.91697925 and the after value is -0.19393034
estimated value is 0.361524455
the value back in set4_1fake is now 160084    0.361524
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 343597383840.0, index: 220, id: 6482919
the previous value is 0.22266077 and the after value is 0.8403648000000001
estimated value is 0.5315127850000001
the value back in set4_1fake is now 163376    0.531513
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 369367187523.0, index: 177, id: 3325075
the previous value is -0.047885496 and the after value is 1.2402343999999998
estimated value is 0.596174452
the value back in set4_1fake is now 84079    0.596174
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 369367187523.0, index: 179, id: 694941
the previous value is 1.2402343999999998 and the after value is -0.30646718
estimated value is 0.4668836099999999
the value back in set4_1fake is now 17544    0.466884
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 154618822832.0, index: 45, id: 696705
the previous value is 0.7206767 and the after value is 0.36392978

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1107
Bearing           1494
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x            1208
gyro_y            1059
gyro_z            1259
second             909
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_1fake gyro_x
justnullsdf = set4_1fake[set4_1fake['gyro_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_x']) # finding the standard deviation of gyro_x
    nulldf = bookingidx[bookingidx['gyro_x'].isnull()] # make dataframe of records with gyro_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 7] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'gyro_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 34359738383.0, index: 59, id: 12869
the previous value is 0.004470825 and the after value is 0.03767395
estimated value is 0.021072387499999998
the value back in set4_1fake is now 335    0.021072
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 25769803866.0, index: 39, id: 13278
the previous value is 0.01993864 and the after value is 0.024825562
estimated value is 0.022382101
the value back in set4_1fake is now 344    0.022382
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 25769803866.0, index: 49, id: 5721757
the previous value is 0.03276681 and the after value is -0.00693943
estimated value is 0.01291369
the value back in set4_1fake is now 143907    0.012914
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 25769803866.0, index: 87, id: 4254310
the previous value is 0.0058887415 and the after value is -0.028319713
estimated value is -0.01121548575
the value back in set4_1fake is now 106815   -0.011215
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 104.0, index: 30, id: 34770
the previous value is -0.038484514 and the after value is 0.028710667
estimated value is -0.004886923499999999
the value back in set4_1fake is now 836   -0.004887
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 498216206337.0, index: 8, id: 5918917
the after value is nan
estimated value is 0.10791216998083461
the value back in set4_1fake is now 148955    0.107912
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 498216206337.0, index: 9, id: 5146537
the previous value is 0.10791216998083461 and the after value is -0.18971702
estimated value is -0.04090242500958269
the value back in set4_1fake is now 129264   -0.040902
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 498216206337.0, index: 35, id: 40615
the previous value is 0.18657596 and the after value is -0.002792265
estimated value is 0.09189184750000001
the value back in set4_1fake is now 982    0.091892
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 300647710856.0, index: 8, id: 68921
the previous value is 0.021837922 and the after value is 0.10705908
estimated value is 0.064448501
the value back in set4_1fake is now 1647    0.064449
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 455266533443.0, index: 41, id: 70298
the previous value is 0.1371173760965827 and the after value is -0.0095559546234223
estimated value is 0.0637807107365802
the value back in set4_1fake is now 1688    0.063781
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 77309411358.0, index: 5, id: 7401923
the previous value is 0.16413337 and the after value is 0.075557925
estimated value is 0.1198456475
the value back in set4_1fake is now 186428    0.119846
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 77309411358.0, index: 19, id: 6312067
the previous value is 0.10610118 and the after value is 0.06822754
estimated value is 0.08716436
the value back in set4_1fake is now 159138    0.087164
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 77309411358.0, index: 59, id: 82020
the previous value is -0.16023608 and the after value is -0.0875431
estimated value is -0.12388959
the value back in set4_1fake is now 1957   -0.12389
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 77309411358.0, index: 83, id: 3490005
the previous value is -0.027678305 and the after value is 0.20261788
estimated value is 0.0874697875
the value back in set4_1fake is now 88082    0.08747
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 77309411358.0, index: 95, id: 6539007
the previous value is 0.04623639 and the after value is -0.20849441
estimated value is -0.08112901
the value back in set4_1fake is now 164797   -0.081129
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 506806141036.0, index: 65, id: 514883
the previous value is 0.0410768629694911 and the after value is -0.0206221879010285
estimated value is 0.0102273375342313
the value back in set4_1fake is now 12957    0.010227
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 506806141036.0, index: 67, id: 6498677
the previous value is -0.0206221879010285 and the after value is 0.0154902764804458
estimated value is -0.002565955710291349
the value back in set4_1fake is now 163763   -0.002566
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 506806141036.0, index: 81, id: 106060
the previous value is -0.0069210230408979 and the after value is -0.0050232544481074
estimated value is -0.00597213874450265
the value back in set4_1fake is now 2548   -0.005972
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 197568495798.0, index: 124, id: 112370
the previous value is -0.02438225 and the after value is 0.001256637
estimated value is -0.0115628065
the value back in set4_1fake is now 2726   -0.011563
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 21, id: 5896774
the previous value is 0.039424371513097 and the after value is -0.3945220154648834
estimated value is -0.1775488219758932
the value back in set4_1fake is now 148380   -0.177549
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 31, id: 121141
the previous value is -0.1202648927185612 and the after value is 0.201357881595365
estimated value is 0.0405464944384019
the value back in set4_1fake is now 2963    0.040546
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 34, id: 7188302
the previous value is 0.1514310680074316 and the after value is 0.0581991245659376
estimated value is 0.1048150962866846
the value back in set4_1fake is now 181040    0.104815
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 112, id: 2716176
the previous value is 0.102979911979511 and the after value is 0.1380939572683147
estimated value is 0.12053693462391285
the value back in set4_1fake is now 68653    0.120537
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 208, id: 6111901
the previous value is 0.1218049987769541 and the after value is -0.0523225933045687
estimated value is 0.0347412027361927
the value back in set4_1fake is now 154008    0.034741
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 377957122190.0, index: 18, id: 5464603
the previous value is 0.051592458 and the after value is -0.019878777
estimated value is 0.0158568405
the value back in set4_1fake is now 137364    0.015857
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 377957122190.0, index: 53, id: 133287
the previous value is -0.06447194 and the after value is -0.008272337
estimated value is -0.036372138500000005
the value back in set4_1fake is now 3283   -0.036372
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280681.0, index: 62, id: 152076
the previous value is -0.14357166 and the after value is -0.10997407
estimated value is -0.12677286499999998
the value back in set4_1fake is now 3757   -0.126773
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280681.0, index: 79, id: 1798527
the previous value is 0.044574838 and the after value is 0.18996076
estimated value is 0.117267799
the value back in set4_1fake is now 45530    0.117268
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 137438953591.0, index: 18, id: 6202650
the previous value is -0.017941985 and the after value is 0.02994985
estimated value is 0.0060039325
the value back in set4_1fake is now 156324    0.006004
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 137438953591.0, index: 138, id: 5911802
the previous value is 0.05110324 and the after value is -0.0382925229999999
estimated value is 0.006405358500000052
the value back in set4_1fake is now 148749    0.006405
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 137438953591.0, index: 143, id: 155636
the previous value is 0.0245044229999999 and the after value is 0.034051374
estimated value is 0.02927789849999995
the value back in set4_1fake is now 3846    0.029278
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 137438953591.0, index: 155, id: 1138947
the previous value is 0.009564404 and the after value is 0.015969763
estimated value is 0.012767083500000002
the value back in set4_1fake is now 28891    0.012767
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 81, id: 5425386
the previous value is -0.2210367778382876 and the after value is 0.0130721262106539
estimated value is -0.10398232581381685
the value back in set4_1fake is now 136367   -0.103982
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 134, id: 163391
the previous value is 0.1021844257619043 and the after value is -0.0249317151769948
estimated value is 0.03862635529245475
the value back in set4_1fake is now 4017    0.038626
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 154, id: 6802574
the previous value is -0.1561744242249717 and the after value is -0.0123424200719722
estimated value is -0.08425842214847194
the value back in set4_1fake is now 171340   -0.084258
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 187, id: 6796438
the previous value is -0.0199790344977744 and the after value is 0.1512329288223297
estimated value is 0.06562694716227764
the value back in set4_1fake is now 171179    0.065627
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 352187318316.0, index: 192, id: 1062583
the previous value is 0.1997008627651177 and the after value is 0.1290338832398652
estimated value is 0.16436737300249143
the value back in set4_1fake is now 26939    0.164367
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 386547056772.0, index: 1, id: 168793
the previous value is -0.10551903 and the after value is -0.2783939
estimated value is -0.19195646500000002
the value back in set4_1fake is now 4159   -0.191956
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 386547056772.0, index: 14, id: 4590933
the previous value is -0.021219626 and the after value is 0.009323636
estimated value is -0.005947994999999999
the value back in set4_1fake is now 115150   -0.005948
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 386547056772.0, index: 49, id: 2893241
the previous value is -0.03710212 and the after value is -0.0077805906
estimated value is -0.0224413553
the value back in set4_1fake is now 73166   -0.022441
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 10, id: 237035
the previous value is -0.0810889941351686 and the after value is -0.0894643694473588
estimated value is -0.0852766817912637
the value back in set4_1fake is now 5840   -0.085277
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 102, id: 3410892
the previous value is -0.0661571825353124 and the after value is -0.0491699432061329
estimated value is -0.05766356287072265
the value back in set4_1fake is now 86190   -0.057664
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 481036337192.0, index: 68, id: 246393
the previous value is 0.0264433254117237 and the after value is -0.0037513287114856
estimated value is 0.01134599835011905
the value back in set4_1fake is now 6086    0.011346
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 515396075570.0, index: 12, id: 249629
the previous value is -0.0077071881946893 and the after value is -0.0019742013160757
estimated value is -0.0048406947553825
the value back in set4_1fake is now 6189   -0.004841
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 515396075570.0, index: 74, id: 5701618
the previous value is 0.0364205921195966 and the after value is 0.0099279982277063
estimated value is 0.02317429517365145
the value back in set4_1fake is now 143431    0.023174
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 515396075570.0, index: 102, id: 5280460
the previous value is 0.0002620550512637 and the after value is -0.0075175711250756
estimated value is -0.00362775803690595
the value back in set4_1fake is now 132640   -0.003628
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 18, id: 2421253
the previous value is 0.046902232 and the after value is -0.001966986
estimated value is 0.022467623000000003
the value back in set4_1fake is now 61224    0.022468
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 47, id: 5701878
the previous value is 0.035295796 and the after value is -0.0013561207999999
estimated value is 0.016969837600000048
the value back in set4_1fake is now 143442    0.01697
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 98, id: 4804737
the previous value is 0.0023090707 and the after value is 0.013304644
estimated value is 0.00780685735
the value back in set4_1fake is now 120633    0.007807
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 94489280522.0, index: 116, id: 256906
the previous value is 0.029798007 and the after value is -0.007464773
estimated value is 0.011166617
the value back in set4_1fake is now 6398    0.011167
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 68719476890.0, index: 2, id: 5320493
the previous value is 0.024749205 and the after value is 0.019862283
estimated value is 0.022305744000000002
the value back in set4_1fake is now 133655    0.022306
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 68719476890.0, index: 21, id: 262712
the previous value is -0.022898283 and the after value is 0.08889005
estimated value is 0.0329958835
the value back in set4_1fake is now 6537    0.032996
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 68719476890.0, index: 47, id: 4839681
the previous value is 0.07545102 and the after value is 0.008866709
estimated value is 0.0421588645
the value back in set4_1fake is now 121541    0.042159
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 68719476890.0, index: 75, id: 6058433
the previous value is 0.009477574 and the after value is -0.15118
estimated value is -0.07085121300000001
the value back in set4_1fake is now 152648   -0.070851
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 60129542257.0, index: 8, id: 5194001
the previous value is 0.2423207612702009 and the after value is 0.0198053963947012
estimated value is 0.13106307883245105
the value back in set4_1fake is now 130424    0.131063
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 60129542257.0, index: 12, id: 2323903
the after value is nan
estimated value is 0.08892693891648394
the value back in set4_1fake is now 58812    0.088927
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 60129542257.0, index: 13, id: 264970
the previous value is 0.08892693891648394 and the after value is 0.1665154787377494
estimated value is 0.12772120882711668
the value back in set4_1fake is now 6587    0.127721
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 60129542257.0, index: 23, id: 1150475
the previous value is -0.2077774314030011 and the after value is -0.1312443069446309
estimated value is -0.169510869173816
the value back in set4_1fake is now 29180   -0.169511
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 60129542257.0, index: 76, id: 5023851

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1105
Bearing           1493
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y            1059
gyro_z            1258
second             908
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_1fake gyro_y
justnullsdf = set4_1fake[set4_1fake['gyro_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_y']) # finding the standard deviation of gyro_y
    nulldf = bookingidx[bookingidx['gyro_y'].isnull()] # make dataframe of records with gyro_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 8] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'gyro_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 515396075587.0, index: 23, id: 7601
the previous value is -0.11611383 and the after value is -0.05965481
estimated value is -0.08788432
the value back in set4_1fake is now 191   -0.087884
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 25769803804.0, index: 5, id: 13481
the previous value is 0.0014953613 and the after value is -0.012939453
estimated value is -0.00572204585
the value back in set4_1fake is now 348   -0.005722
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 34359738532.0, index: 27, id: 26757
the previous value is -0.09407325 and the after value is 0.0036651915999999
estimated value is -0.04520402920000005
the value back in set4_1fake is now 648   -0.045204
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 506806141064.0, index: 4, id: 29433
the previous value is 0.1001212748654199 and the after value is 0.3357428544135265
estimated value is 0.2179320646394732
the value back in set4_1fake is now 710    0.217932
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 498216206450.0, index: 10, id: 383957
the previous value is 0.051385988 and the after value is 0.0599380999999999
estimated value is 0.05566204399999995
the value back in set4_1fake is now 9698    0.055662
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 498216206450.0, index: 20, id: 43742
the previous value is 0.16378519 and the after value is 0.28901255
estimated value is 0.22639886999999997
the value back in set4_1fake is now 1059    0.226399
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 60129542264.0, index: 34, id: 1223790
the previous value is 0.013158037 and the after value is -0.27150515
estimated value is -0.12917355649999998
the value back in set4_1fake is now 31031   -0.129174
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 60129542264.0, index: 48, id: 1794658
the previous value is 0.2947669 and the after value is 0.33019713
estimated value is 0.312482015
the value back in set4_1fake is now 45418    0.312482
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 60129542264.0, index: 73, id: 54201
the previous value is 0.09623571 and the after value is -0.14016914
estimated value is -0.021966714999999998
the value back in set4_1fake is now 1317   -0.021967
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 146028888224.0, index: 54, id: 2190949
the previous value is -0.008936086 and the after value is 0.039514255
estimated value is 0.0152890845
the value back in set4_1fake is now 55370    0.015289
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 146028888224.0, index: 112, id: 2912814
the previous value is 0.09925687 and the after value is -0.05305801
estimated value is 0.023099429999999997
the value back in set4_1fake is now 73684    0.023099
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 146028888224.0, index: 188, id: 618838
the after value is nan
estimated value is 0.0822911963807421
the value back in set4_1fake is now 15622    0.082291
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 146028888224.0, index: 189, id: 61913
the previous value is 0.0822911963807421 and the after value is 0.09869837
estimated value is 0.09049478319037105
the value back in set4_1fake is now 1488    0.090495
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 506806140963.0, index: 8, id: 67643
the previous value is -0.053542853716043 and the after value is -0.0965811348283776
estimated value is -0.0750619942722103
the value back in set4_1fake is now 1620   -0.075062
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 309237645437.0, index: 60, id: 68058
the previous value is -0.0085956187343397 and the after value is -0.0339683533878516
estimated value is -0.02128198606109565
the value back in set4_1fake is now 1628   -0.021282
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 463856468122.0, index: 1, id: 74702
the previous value is 0.032603749645295 and the after value is 0.0298662863608026
estimated value is 0.0312350180030488
the value back in set4_1fake is now 1789    0.031235
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 335007449158.0, index: 24, id: 872068
the previous value is 5.992051e-05 and the after value is 0.0015512906
estimated value is 0.000805605555
the value back in set4_1fake is now 22093    0.000806
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 335007449158.0, index: 68, id: 77000
the previous value is -0.0132558739999999 and the after value is -0.0037750283
estimated value is -0.00851545114999995
the value back in set4_1fake is now 1851   -0.008515
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 343597383824.0, index: 92, id: 77754
the previous value is -0.0006401868 and the after value is -0.0140792215
estimated value is -0.007359704149999999
the value back in set4_1fake is now 1866   -0.00736
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 343597383824.0, index: 139, id: 5852676
the previous value is -0.00797057 and the after value is 0.0048576
estimated value is -0.0015564849999999998
the value back in set4_1fake is now 147279   -0.001556
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 8589934719.0, index: 1, id: 2467201
the previous value is 0.1179668 and the after value is 0.17118189
estimated value is 0.144574345
the value back in set4_1fake is now 62393    0.144574
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 8589934719.0, index: 13, id: 2680827
the previous value is 0.030141836 and the after value is 0.1126260999999999
estimated value is 0.07138396799999995
the value back in set4_1fake is now 67771    0.071384
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 8589934719.0, index: 15, id: 93543
the previous value is 0.1126260999999999 and the after value is -0.31428143
estimated value is -0.10082766500000004
the value back in set4_1fake is now 2256   -0.100828
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 360777253014.0, index: 30, id: 325404
the previous value is -0.0241646079999999 and the after value is -0.008282111
estimated value is -0.01622335949999995
the value back in set4_1fake is now 8156   -0.016223
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 360777253014.0, index: 56, id: 96151
the previous value is 0.00821125 and the after value is -0.010725572
estimated value is -0.0012571609999999997
the value back in set4_1fake is now 2319   -0.001257
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 481036337277.0, index: 13, id: 771075
the previous value is 0.1872870699759314 and the after value is -0.0648447767501213
estimated value is 0.06122114661290504
the value back in set4_1fake is now 19490    0.061221
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 481036337277.0, index: 47, id: 6758738
the previous value is -0.0216680112611027 and the after value is 0.016135826728681
estimated value is -0.0027660922662108497
the value back in set4_1fake is now 170215   -0.002766
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 481036337277.0, index: 86, id: 96697
the previous value is 0.0154900101643368 and the after value is 0.0611821313029353
estimated value is 0.038336070733636055
the value back in set4_1fake is now 2323    0.038336
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 429496729658.0, index: 24, id: 110242
the after value is nan
estimated value is 0.06047400474402988
the value back in set4_1fake is now 2656    0.060474
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 429496729658.0, index: 25, id: 2493867
the previous value is 0.06047400474402988 and the after value is -0.2111913376043736
estimated value is -0.07535866643017186
the value back in set4_1fake is now 63047   -0.075359
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 257698037775.0, index: 77, id: 110359
the previous value is 0.037129 and the after value is 0.016970448
estimated value is 0.027049724
the value back in set4_1fake is now 2658    0.02705
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 257698037775.0, index: 94, id: 2347612
the previous value is -0.09481789 and the after value is -0.023346659
estimated value is -0.059082274500000004
the value back in set4_1fake is now 59416   -0.059082
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 257698037775.0, index: 99, id: 3200205
the previous value is -0.07282674 and the after value is 0.0029205468
estimated value is -0.0349530966
the value back in set4_1fake is now 80924   -0.034953
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 25, id: 2076381
the previous value is 0.148724497391584 and the after value is 0.0457602980625045
estimated value is 0.09724239772704425
the value back in set4_1fake is now 52457    0.097242
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 63, id: 2053054
the previous value is 0.0458561718617473 and the after value is 0.1241291394602662
estimated value is 0.08499265566100675
the value back in set4_1fake is now 51860    0.084993
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 116, id: 113559
the previous value is 0.0026114957649317 and the after value is 0.1100695131174109
estimated value is 0.0563405044411713
the value back in set4_1fake is now 2761    0.056341
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 140, id: 7181268
the previous value is 0.0654975175332997 and the after value is 0.1084630943478751
estimated value is 0.0869803059405874
the value back in set4_1fake is now 180848    0.08698
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 201, id: 338072
the previous value is 0.032972331140162 and the after value is 0.083553749724037
estimated value is 0.0582630404320995
the value back in set4_1fake is now 8504    0.058263
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 300647710766.0, index: 225, id: 3170087
the previous value is 0.0803816585496436 and the after value is 0.1138722408379351
estimated value is 0.09712694969378935
the value back in set4_1fake is now 80161    0.097127
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 335007449203.0, index: 5, id: 126530
the previous value is -0.036485307 and the after value is -0.036485307
estimated value is -0.036485307
the value back in set4_1fake is now 3114   -0.036485
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 68719476736.0, index: 9, id: 128001
the previous value is 0.0105282747374102 and the after value is 0.1074782573767638
estimated value is 0.059003266057087
the value back in set4_1fake is now 3146    0.059003
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 68719476736.0, index: 49, id: 2478397
the after value is nan
estimated value is 0.018043521056727962
the value back in set4_1fake is now 62671    0.018044
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 68719476736.0, index: 50, id: 1292983
the previous value is 0.018043521056727962 and the after value is 0.0066461848164017
estimated value is 0.01234485293656483
the value back in set4_1fake is now 32787    0.012345
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 395136991304.0, index: 9, id: 131145
the previous value is 0.1640198304802361 and the after value is -0.2822484702293229
estimated value is -0.05911431987454341
the value back in set4_1fake is now 3217   -0.059114
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 541165879327.0, index: 4, id: 132079
the previous value is -0.06511762 and the after value is -0.045569934
estimated value is -0.055343777
the value back in set4_1fake is now 3250   -0.055344
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 541165879327.0, index: 8, id: 1632405
the previous value is -0.07366974 and the after value is -0.03885042
estimated value is -0.05626008
the value back in set4_1fake is now 41345   -0.05626
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 541165879327.0, index: 32, id: 2241756
the previous value is -0.06633936 and the after value is 0.10409205
estimated value is 0.018876345000000003
the value back in set4_1fake is now 56696    0.018876
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 541165879327.0, index: 63, id: 1215460
the previous value is 0.04850331 and the after value is -0.01563754
estimated value is 0.016432885
the value back in set4_1fake is now 30823    0.016433
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 541165879327.0, index: 104, id: 3001812
the previous value is 0.15112868 and the after value is -0.013194079
estimated value is 0.0689673005
the value back in set4_1fake is now 76015    0.068967
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 412316860579.0, index: 31, id: 2208970
the previous value is -0.022602014 and the after value is -0.044593163
estimated value is -0.0335975885
the value back in set4_1fake is now 55845   -0.033598
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 412316860579.0, index: 113, id: 1748524
the previous value is 0.06963864 and the after value is 0.032375857
estimated value is 0.051007248500000005
the value back in set4_1fake is now 44241    0.051007
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 412316860579.0, index: 134, id: 5027417
the previous value is 0.016493361 and the after value is -0.11178834
estimated value is -0.0476474895
the value back in set4_1fake is now 126335   -0.047647
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 412316860579.0, index: 141, id: 140613
the previous value is -0.07086037 and the after value is -0.044593163
estimated value is -0.0577267665
the value back in set4_1fake is now 3469   -0.057727
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 506806141068.0, index: 7, id: 149861
the previous value is -0.067101106 and the after value is -0.03167092
estimated value is -0.04938601299999999
the value back in set4_1fake is now 3688   -0.049386
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 506806141068.0, index: 15, id: 2102133
the previous value is -0.0689337 and the after value is -0.0072363093
estimated value is -0.038085004650000004
the value back in set4_1fake is now 53149   -0.038085
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 197568495636.0, index: 18, id: 2601233
the previous value is 0.0552147862483948 and the after value is -0.1280144251745828
estimated value is -0.03639981946309401
the value back in set4_1fake is now 65761   -0.0364
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 197568495636.0, index: 21, id: 1035684
the previous value is 0.007866445227876 and the after value is -0.0338397227072008
estimated value is -0.012986638739662399
the value back in set4_1fake is now 26225   -0.012987
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 197568495636.0, index: 31, id: 3156137
the previous value is 0.0934146362922734 and the after value is -0.0340125618619469
estimated value is 0.029701037215163248
the value back in set4_1fake is now 79827    0.029701
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 197568495636.0, index: 113, id: 150082
the previous value is -0.055088286096616 and the after value is 0.1816297168722761

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1105
Bearing           1492
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z            1258
second             907
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_1fake gyro_z
justnullsdf = set4_1fake[set4_1fake['gyro_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_1fake[set4_1fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_1fake = set4_1fake.drop(set4_1fake[set4_1fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_z']) # finding the standard deviation of gyro_z
    nulldf = bookingidx[bookingidx['gyro_z'].isnull()] # make dataframe of records with gyro_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 9] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_1fake[set4_1fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_1fake.at[int(realindex),'gyro_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_1fake[set4_1fake.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        print(f'the value back in set4_1fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 163208757252.0, index: 13, id: 1948964
the previous value is 0.030059814 and the after value is 0.038223267
estimated value is 0.0341415405
the value back in set4_1fake is now 49250    0.034142
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 163208757252.0, index: 51, id: 966
the previous value is 0.0279235839999999 and the after value is -0.014328003
estimated value is 0.00679779049999995
the value back in set4_1fake is now 25    0.006798
Name: gyro_z, dtype: float64
the value back in bookingidx is now 25    0.031128
Name: gyro_z, dtype: float64
-----------------------
bookingid: 360777252917.0, index: 53, id: 7606
the previous value is -0.0515472 and the after value is 0.16880335
estimated value is 0.058628074999999995
the value back in set4_1fake is now 192    0.058628
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626446.0, index: 3, id: 5025363
the previous value is 0.0320101310383164 and the after value is -0.018654644487678
estimated value is 0.006677743275319201
the value back in set4_1fake is now 126287    0.006678
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626446.0, index: 7, id: 108030
the previous value is 0.0264704896548425 and the after value is -0.0103937851023612
estimated value is 0.00803835227624065
the value back in set4_1fake is now 2594    0.008038
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626446.0, index: 30, id: 14062
the previous value is -0.0169486234933732 and the after value is 0.0020975056745464
estimated value is -0.007425558909413399
the value back in set4_1fake is now 360   -0.007426
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 412316860500.0, index: 7, id: 19693
the previous value is 0.005032308 and the after value is -0.036506526
estimated value is -0.015737109
the value back in set4_1fake is now 485   -0.015737
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 42949673093.0, index: 3, id: 20708
the previous value is -0.0060854396 and the after value is -0.015248418
estimated value is -0.0106669288
the value back in set4_1fake is now 508   -0.010667
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 42949673093.0, index: 33, id: 5339744
the previous value is -0.061063312 and the after value is 0.01712744
estimated value is -0.021967936
the value back in set4_1fake is now 134127   -0.021968
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 369367187472.0, index: 38, id: 27800
the previous value is -0.3483222 and the after value is 0.4020196
estimated value is 0.026848699999999975
the value back in set4_1fake is now 679    0.026849
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 12, id: 44217
the previous value is -0.0111751565661905 and the after value is 0.0400853680956546
estimated value is 0.01445510576473205
the value back in set4_1fake is now 1071    0.014455
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 109, id: 2655236
the previous value is 0.0670842289107689 and the after value is -0.0808783380929434
estimated value is -0.006897054591087248
the value back in set4_1fake is now 67147   -0.006897
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 317827580031.0, index: 158, id: 222778
the previous value is 0.0812929922746687 and the after value is -0.0461515164266371
estimated value is 0.0175707379240158
the value back in set4_1fake is now 5490    0.017571
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 292057776235.0, index: 4, id: 81405
the previous value is -0.0315251694038129 and the after value is 0.0201880926433456
estimated value is -0.005668538380233649
the value back in set4_1fake is now 1941   -0.005669
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 292057776235.0, index: 46, id: 2556277
the previous value is -0.0292516287812123 and the after value is 0.0110872722502178
estimated value is -0.00908217826549725
the value back in set4_1fake is now 64624   -0.009082
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 292057776235.0, index: 110, id: 45309
the previous value is 0.0193904758968669 and the after value is -0.0070765516485585
estimated value is 0.006156962124154201
the value back in set4_1fake is now 1101    0.006157
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 300647710776.0, index: 27, id: 54842
the previous value is -0.0647254671332858 and the after value is -0.0548818911121349
estimated value is -0.05980367912271035
the value back in set4_1fake is now 1333   -0.059804
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 300647710776.0, index: 41, id: 1002966
the previous value is -0.020471186667221 and the after value is -0.0044773064246412
estimated value is -0.0124742465459311
the value back in set4_1fake is now 25414   -0.012474
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 300647710776.0, index: 54, id: 5801219
the previous value is 0.0196378835621352 and the after value is -0.02957706706642
estimated value is -0.004969591752142399
the value back in set4_1fake is now 145926   -0.00497
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 369367187579.0, index: 12, id: 58141
the previous value is -0.0390198373435139 and the after value is 0.0262632957220344
estimated value is -0.00637827081073975
the value back in set4_1fake is now 1410   -0.006378
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 214748364831.0, index: 13, id: 64142
the previous value is 0.0567581059999999 and the after value is 0.0046251225
estimated value is 0.03069161424999995
the value back in set4_1fake is now 1536    0.030692
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626624.0, index: 23, id: 2745776
the previous value is -0.1688572 and the after value is -0.04485156
estimated value is -0.10685438
the value back in set4_1fake is now 69383   -0.106854
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626624.0, index: 32, id: 66635
the previous value is -0.09188818 and the after value is 0.09625831
estimated value is 0.002185065
the value back in set4_1fake is now 1592    0.002185
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 154618822679.0, index: 13, id: 6889512
the previous value is -0.31562805 and the after value is 0.08772278
estimated value is -0.113952635
the value back in set4_1fake is now 173561   -0.113953
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 154618822679.0, index: 22, id: 5638601
the previous value is -0.19889832 and the after value is 0.0581207279999999
estimated value is -0.07038879600000005
the value back in set4_1fake is now 141823   -0.070389
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 154618822679.0, index: 30, id: 75268
the previous value is -0.026046753 and the after value is -0.045913696
estimated value is -0.0359802245
the value back in set4_1fake is now 1808   -0.03598
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 154618822679.0, index: 42, id: 2222623
the previous value is -0.31700134 and the after value is -0.38981628
estimated value is -0.35340881
the value back in set4_1fake is now 56215   -0.353409
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 103079215126.0, index: 6, id: 5060737
the previous value is 0.02229309 and the after value is -0.039642334
estimated value is -0.008674622
the value back in set4_1fake is now 127145   -0.008675
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 103079215126.0, index: 36, id: 77696
the previous value is 0.01914978 and the after value is 0.0310821529999999
estimated value is 0.02511596649999995
the value back in set4_1fake is now 1864    0.025116
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 103079215126.0, index: 85, id: 1006931
the previous value is -0.019989014 and the after value is -0.008651733
estimated value is -0.0143203735
the value back in set4_1fake is now 25511   -0.01432
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888265.0, index: 36, id: 535472
the previous value is 0.0078834894588525 and the after value is 0.0743333533979646
estimated value is 0.04110842142840855
the value back in set4_1fake is now 13455    0.041108
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888265.0, index: 44, id: 2416672
the previous value is -0.0508117820181668 and the after value is 0.07115353905641
estimated value is 0.010170878519121601
the value back in set4_1fake is now 61095    0.010171
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888265.0, index: 66, id: 6625033
the previous value is 0.0236374188872162 and the after value is 0.0730164202389204
estimated value is 0.048326919563068296
the value back in set4_1fake is now 166962    0.048327
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888265.0, index: 71, id: 82669
the previous value is -0.0093865775780932 and the after value is 0.0683058209027883
estimated value is 0.029459621662347554
the value back in set4_1fake is now 1973    0.02946
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 62, id: 6927664
the previous value is -0.0041217744191156 and the after value is -0.010555705296638
estimated value is -0.0073387398578767995
the value back in set4_1fake is now 174489   -0.007339
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 70, id: 1117030
the previous value is -0.0340112302814019 and the after value is -0.0202741127465552
estimated value is -0.027142671513978547
the value back in set4_1fake is now 28336   -0.027143
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 85, id: 86119
the previous value is 0.0390286257751112 and the after value is -0.0203795739257223
estimated value is 0.009324525924694451
the value back in set4_1fake is now 2062    0.009325
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 101, id: 2542702
the previous value is -0.0470780301698757 and the after value is -0.06201037440195
estimated value is -0.05454420228591285
the value back in set4_1fake is now 64259   -0.054544
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 143, id: 5479672
the previous value is -0.0684227336746428 and the after value is -0.0481094724600634
estimated value is -0.058266103067353095
the value back in set4_1fake is now 137736   -0.058266
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 420906795028.0, index: 177, id: 956843
the previous value is -0.0232006604684433 and the after value is -0.0223681563116845
estimated value is -0.0227844083900639
the value back in set4_1fake is now 24210   -0.022784
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 231928234028.0, index: 13, id: 90155
the previous value is -0.0024260078 and the after value is 0.14969689
estimated value is 0.0736354411
the value back in set4_1fake is now 2163    0.073635
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 231928234028.0, index: 40, id: 6480454
the previous value is 0.042167153 and the after value is -0.08677777
estimated value is -0.022305308500000003
the value back in set4_1fake is now 163320   -0.022305
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 231928234028.0, index: 98, id: 6448712
the previous value is 0.0068940506 and the after value is -0.024975661
estimated value is -0.0090408052
the value back in set4_1fake is now 162536   -0.009041
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 231928234028.0, index: 173, id: 2459658
the previous value is 0.06668903 and the after value is 0.013281955
estimated value is 0.0399854925
the value back in set4_1fake is now 62196    0.039985
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 25769803959.0, index: 7, id: 92732
the previous value is -0.0703737654892348 and the after value is 0.0297650862393796
estimated value is -0.0203043396249276
the value back in set4_1fake is now 2239   -0.020304
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 11, id: 5722038
the previous value is 0.0012217305 and the after value is 0.012217306
estimated value is 0.006719518250000001
the value back in set4_1fake is now 143914    0.00672
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 17, id: 6633896
the previous value is -0.0128281689999999 and the after value is -0.002443461
estimated value is -0.00763581499999995
the value back in set4_1fake is now 167189   -0.007636
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 56, id: 1426863
the previous value is 0.034208454 and the after value is 0.007941249
estimated value is 0.0210748515
the value back in set4_1fake is now 36171    0.021075
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 64, id: 6460022
the previous value is -0.00061086525 and the after value is -0.004886922
estimated value is -0.002748893625
the value back in set4_1fake is now 162822   -0.002749
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 68, id: 4987572
the previous value is -0.009162979 and the after value is -0.004886922
estimated value is -0.0070249505
the value back in set4_1fake is now 125350   -0.007025
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 79, id: 5316482
the previous value is -0.016493363 and the after value is -0.015882498
estimated value is -0.0161879305
the value back in set4_1fake is now 133573   -0.016188
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 68719476811.0, index: 90, id: 112466
the previous value is 0.044593163 and the after value is 0.022602014
estimated value is 0.0335975885
the value back in set4_1fake is now 2728    0.033598
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626555.0, index: 22, id: 5175163
the previous value is -0.007330383 and the after value is 0.015882496
estimated value is 0.0042760565
the value back in set4_1fake is now 129974    0.004276
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626555.0, index: 46, id: 6278266
the previous value is 0.031154128 and the after value is -0.002443461
estimated value is 0.0143553335
the value back in set4_1fake is now 158298    0.014355
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626555.0, index: 52, id: 120927
the previous value is 0.036651913 and the after value is -0.02321288
estimated value is 0.0067195165
the value back in set4_1fake is now 2959    0.00672
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 180388626555.0, index: 62, id: 615232
the previous value is -0.0219911489999999 and the after value is -0.032375857
estimated value is -0.02718350299999995
the value back in set4_1fake is now 15521   -0.027184
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888149.0, index: 2, id: 2443799
the previous value is 0.0736015167304109 and the after value is 0.0242070690443842
estimated value is 0.04890429288739755
the value back in set4_1fake is now 61782    0.048904
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 146028888149.0, index: 18, id: 6261486
the previous value is 0.0483395695782462 and the after value is -0.0632269063878982
estimated value is -0.007443668404826
the value back in set4_1fake is now 157881   -0.007444
Name: gyro_z, dtype: float64

In [ ]:
set4_1fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1104
Bearing           1492
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z               0
second             906
Speed                0
dtype: int64

In [ ]:
set4_1fake.to_csv('set4_1done.csv')