# SET 4

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

featuresdf=pd.read_csv('./csv/set4.csv', index_col=0)
featuresdf = featuresdf.reset_index()
set4fake = featuresdf.copy()
for column in ['acceleration_x','acceleration_y','acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z','second', 'Speed']:
    justnullsdf = set4fake[set4fake[column].isnull()]
    bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
    rows = 0
    for i in range (len(bookingids)):
        bookingidx = set4fake[set4fake['bookingID']==bookingids[i]]
        if bookingidx[column].isnull().all().all():
            set4fake = set4fake.drop(set4fake[set4fake.bookingID == bookingids[i]].index)
            
uniqueValues = set4fake['bookingID'].unique()
uniqueValues = np.sort(uniqueValues)
bookingids=featuresdf['bookingID'].unique()

In [ ]:
print(set4fake.shape)
set4_1fake = set4fake[set4fake['bookingID'].isin(uniqueValues[0:1650])]
print(set4_1fake.shape)
set4_2fake = set4fake[set4fake['bookingID'].isin(uniqueValues[1650:2900])]
print(set4_2fake.shape)
set4_3fake = set4fake[set4fake['bookingID'].isin(uniqueValues[2900:])]
print(set4_3fake.shape)
print(set4_1fake.shape[0] + set4_2fake.shape[0] + set4_3fake.shape[0])

(188106, 12)
(66258, 12)
(50640, 12)
(71208, 12)
188106

# SET 4-3

In [ ]:
# THIS IS ONLY FOR SET 3_3fake acceleration_x
justnullsdf = set4_3fake[set4_3fake['acceleration_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_x']) # finding the standard deviation of acceleration_x
    nulldf = bookingidx[bookingidx['acceleration_x'].isnull()] # make dataframe of records with acceleration_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 4] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'acceleration_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_x'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1503238553777.0, index: 19, id: 3370201
the previous value is 0.1520782470703125 and the after value is 0.8046539306640625
estimated value is 0.4783660888671875
the value back in set4_3fake is now 85231    0.478366
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1503238553777.0, index: 30, id: 7137338
the previous value is 0.20875244140625 and the after value is 0.581396484375
estimated value is 0.395074462890625
the value back in set4_3fake is now 179745    0.395074
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1503238553777.0, index: 37, id: 6368319
the previous value is -0.0955535888671875 and the after value is 0.189013671875
estimated value is 0.04673004150390626
the value back in set4_3fake is now 160480    0.04673
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1503238553777.0, index: 39, id: 5106910
the after value is nan
estimated value is 0.7321995433039039
the value back in set4_3fake is now 128285    0.7322
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1503238553777.0, index: 40, id: 712425
the previous value is 0.7321995433039039 and the after value is 0.1377227783203125
estimated value is 0.4349611608121082
the value back in set4_3fake is now 17996    0.434961
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1503238553777.0, index: 43, id: 1344
the previous value is 1.1222686767578125 and the after value is -0.0644500732421875
estimated value is 0.5289093017578125
the value back in set4_3fake is now 33    0.528909
Name: acceleration_x, dtype: float64
the value back in bookingidx is now 33    1.019388
Name: acceleration_x, dtype: float64
-----------------------
bookingid: 1116691497017.0, index: 34, id: 20920
the previous value is -0.6273 and the after value is 0.9912298
estimated value is 0.18196490000000004
the value back in set4_3fake is now 515    0.181965
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1116691497017.0, index: 45, id: 6047665
the previous value is 0.90024734 and the after value is -1.8052832
estimated value is -0.45251793000000007
the value back in set4_3fake is now 152358   -0.452518
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 28, id: 6537680
the previous value is 0.33519846 and the after value is 0.13886794
estimated value is 0.2370332
the value back in set4_3fake is now 164763    0.237033
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 54, id: 6910735
the previous value is -0.65842557 and the after value is -0.74701375
estimated value is -0.7027196600000001
the value back in set4_3fake is now 174088   -0.70272
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 83, id: 6832381
the previous value is 0.34477556 and the after value is -0.38547826
estimated value is -0.020351350000000018
the value back in set4_3fake is now 172093   -0.020351
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 88, id: 141006
the previous value is -1.0822121999999998 and the after value is -1.0965778999999998
estimated value is -1.0893950499999998
the value back in set4_3fake is now 3483   -1.089395
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 115, id: 4229018
the previous value is -0.57462597 and the after value is -0.5889916000000001
estimated value is -0.581808785
the value back in set4_3fake is now 106147   -0.581809
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 137, id: 2061263
the previous value is -1.0510867 and the after value is -1.2881198
estimated value is -1.16960325
the value back in set4_3fake is now 52050   -1.169603
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 166, id: 3928501
the previous value is 0.16041641 and the after value is -0.12210801
estimated value is 0.019154200000000003
the value back in set4_3fake is now 98668    0.019154
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 188, id: 3296129
the previous value is 0.88588166 and the after value is -0.57223165
estimated value is 0.15682500500000002
the value back in set4_3fake is now 83368    0.156825
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 221, id: 3956456
the previous value is 0.035914123 and the after value is -0.08619389
estimated value is -0.025139883499999998
the value back in set4_3fake is now 99393   -0.02514
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 230, id: 3885947
the previous value is 0.23463893 and the after value is 0.9792584
estimated value is 0.606948665
the value back in set4_3fake is now 97654    0.606949
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 240, id: 6979417
the previous value is 0.11253092 and the after value is -0.6368771
estimated value is -0.26217309
the value back in set4_3fake is now 175770   -0.262173
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 247, id: 23436
the previous value is -0.21548474 and the after value is -2.2434354
estimated value is -1.22946007
the value back in set4_3fake is now 581   -1.22946
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1108101562533.0, index: 14, id: 43938
the previous value is 1.3679503999999998 and the after value is 0.99586487
estimated value is 1.181907635
the value back in set4_3fake is now 1067    1.181908
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1563368095850.0, index: 59, id: 2810887
the previous value is 0.5567230224609375 and the after value is 0.0710296630859375
estimated value is 0.3138763427734375
the value back in set4_3fake is now 71042    0.313876
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1563368095850.0, index: 61, id: 44995
the previous value is 0.0710296630859375 and the after value is 0.6776977539062501
estimated value is 0.3743637084960938
the value back in set4_3fake is now 1086    0.374364
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1546188226642.0, index: 9, id: 4863351
the previous value is 0.4128692626953125 and the after value is 0.0384307861328125
estimated value is 0.22565002441406248
the value back in set4_3fake is now 122138    0.22565
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1546188226642.0, index: 31, id: 6491728
the previous value is 0.9194976806640626 and the after value is 0.5976959228515626
estimated value is 0.7585968017578126
the value back in set4_3fake is now 163583    0.758597
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1546188226642.0, index: 100, id: 1024445
the previous value is -0.868206787109375 and the after value is -0.579901123046875
estimated value is -0.7240539550781251
the value back in set4_3fake is now 25938   -0.724054
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1546188226642.0, index: 103, id: 57208
the previous value is 0.332568359375 and the after value is 0.2887542724609375
estimated value is 0.31066131591796875
the value back in set4_3fake is now 1387    0.310661
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 31, id: 58727
the previous value is 0.12569559 and the after value is 0.58418524
estimated value is 0.354940415
the value back in set4_3fake is now 1423    0.35494
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 35, id: 3992123
the previous value is 0.02633622 and the after value is -0.0167594119999999
estimated value is 0.00478840400000005
the value back in set4_3fake is now 100219    0.004788
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 38, id: 6020746
the previous value is -0.33638534 and the after value is 0.4213795
estimated value is 0.04249708000000002
the value back in set4_3fake is now 151667    0.042497
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 53, id: 4105857
the previous value is -0.7577648 and the after value is 0.33758244
estimated value is -0.21009118000000002
the value back in set4_3fake is now 103072   -0.210091
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 65, id: 1391122
the previous value is 1.6723499 and the after value is 0.23104046
estimated value is 0.95169518
the value back in set4_3fake is now 35228    0.951695
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 85, id: 5762375
the previous value is -1.4269443000000002 and the after value is 0.021547815
estimated value is -0.7026982425000001
the value back in set4_3fake is now 144953   -0.702698
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1468878815277.0, index: 107, id: 524665
the previous value is 0.736217 and the after value is -0.44771573
estimated value is 0.14425063500000002
the value back in set4_3fake is now 13182    0.144251
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1597727834153.0, index: 6, id: 64158
the previous value is 0.4710388183593751
estimated value is 0.9381555170684848
the value back in set4_3fake is now 1539    0.938156
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600132.0, index: 5, id: 74692
the previous value is -0.6991069000000001 and the after value is -0.19153613
estimated value is -0.44532151500000006
the value back in set4_3fake is now 1788   -0.445322
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1675037245555.0, index: 16, id: 81398
the previous value is 0.6811504 and the after value is -0.6440403
estimated value is 0.018555050000000017
the value back in set4_3fake is now 1939    0.018555
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1675037245555.0, index: 118, id: 5926881
the previous value is -0.29328972 and the after value is -0.49679685
estimated value is -0.39504328499999997
the value back in set4_3fake is now 149143   -0.395043
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1675037245555.0, index: 149, id: 7298985
the previous value is 0.108936176 and the after value is 0.6452374
estimated value is 0.37708678799999995
the value back in set4_3fake is now 183868    0.377087
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1675037245601.0, index: 2, id: 105190
the previous value is -0.012268066 and the after value is 1.0561371000000002
estimated value is 0.521934517
the value back in set4_3fake is now 2532    0.521935
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1675037245601.0, index: 54, id: 6169078
the previous value is -0.0523376459999999 and the after value is -1.7141571
estimated value is -0.8832473729999999
the value back in set4_3fake is now 155421   -0.883247
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488278.0, index: 92, id: 113136
the previous value is 0.54252625 and the after value is -0.5348816
estimated value is 0.0038223250000000153
the value back in set4_3fake is now 2750    0.003822
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488278.0, index: 107, id: 6391270
the previous value is -0.76950073 and the after value is -0.6845093000000001
estimated value is -0.727005015
the value back in set4_3fake is now 161037   -0.727005
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488278.0, index: 111, id: 6462603
the previous value is 0.34020996 and the after value is -2.062378
estimated value is -0.86108402
the value back in set4_3fake is now 162885   -0.861084
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 10, id: 118565
the previous value is -0.501297 and the after value is 1.1318053999999995
estimated value is 0.31525419999999976
the value back in set4_3fake is now 2882    0.315254
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 25, id: 7292791
the previous value is -0.9493561 and the after value is -1.3142548
estimated value is -1.13180545
the value back in set4_3fake is now 183709   -1.131805
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 30, id: 6459581
the previous value is -1.8221436 and the after value is -0.71784973
estimated value is -1.2699966649999999
the value back in set4_3fake is now 162812   -1.269997
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 34, id: 6270434
the previous value is -1.2041931 and the after value is -0.2476654
estimated value is -0.72592925
the value back in set4_3fake is now 158093   -0.725929
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 67, id: 6122687
the previous value is -2.0985107000000003 and the after value is -1.208374
estimated value is -1.6534423500000002
the value back in set4_3fake is now 154273   -1.653442
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1511828488326.0, index: 90, id: 5027999
the previous value is -0.98405457 and the after value is -1.2359009
estimated value is -1.109977735
the value back in set4_3fake is now 126352   -1.109978
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1382979469414.0, index: 10, id: 123369
the previous value is 0.93359375 and the after value is -0.0881347659999999
estimated value is 0.42272949200000004
the value back in set4_3fake is now 3023    0.422729
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600233.0, index: 30, id: 125992
the previous value is -0.2776885986328125 and the after value is -1.1400634765625002
estimated value is -0.7088760375976564
the value back in set4_3fake is now 3099   -0.708876
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600233.0, index: 56, id: 6279997
the previous value is -2.65576171875 and the after value is 0.1526763916015625
estimated value is -1.2515426635742188
the value back in set4_3fake is now 158341   -1.251543
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600233.0, index: 92, id: 7088413
the previous value is -1.2565521240234376 and the after value is -1.8328643798828128
estimated value is -1.5447082519531252
the value back in set4_3fake is now 178517   -1.544708
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600233.0, index: 94, id: 5576933
the previous value is -1.8328643798828128 and the after value is -0.6485382080078126
estimated value is -1.2407012939453126
the value back in set4_3fake is now 140226   -1.240701
Name: acceleration_x, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_x, dtype: float64)
-----------------------
bookingid: 1365799600233.0, index: 175, id: 2443079
the previous value is -1.522576904296875 and the after value is -1.3334136962890626
estimated value is -1.4279953002929688

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1192
Bearing           1619
acceleration_x       0
acceleration_y    1724
acceleration_z     664
gyro_x            1350
gyro_y            1102
gyro_z            1361
second             956
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_3fake acceleration_y
justnullsdf = set4_3fake[set4_3fake['acceleration_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_y']) # finding the standard deviation of acceleration_y
    nulldf = bookingidx[bookingidx['acceleration_y'].isnull()] # make dataframe of records with acceleration_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 5] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'acceleration_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_y'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1047972020402.0, index: 0, id: 3121
the after value is 9.811439
estimated value is 8.39163528537922
the value back in set4_3fake is now 69    8.391635
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 15, id: 3005156
the previous value is -8.432192993164064 and the after value is -10.114773559570311
estimated value is -9.273483276367188
the value back in set4_3fake is now 76095   -9.273483
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 26, id: 5446238
the previous value is -9.546685791015628 and the after value is -8.81485595703125
estimated value is -9.18077087402344
the value back in set4_3fake is now 136899   -9.180771
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 55, id: 4300
the previous value is -9.145779418945311 and the after value is -9.824822998046878
estimated value is -9.485301208496095
the value back in set4_3fake is now 111   -9.485301
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 111   -10.494745
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 1511828488324.0, index: 79, id: 2466727
the previous value is -10.07679138183594 and the after value is -10.064230346679688
estimated value is -10.070510864257814
the value back in set4_3fake is now 62382   -10.070511
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 95, id: 5635758
the previous value is -9.972714233398438 and the after value is -9.503768920898438
estimated value is -9.738241577148438
the value back in set4_3fake is now 141754   -9.738242
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 97, id: 897608
the previous value is -9.503768920898438 and the after value is -8.761172485351564
estimated value is -9.132470703125001
the value back in set4_3fake is now 22756   -9.132471
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 121, id: 7232023
the previous value is -9.633416748046878 and the after value is -9.323727416992188
estimated value is -9.478572082519534
the value back in set4_3fake is now 182177   -9.478572
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1391569403918.0, index: 36, id: 5259
the previous value is 1.9728824 and the after value is 1.4437478
estimated value is 1.7083151
the value back in set4_3fake is now 128    1.708315
Name: acceleration_y, dtype: float64
the value back in bookingidx is now 128    2.626519
Name: acceleration_y, dtype: float64
-----------------------
bookingid: 1391569403918.0, index: 42, id: 3918650
the previous value is 2.5738454 and the after value is 1.5299416
estimated value is 2.0518935000000003
the value back in set4_3fake is now 98421    2.051894
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1391569403918.0, index: 65, id: 4268146
the previous value is 2.135693 and the after value is 1.1899546
estimated value is 1.6628238
the value back in set4_3fake is now 107149    1.662824
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1391569403918.0, index: 85, id: 351975
the previous value is 1.7143008000000002 and the after value is 1.7741576
estimated value is 1.7442292
the value back in set4_3fake is now 8875    1.744229
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1675037245602.0, index: 0, id: 2599394
the after value is 10.452395
estimated value is 9.681517267956405
the value back in set4_3fake is now 65711    9.681517
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1675037245602.0, index: 12, id: 14277
the previous value is 9.697264 and the after value is 8.949459
estimated value is 9.3233615
the value back in set4_3fake is now 364    9.323362
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1675037245602.0, index: 54, id: 2081386
the previous value is 8.901689999999999
estimated value is 9.672567732043593
the value back in set4_3fake is now 52574    9.672568
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1529008357565.0, index: 16, id: 15630
the previous value is -3.6386627197265633 and the after value is -3.46505126953125
estimated value is -3.5518569946289067
the value back in set4_3fake is now 387   -3.551857
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1477468749902.0, index: 35, id: 21020
the previous value is 8.937828 and the after value is 8.542772
estimated value is 8.7403
the value back in set4_3fake is now 517    8.7403
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1477468749902.0, index: 52, id: 2228335
the previous value is 10.881979 and the after value is 10.245102
estimated value is 10.563540499999998
the value back in set4_3fake is now 56346    10.56354
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1477468749902.0, index: 57, id: 3775934
the previous value is 10.094262 and the after value is 8.983319
estimated value is 9.538790500000001
the value back in set4_3fake is now 95014    9.538791
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1494648619126.0, index: 58, id: 3008407
the previous value is 8.473338 and the after value is 8.648121000000002
estimated value is 8.5607295
the value back in set4_3fake is now 76182    8.56073
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1494648619126.0, index: 148, id: 1582911
the previous value is 8.518829 and the after value is 8.116591
estimated value is 8.31771
the value back in set4_3fake is now 40064    8.31771
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1494648619126.0, index: 196, id: 24256
the previous value is 7.4868975 and the after value is 9.613013
estimated value is 8.54995525
the value back in set4_3fake is now 594    8.549955
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 23, id: 1666799
the previous value is -8.836837768554688 and the after value is -9.49659118652344
estimated value is -9.166714477539063
the value back in set4_3fake is now 42249   -9.166714
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 54, id: 27990
the previous value is -9.332699584960938 and the after value is -9.111087036132815
estimated value is -9.221893310546877
the value back in set4_3fake is now 685   -9.221893
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 78, id: 6750100
the previous value is -11.673089599609376 and the after value is -9.86878662109375
estimated value is -10.770938110351564
the value back in set4_3fake is now 169997   -10.770938
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 87, id: 253775
the previous value is -9.046337890625 and the after value is -10.886529541015628
estimated value is -9.966433715820315
the value back in set4_3fake is now 6305   -9.966434
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 93, id: 4697287
the previous value is -10.0141357421875 and the after value is -9.089254760742188
estimated value is -9.551695251464844
the value back in set4_3fake is now 117900   -9.551695
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 127, id: 4097474
the after value is nan
estimated value is -8.22421676202017
the value back in set4_3fake is now 102865   -8.224217
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 128, id: 4472922
the previous value is -8.22421676202017 and the after value is -9.93338623046875
estimated value is -9.07880149624446
the value back in set4_3fake is now 112262   -9.078801
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646839.0, index: 139, id: 2666521
the previous value is -9.404925537109378 and the after value is -8.764013671875
estimated value is -9.084469604492188
the value back in set4_3fake is now 67419   -9.08447
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1520418422788.0, index: 23, id: 395895
the previous value is 9.051279 and the after value is 8.872911
estimated value is 8.962095
the value back in set4_3fake is now 10003    8.962095
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1520418422788.0, index: 30, id: 725444
the previous value is 7.133524 and the after value is 10.33936
estimated value is 8.736442
the value back in set4_3fake is now 18338    8.736442
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1520418422788.0, index: 137, id: 32150
the previous value is 8.937555 and the after value is 10.152613
estimated value is 9.545084
the value back in set4_3fake is now 766    9.545084
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1434519076967.0, index: 26, id: 4468977
the previous value is 8.604125999999999 and the after value is 8.545288000000001
estimated value is 8.574707
the value back in set4_3fake is now 112163    8.574707
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1434519076967.0, index: 32, id: 40126
the previous value is 8.6237335 and the after value is 7.917648299999999
estimated value is 8.2706909
the value back in set4_3fake is now 971    8.270691
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1434519076967.0, index: 38, id: 6809299
the previous value is 8.682571000000001 and the after value is 8.035339
estimated value is 8.358955000000002
the value back in set4_3fake is now 171504    8.358955
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1503238553679.0, index: 13, id: 40600
the after value is nan
estimated value is 9.314243554684461
the value back in set4_3fake is now 981    9.314244
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1503238553679.0, index: 14, id: 7014290
the previous value is 9.314243554684461 and the after value is 6.787561999999999
estimated value is 8.05090277734223
the value back in set4_3fake is now 176629    8.050903
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 11, id: 3115004
the previous value is 11.366784 and the after value is 10.761608
estimated value is 11.064196
the value back in set4_3fake is now 78822    11.064196
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 32, id: 3343708
the previous value is 9.379032 and the after value is 9.865805
estimated value is 9.6224185
the value back in set4_3fake is now 84556    9.622419
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 47, id: 7358553
the previous value is 10.591776 and the after value is 11.236421
estimated value is 10.9140985
the value back in set4_3fake is now 185351    10.914098
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 65, id: 1025093
the previous value is 9.501024 and the after value is 9.8072
estimated value is 9.654112
the value back in set4_3fake is now 25960    9.654112
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 126, id: 2883007
the previous value is 9.273785 and the after value is 9.6278
estimated value is 9.4507925
the value back in set4_3fake is now 72903    9.450793
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 145, id: 46385
the previous value is 10.503272 and the after value is 8.636316
estimated value is 9.569794000000002
the value back in set4_3fake is now 1122    9.569794
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1228360646810.0, index: 36, id: 52211
the previous value is 10.259338 and the after value is 8.857147
estimated value is 9.558242499999999
the value back in set4_3fake is now 1274    9.558242
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1408749273112.0, index: 8, id: 52762
the previous value is 12.120178 and the after value is 8.467819
estimated value is 10.2939985
the value back in set4_3fake is now 1284    10.293999
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1159641169996.0, index: 66, id: 6294849
the after value is nan
estimated value is 8.997492507781011
the value back in set4_3fake is now 158713    8.997493
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1159641169996.0, index: 67, id: 3716400
the previous value is 8.997492507781011 and the after value is 8.887542999999999
estimated value is 8.942517753890506
the value back in set4_3fake is now 93564    8.942518
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1159641169996.0, index: 86, id: 55594
the previous value is 9.581863 and the after value is 7.8951416
estimated value is 8.7385023
the value back in set4_3fake is now 1349    8.738502
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1159641169996.0, index: 131, id: 4242734
the previous value is 8.00528 and the after value is 7.1601257
estimated value is 7.58270285
the value back in set4_3fake is now 106531    7.582703
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1640677507163.0, index: 21, id: 765367
the previous value is -7.363308715820312 and the after value is -7.477255249023438
estimated value is -7.420281982421875
the value back in set4_3fake is now 19343   -7.420282
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1640677507163.0, index: 24, id: 59574
the previous value is -8.68505859375 and the after value is -7.258334350585938
estimated value is -7.971696472167968
the value back in set4_3fake is now 1447   -7.971696
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1529008357432.0, index: 28, id: 1481024
the previous value is -8.411407470703125 and the after value is -9.110787963867187
estimated value is -8.761097717285157
the value back in set4_3fake is now 37516   -8.761098
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1529008357432.0, index: 63, id: 64157
the previous value is -8.741583251953125 and the after value is -8.815902709960938
estimated value is -8.77874298095703
the value back in set4_3fake is now 1538   -8.778743
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1322849927329.0, index: 4, id: 846019
the previous value is 6.0527267 and the after value is 6.1987777
estimated value is 6.1257522
the value back in set4_3fake is now 21413    6.125752
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1322849927329.0, index: 34, id: 70046
the previous value is 7.7718163 and the after value is 7.549148599999999
estimated value is 7.66048245
the value back in set4_3fake is now 1679    7.660482
Name: acceleration_y, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_y, dtype: float64)
-----------------------
bookingid: 1322849927329.0, index: 36, id: 466595
the previous value is 7.549148599999999 and the after value is 6.926637
estimated value is 7.237892799999999
the value back in set4_3fake is now 11745    7.237893
Name: acceleration_y, dtype: float64

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1190
Bearing           1614
acceleration_x       0
acceleration_y       0
acceleration_z     663
gyro_x            1347
gyro_y            1100
gyro_z            1355
second             955
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_3fake acceleration_z
justnullsdf = set4_3fake[set4_3fake['acceleration_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against acceleration_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['acceleration_z']) # finding the standard deviation of acceleration_z
    nulldf = bookingidx[bookingidx['acceleration_z'].isnull()] # make dataframe of records with acceleration_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with acceleration_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 6] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['acceleration_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['acceleration_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'acceleration_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'acceleration_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['acceleration_z'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1666447310986.0, index: 11, id: 33428
the previous value is -3.2625793457031254 and the after value is -4.304248046875
estimated value is -3.7834136962890628
the value back in set4_3fake is now 801   -3.783414
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1073741824033.0, index: 42, id: 40760
the previous value is -4.566983032226564 and the after value is -3.72105712890625
estimated value is -4.144020080566407
the value back in set4_3fake is now 986   -4.14402
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1503238553604.0, index: 6, id: 78536
the previous value is 1.6812755 and the after value is 0.076298416
estimated value is 0.878786958
the value back in set4_3fake is now 1879    0.878787
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1503238553604.0, index: 9, id: 3903665
the previous value is 0.08937076 and the after value is 2.82828
estimated value is 1.45882538
the value back in set4_3fake is now 98103    1.458825
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1675037245566.0, index: 7, id: 84265
the previous value is 0.05923462 and the after value is 2.555191
estimated value is 1.30721281
the value back in set4_3fake is now 2019    1.307213
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1099511627800.0, index: 6, id: 84365
the previous value is -1.9391845703125 and the after value is 0.0976470947265625
estimated value is -0.9207687377929688
the value back in set4_3fake is now 2025   -0.920769
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1099511627800.0, index: 36, id: 1465453
the previous value is -0.9464141845703126 and the after value is -0.9694427490234376
estimated value is -0.957928466796875
the value back in set4_3fake is now 37142   -0.957928
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641169945.0, index: 42, id: 2788371
the previous value is -1.2880858999999998 and the after value is 0.17237854
estimated value is -0.5578536799999999
the value back in set4_3fake is now 70471   -0.557854
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641169945.0, index: 66, id: 115231
the previous value is -1.2006989 and the after value is -0.93852234
estimated value is -1.06961062
the value back in set4_3fake is now 2811   -1.069611
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641169945.0, index: 251, id: 6371816
the previous value is -2.8119965 and the after value is -0.64523315
estimated value is -1.728614825
the value back in set4_3fake is now 160553   -1.728615
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1073741824096.0, index: 10, id: 1860523
the previous value is 1.3675079345703125 and the after value is -3.947006225585938
estimated value is -1.2897491455078127
the value back in set4_3fake is now 47080   -1.289749
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1073741824096.0, index: 21, id: 115935
the previous value is -0.9154602050781252 and the after value is -2.5847320556640625
estimated value is -1.7500961303710938
the value back in set4_3fake is now 2824   -1.750096
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1494648619211.0, index: 14, id: 124498
the previous value is 5.7727203000000005 and the after value is 2.8637543
estimated value is 4.3182373
the value back in set4_3fake is now 3058    4.318237
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1494648619211.0, index: 32, id: 6288661
the previous value is 5.649414 and the after value is 5.1849365
estimated value is 5.41717525
the value back in set4_3fake is now 158578    5.417175
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1494648619211.0, index: 111, id: 3733952
the previous value is 6.771103 and the after value is 5.558426
estimated value is 6.1647645
the value back in set4_3fake is now 94023    6.164765
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1494648619126.0, index: 24, id: 2704127
the previous value is 5.2674046 and the after value is 3.4812756
estimated value is 4.3743400999999995
the value back in set4_3fake is now 68343    4.37434
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1494648619126.0, index: 116, id: 134478
the previous value is 4.398283 and the after value is 4.0966043
estimated value is 4.24744365
the value back in set4_3fake is now 3308    4.247444
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1468878815257.0, index: 5, id: 6411243
the previous value is -2.7222905 and the after value is -3.1436827000000003
estimated value is -2.9329866000000004
the value back in set4_3fake is now 161565   -2.932987
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1468878815257.0, index: 21, id: 137810
the previous value is -0.09337672 and the after value is 0.4956149
estimated value is 0.20111909
the value back in set4_3fake is now 3385    0.201119
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1391569404049.0, index: 79, id: 152419
the previous value is 0.5363176 and the after value is 0.2849186999999999
estimated value is 0.4106181499999999
the value back in set4_3fake is now 3768    0.410618
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1391569404049.0, index: 98, id: 2255671
the previous value is 2.4780743 and the after value is 2.3655436
estimated value is 2.42180895
the value back in set4_3fake is now 57056    2.421809
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1013612281914.0, index: 4, id: 6204502
the previous value is 0.7996878000000001 and the after value is 2.185973
estimated value is 1.4928304000000001
the value back in set4_3fake is now 156373    1.49283
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1013612281914.0, index: 20, id: 193301
the previous value is 1.2593886 and the after value is 2.8898897
estimated value is 2.07463915
the value back in set4_3fake is now 4778    2.074639
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1013612281914.0, index: 52, id: 7026059
the previous value is -1.2809371 and the after value is 2.710319
estimated value is 0.71469095
the value back in set4_3fake is now 176930    0.714691
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1391569404038.0, index: 54, id: 7253496
the previous value is 3.3950818 and the after value is 2.604971
estimated value is 3.0000264
the value back in set4_3fake is now 182702    3.000026
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1391569404038.0, index: 70, id: 6690836
the previous value is 3.100586 and the after value is 2.9210153
estimated value is 3.01080065
the value back in set4_3fake is now 168588    3.010801
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1391569404038.0, index: 102, id: 208254
the previous value is 1.8603516 and the after value is 3.0527003
estimated value is 2.45652595
the value back in set4_3fake is now 5129    2.456526
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1451698946083.0, index: 6, id: 5971138
the previous value is 5.020794400000001 and the after value is 3.799714
estimated value is 4.410254200000001
the value back in set4_3fake is now 150331    4.410254
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1451698946083.0, index: 39, id: 240582
the previous value is 5.260222 and the after value is 5.609786
estimated value is 5.435003999999999
the value back in set4_3fake is now 5942    5.435004
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1451698946083.0, index: 65, id: 1743347
the previous value is 4.4246197 and the after value is 4.470111
estimated value is 4.44736535
the value back in set4_3fake is now 44112    4.447365
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1451698946083.0, index: 150, id: 7268895
the previous value is 3.4094474000000003 and the after value is 4.989669
estimated value is 4.1995582
the value back in set4_3fake is now 183106    4.199558
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1425929142464.0, index: 38, id: 272789
the previous value is 2.4064794 and the after value is 6.9633923
estimated value is 4.68493585
the value back in set4_3fake is now 6810    4.684936
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1700807049388.0, index: 20, id: 274435
the previous value is -0.6352996999999999 and the after value is -0.56829834
estimated value is -0.60179902
the value back in set4_3fake is now 6847   -0.601799
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1675037245503.0, index: 21, id: 274701
the previous value is 1.4558837890625 and the after value is 3.00567626953125
estimated value is 2.230780029296875
the value back in set4_3fake is now 6856    2.23078
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1288490188915.0, index: 26, id: 280277
the previous value is -7.857675170898437 and the after value is -8.944204711914063
estimated value is -8.40093994140625
the value back in set4_3fake is now 6985   -8.40094
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1176821039121.0, index: 50, id: 293585
the previous value is 6.919453999999999 and the after value is 4.5898247
estimated value is 5.75463935
the value back in set4_3fake is now 7333    5.754639
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641170033.0, index: 5, id: 2936021
the previous value is -1.6305012 and the after value is -0.62251145
estimated value is -1.126506325
the value back in set4_3fake is now 74271   -1.126506
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641170033.0, index: 142, id: 792728
the previous value is -0.85954463 and the after value is -1.4533248
estimated value is -1.156434715
the value back in set4_3fake is now 20073   -1.156435
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1159641170033.0, index: 155, id: 296611
the previous value is 0.70631105 and the after value is -0.019154198
estimated value is 0.34357842600000005
the value back in set4_3fake is now 7419    0.343578
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1675037245603.0, index: 37, id: 311844
the previous value is -1.0295382 and the after value is -1.5826156
estimated value is -1.3060768999999999
the value back in set4_3fake is now 7823   -1.306077
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1400159338622.0, index: 5, id: 326127
the previous value is 4.813324 and the after value is 5.1898040000000005
estimated value is 5.001564
the value back in set4_3fake is now 8177    5.001564
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1400159338622.0, index: 30, id: 1225066
the previous value is 4.294372599999999 and the after value is 4.830078
estimated value is 4.5622253
the value back in set4_3fake is now 31065    4.562225
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1090921693342.0, index: 45, id: 332901
the previous value is -0.28531494140625 and the after value is -0.33555908203125
estimated value is -0.31043701171875004
the value back in set4_3fake is now 8347   -0.310437
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1554778161271.0, index: 54, id: 351644
the previous value is -1.6561747 and the after value is -0.60861564
estimated value is -1.1323951700000001
the value back in set4_3fake is now 8871   -1.132395
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1563368095799.0, index: 7, id: 4455060
the previous value is 1.7789462 and the after value is 2.020768
estimated value is 1.8998571
the value back in set4_3fake is now 111825    1.899857
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1563368095799.0, index: 51, id: 359108
the previous value is 1.8100717 and the after value is 3.2490308
estimated value is 2.52955125
the value back in set4_3fake is now 9075    2.529551
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1657857376301.0, index: 16, id: 390262
the previous value is 4.8841715 and the after value is 5.090072599999999
estimated value is 4.98712205
the value back in set4_3fake is now 9851    4.987122
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1657857376301.0, index: 41, id: 6722323
the previous value is 7.3071036 and the after value is 5.3247046
estimated value is 6.315904099999999
the value back in set4_3fake is now 169351    6.315904
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1082331758625.0, index: 7, id: 416299
the previous value is -7.134721300000001 and the after value is -7.527369999999999
estimated value is -7.33104565
the value back in set4_3fake is now 10506   -7.331046
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1082331758625.0, index: 10, id: 2464646
the previous value is -8.159439 and the after value is -9.32781
estimated value is -8.7436245
the value back in set4_3fake is now 62323   -8.743624
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1082331758625.0, index: 77, id: 2163844
the previous value is -8.90643 and the after value is -9.423578
estimated value is -9.165004
the value back in set4_3fake is now 54725   -9.165004
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1082331758625.0, index: 133, id: 6802223
the previous value is -9.624691 and the after value is -8.485051
estimated value is -9.054871
the value back in set4_3fake is now 171330   -9.054871
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1082331758625.0, index: 160, id: 1291918
the previous value is -8.887277000000001 and the after value is -7.489063000000001
estimated value is -8.188170000000001
the value back in set4_3fake is now 32760   -8.18817
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1331439861865.0, index: 16, id: 423833
the previous value is -2.5623016357421875 and the after value is -2.4076812744140628
estimated value is -2.4849914550781254
the value back in set4_3fake is now 10668   -2.484991
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1374389534884.0, index: 60, id: 424580
the previous value is 0.64511704 and the after value is -0.33107674
estimated value is 0.15702015000000002
the value back in set4_3fake is now 10684    0.15702
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1520418422898.0, index: 6, id: 430820
the previous value is -2.9141601562500004 and the after value is -3.0349853515625003
estimated value is -2.9745727539062505
the value back in set4_3fake is now 10831   -2.974573
Name: acceleration_z, dtype: float64
the value back in bookingidx is now Series([], Name: acceleration_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 5, id: 2925554
the previous value is 1.1605499267578123 and the after value is 0.7582977294921875

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1190
Bearing           1610
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x            1347
gyro_y            1098
gyro_z            1354
second             955
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_3fake gyro_x
justnullsdf = set4_3fake[set4_3fake['gyro_x'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_x
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_x']) # finding the standard deviation of gyro_x
    nulldf = bookingidx[bookingidx['gyro_x'].isnull()] # make dataframe of records with gyro_x being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_x = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 7] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_x']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_x'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_x'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'gyro_x'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_x'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1408749273120.0, index: 14, id: 5867981
the previous value is 0.0031280518 and the after value is 0.0107879639999999
estimated value is 0.00695800789999995
the value back in set4_3fake is now 147675    0.006958
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1408749273120.0, index: 19, id: 26067
the previous value is -0.0075378419999999 and the after value is -0.0071411133
estimated value is -0.00733947764999995
the value back in set4_3fake is now 633   -0.007339
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1408749273120.0, index: 25, id: 3461989
the previous value is -9.1552734e-05 and the after value is -0.016616821
estimated value is -0.008354186867
the value back in set4_3fake is now 87419   -0.008354
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1408749273120.0, index: 64, id: 125761
the previous value is 0.0084991455 and the after value is 0.000869751
estimated value is 0.00468444825
the value back in set4_3fake is now 3091    0.004684
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1408749273120.0, index: 115, id: 7215968
the previous value is 0.002532959 and the after value is -0.001449585
estimated value is 0.000541687
the value back in set4_3fake is now 181774    0.000542
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1520418422939.0, index: 34, id: 27071
the previous value is 0.010070549 and the after value is 0.05555383
estimated value is 0.0328121895
the value back in set4_3fake is now 657    0.032812
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1520418422939.0, index: 110, id: 4728583
the previous value is 0.20692624 and the after value is 0.23160519
estimated value is 0.219265715
the value back in set4_3fake is now 118660    0.219266
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1520418422939.0, index: 159, id: 1102736
the previous value is 0.0216246279999999 and the after value is 0.09623746
estimated value is 0.058931043999999946
the value back in set4_3fake is now 27952    0.058931
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1520418422939.0, index: 184, id: 6794987
the previous value is -0.0484677929999999 and the after value is 0.023509584
estimated value is -0.012479104499999949
the value back in set4_3fake is now 171143   -0.012479
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1520418422939.0, index: 278, id: 5117937
the previous value is -0.3954218 and the after value is -0.11868239
estimated value is -0.257052095
the value back in set4_3fake is now 128533   -0.257052
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1649267441702.0, index: 18, id: 4427903
the previous value is -0.040317107 and the after value is 0.0525344129999999
estimated value is 0.00610865299999995
the value back in set4_3fake is now 111128    0.006109
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1649267441702.0, index: 28, id: 38562
the previous value is -0.007330383 and the after value is 0.034208454
estimated value is 0.0134390355
the value back in set4_3fake is now 924    0.013439
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1649267441702.0, index: 69, id: 2971403
the after value is nan
estimated value is 0.07620742609761588
the value back in set4_3fake is now 75220    0.076207
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1649267441702.0, index: 70, id: 6185206
the previous value is 0.07620742609761588 and the after value is 0.07086037
estimated value is 0.07353389804880794
the value back in set4_3fake is now 155839    0.073534
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1065151889495.0, index: 2, id: 7051491
the previous value is 0.02560747 and the after value is -0.07090924
estimated value is -0.022650885
the value back in set4_3fake is now 177585   -0.022651
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1065151889495.0, index: 29, id: 57448
the previous value is -0.034257326 and the after value is -0.03242473
estimated value is -0.033341027999999995
the value back in set4_3fake is now 1396   -0.033341
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1065151889495.0, index: 44, id: 1169628
the previous value is -0.06418972 and the after value is -0.106339425
estimated value is -0.0852645725
the value back in set4_3fake is now 29678   -0.085265
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1065151889495.0, index: 59, id: 4138702
the previous value is 0.0158336239999999 and the after value is -0.04769636
estimated value is -0.01593136800000005
the value back in set4_3fake is now 103924   -0.015931
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1185410973725.0, index: 7, id: 61204
the previous value is 0.2600899046954276 and the after value is -0.0933802815142114
estimated value is 0.08335481159060809
the value back in set4_3fake is now 1476    0.083355
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1185410973725.0, index: 16, id: 4190242
the after value is nan
estimated value is 0.07596488700357473
the value back in set4_3fake is now 105196    0.075965
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1185410973725.0, index: 17, id: 3449955
the previous value is 0.07596488700357473 and the after value is 0.0756265844233071
estimated value is 0.07579573571344092
the value back in set4_3fake is now 87118    0.075796
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 34, id: 2271912
the previous value is 0.0037841796999999 and the after value is 0.015930176
estimated value is 0.00985717784999995
the value back in set4_3fake is now 57482    0.009857
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 60, id: 4170717
the previous value is 0.0041656494 and the after value is 0.04736328
estimated value is 0.0257644647
the value back in set4_3fake is now 104707    0.025764
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 68, id: 3886536
the previous value is 0.03010559 and the after value is 0.0075683593999999
estimated value is 0.01883697469999995
the value back in set4_3fake is now 97670    0.018837
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 86, id: 65712
the previous value is -0.006439209 and the after value is -0.013626099
estimated value is -0.010032654
the value back in set4_3fake is now 1571   -0.010033
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 126, id: 4608908
the previous value is -0.01473999 and the after value is 0.012573242
estimated value is -0.0010833739999999998
the value back in set4_3fake is now 115597   -0.001083
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1451698946079.0, index: 159, id: 6412310
the previous value is 0.016677856 and the after value is 0.03286743
estimated value is 0.024772643000000004
the value back in set4_3fake is now 161598    0.024773
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1571958030468.0, index: 10, id: 70237
the previous value is -0.002443461 and the after value is 0.04153884
estimated value is 0.0195476895
the value back in set4_3fake is now 1686    0.019548
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1571958030468.0, index: 41, id: 2838410
the previous value is -0.008552114 and the after value is 0.004886922
estimated value is -0.0018325959999999997
the value back in set4_3fake is now 71739   -0.001833
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1382979469427.0, index: 11, id: 76249
the previous value is -0.049619712 and the after value is 0.01691224
estimated value is -0.016353736
the value back in set4_3fake is now 1831   -0.016354
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1597727834263.0, index: 39, id: 3526475
the previous value is 0.0743588 and the after value is -0.014827532
estimated value is 0.029765634000000003
the value back in set4_3fake is now 88976    0.029766
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1597727834263.0, index: 49, id: 79873
the previous value is 0.030376496 and the after value is -0.013605801
estimated value is 0.0083853475
the value back in set4_3fake is now 1907    0.008385
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1700807049367.0, index: 0, id: 1316179
the after value is 0.5429551630332128
estimated value is 0.3407794637869553
the value back in set4_3fake is now 33387    0.340779
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1700807049367.0, index: 9, id: 86608
the previous value is 0.0278042007287542 and the after value is -0.1010736212712322
estimated value is -0.036634710271239004
the value back in set4_3fake is now 2085   -0.036635
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1348619730989.0, index: 81, id: 2387718
the previous value is -0.008529663 and the after value is -0.032424927
estimated value is -0.020477295
the value back in set4_3fake is now 60389   -0.020477
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1348619730989.0, index: 86, id: 6532170
the after value is nan
estimated value is 0.018242481419964696
the value back in set4_3fake is now 164612    0.018242
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1348619730989.0, index: 87, id: 96846
the previous value is 0.018242481419964696 and the after value is 0.015625
estimated value is 0.016933740709982346
the value back in set4_3fake is now 2327    0.016934
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1348619730989.0, index: 92, id: 2318367
the previous value is 0.016677856 and the after value is 0.021743774
estimated value is 0.019210815
the value back in set4_3fake is now 58658    0.019211
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1700807049304.0, index: 24, id: 99976
the previous value is 0.0050811768 and the after value is 0.02607727
estimated value is 0.0155792234
the value back in set4_3fake is now 2413    0.015579
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1511828488334.0, index: 11, id: 5597454
the previous value is -0.043655396 and the after value is -0.005432129
estimated value is -0.0245437625
the value back in set4_3fake is now 140766   -0.024544
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1511828488334.0, index: 14, id: 103059
the previous value is -0.0005950928 and the after value is 0.02532959
estimated value is 0.0123672486
the value back in set4_3fake is now 2481    0.012367
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1511828488334.0, index: 16, id: 2232568
the previous value is 0.02532959 and the after value is -0.0011901855
estimated value is 0.01206970225
the value back in set4_3fake is now 56452    0.01207
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1511828488334.0, index: 32, id: 3874882
the previous value is -0.009277344 and the after value is 0.03135681
estimated value is 0.011039733
the value back in set4_3fake is now 97371    0.01104
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1460288880716.0, index: 26, id: 136036
the previous value is 0.1423869729455225 and the after value is -0.0389324856597593
estimated value is 0.0517272436428816
the value back in set4_3fake is now 3346    0.051727
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1606317768753.0, index: 7, id: 162055
the previous value is 0.0459871993873792 and the after value is -0.0156095860972814
estimated value is 0.015188806645048899
the value back in set4_3fake is now 3979    0.015189
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 2, id: 2055442
the previous value is 0.02057333 and the after value is 0.035844963
estimated value is 0.0282091465
the value back in set4_3fake is now 51912    0.028209
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 41, id: 5058037
the previous value is 0.0034691037 and the after value is 0.015075543
estimated value is 0.00927232335
the value back in set4_3fake is now 127085    0.009272
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 43, id: 6865897
the previous value is 0.015075543 and the after value is -0.020354642
estimated value is -0.0026395494999999995
the value back in set4_3fake is now 172938   -0.00264
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 74, id: 7286871
the previous value is -0.011802527 and the after value is -0.0001960877399999
estimated value is -0.00599930736999995
the value back in set4_3fake is now 183552   -0.005999
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 80, id: 7386291
the previous value is -0.0148568535 and the after value is -0.018522045
estimated value is -0.016689449250000002
the value back in set4_3fake is now 186023   -0.016689
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 92, id: 2534628
the previous value is -0.0020286834 and the after value is 0.0077451607
estimated value is 0.00285823865
the value back in set4_3fake is now 64074    0.002858
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 141, id: 5371153
the previous value is 0.018740734 and the after value is 0.0004147775
estimated value is 0.00957775575
the value back in set4_3fake is now 134961    0.009578
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 173, id: 5564227
the previous value is 0.004690834 and the after value is -0.0050830096
estimated value is -0.0001960878
the value back in set4_3fake is now 139874   -0.000196
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 215, id: 179368
the previous value is -0.0026395489 and the after value is 0.0004147775
estimated value is -0.0011123857
the value back in set4_3fake is now 4435   -0.001112
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 244, id: 2604165
the previous value is 0.0260711179999999 and the after value is -0.023408968
estimated value is 0.0013310749999999507
the value back in set4_3fake is now 65854    0.001331
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1486058684478.0, index: 307, id: 5767337
the previous value is 0.0053016995 and the after value is 0.009577756
estimated value is 0.00743972775
the value back in set4_3fake is now 145088    0.00744
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1623497637901.0, index: 70, id: 1889933
the previous value is -0.036696505 and the after value is -4.4593162e-05
estimated value is -0.018370549081
the value back in set4_3fake is now 47778   -0.018371
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1623497637901.0, index: 97, id: 5995875
the previous value is 0.034774728 and the after value is -0.002488054
estimated value is 0.016143337
the value back in set4_3fake is now 150966    0.016143
Name: gyro_x, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_x, dtype: float64)
-----------------------
bookingid: 1623497637901.0, index: 146, id: 211531
the previous value is -0.07701361 and the after value is 0.043937705
estimated value is -0.016537952499999998
the value back in set4_3fake is now 5214   -0.016538
Name: gyro_x, dtype: float64

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1190
Bearing           1608
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y            1097
gyro_z            1352
second             953
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_3fake gyro_y
justnullsdf = set4_3fake[set4_3fake['gyro_y'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_y
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_y']) # finding the standard deviation of gyro_y
    nulldf = bookingidx[bookingidx['gyro_y'].isnull()] # make dataframe of records with gyro_y being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_y = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 8] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_y']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_y'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_y'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'gyro_y'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_y'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1108101562489.0, index: 3, id: 310
the previous value is -0.0489973703674958 and the after value is 0.0686693423915841
estimated value is 0.009835986012044152
the value back in set4_3fake is now 11    0.009836
Name: gyro_y, dtype: float64
the value back in bookingidx is now 11    0.039996
Name: gyro_y, dtype: float64
-----------------------
bookingid: 1520418422970.0, index: 41, id: 319
the previous value is 0.0052557484112713 and the after value is -0.0042069955739981
estimated value is 0.0005243764186366002
the value back in set4_3fake is now 12    0.000524
Name: gyro_y, dtype: float64
the value back in bookingidx is now 12   -0.043949
Name: gyro_y, dtype: float64
-----------------------
bookingid: 1305670058109.0, index: 18, id: 2078
the previous value is -0.08357837 and the after value is 0.022120535
estimated value is -0.0307289175
the value back in set4_3fake is now 47   -0.030729
Name: gyro_y, dtype: float64
the value back in bookingidx is now 47    0.127338
Name: gyro_y, dtype: float64
-----------------------
bookingid: 1305670058109.0, index: 25, id: 4962325
the after value is nan
estimated value is 0.5198778993625577
the value back in set4_3fake is now 124695    0.519878
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1305670058109.0, index: 26, id: 2324406
the previous value is 0.5198778993625577 and the after value is 0.053111967
estimated value is 0.28649493318127883
the value back in set4_3fake is now 58826    0.286495
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1305670058109.0, index: 49, id: 2993255
the previous value is 0.0055013834 and the after value is -0.08224456
estimated value is -0.038371588299999995
the value back in set4_3fake is now 75769   -0.038372
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1168231104689.0, index: 17, id: 877638
the previous value is 0.1244686924992513 and the after value is -0.3413677169518828
estimated value is -0.10844951222631574
the value back in set4_3fake is now 22251   -0.10845
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1168231104689.0, index: 26, id: 3826
the previous value is 0.0639654009581772 and the after value is -0.1358776746091508
estimated value is -0.0359561368254868
the value back in set4_3fake is now 92   -0.035956
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1065151889548.0, index: 13, id: 6795882
the previous value is -0.086267 and the after value is 0.13486621
estimated value is 0.024299604999999995
the value back in set4_3fake is now 171163    0.0243
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1065151889548.0, index: 20, id: 4338
the previous value is -0.066719316 and the after value is 0.060951523
estimated value is -0.0028838965
the value back in set4_3fake is now 114   -0.002884
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1065151889548.0, index: 44, id: 1649336
the previous value is 0.08294267 and the after value is 0.009638842
estimated value is 0.046290755999999995
the value back in set4_3fake is now 41809    0.046291
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 133, id: 2494322
the previous value is 0.048180796 and the after value is -0.014141204
estimated value is 0.017019796
the value back in set4_3fake is now 63057    0.01702
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1408749273142.0, index: 156, id: 7507
the previous value is -0.0495792029999999 and the after value is 0.0090767965
estimated value is -0.02025120324999995
the value back in set4_3fake is now 189   -0.020251
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1271310319677.0, index: 2, id: 2130425
the previous value is -0.01937237 and the after value is 0.22802806
estimated value is 0.104327845
the value back in set4_3fake is now 53896    0.104328
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1271310319677.0, index: 25, id: 7959
the previous value is 0.00506224 and the after value is -0.0041007386
estimated value is 0.0004807507000000001
the value back in set4_3fake is now 199    0.000481
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1271310319677.0, index: 63, id: 1452337
the previous value is -0.032200538 and the after value is -0.008376795
estimated value is -0.0202886665
the value back in set4_3fake is now 36822   -0.020289
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1090921693347.0, index: 39, id: 8194
the previous value is 0.008716436 and the after value is -0.0731395
estimated value is -0.032211532
the value back in set4_3fake is now 209   -0.032212
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1116691497097.0, index: 12, id: 11512
the previous value is 0.018066406 and the after value is -0.0004119873
estimated value is 0.00882720935
the value back in set4_3fake is now 301    0.008827
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1116691497097.0, index: 24, id: 1251775
the previous value is -0.0020141601999999 and the after value is -0.0096588135
estimated value is -0.00583648684999995
the value back in set4_3fake is now 31730   -0.005836
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1116691497097.0, index: 65, id: 796569
the previous value is -0.025497437 and the after value is -0.009063721
estimated value is -0.017280579
the value back in set4_3fake is now 20181   -0.017281
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1116691497097.0, index: 138, id: 1278684
the previous value is 0.029418945 and the after value is 0.037078857
estimated value is 0.033248901
the value back in set4_3fake is now 32415    0.033249
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1116691497097.0, index: 164, id: 2957980
the previous value is -0.016448975 and the after value is 0.0047760009999999
estimated value is -0.005836487000000051
the value back in set4_3fake is now 74873   -0.005836
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 77, id: 1938038
the previous value is -0.00038240163 and the after value is -0.006491054
estimated value is -0.003436727815
the value back in set4_3fake is now 48969   -0.003437
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 80, id: 15540
the previous value is 0.005726251 and the after value is 0.0002284636
estimated value is 0.0029773573
the value back in set4_3fake is now 386    0.002977
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 94, id: 2348293
the previous value is -0.023595281 and the after value is -0.016264899
estimated value is -0.019930089999999998
the value back in set4_3fake is now 59432   -0.01993
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 123, id: 362921
the previous value is 0.0014501942 and the after value is 0.0014501942
estimated value is 0.0014501942
the value back in set4_3fake is now 9167    0.00145
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 130, id: 2164437
the after value is nan
estimated value is 0.028333100882287028
the value back in set4_3fake is now 54736    0.028333
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1675037245531.0, index: 131, id: 3175944
the previous value is 0.028333100882287028 and the after value is -0.0254278779999999
estimated value is 0.0014526114411435639
the value back in set4_3fake is now 80320    0.001453
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1683627180178.0, index: 22, id: 16817
the previous value is -0.0227910662927891 and the after value is -0.0808738107190902
estimated value is -0.051832438505939646
the value back in set4_3fake is now 411   -0.051832
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 8, id: 22474
the previous value is -0.1522033847235545 and the after value is 0.0715665953414813
estimated value is -0.040318394691036596
the value back in set4_3fake is now 550   -0.040318
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1511828488324.0, index: 125, id: 2343060
the previous value is -0.1008019788400442 and the after value is 0.0099455750909009
estimated value is -0.04542820187457165
the value back in set4_3fake is now 59293   -0.045428
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1632087572527.0, index: 23, id: 26468
the previous value is 1.5062408 and the after value is 0.038116455
estimated value is 0.7721786275
the value back in set4_3fake is now 643    0.772179
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1632087572527.0, index: 56, id: 2852515
the previous value is 0.09712219 and the after value is -0.13470459
estimated value is -0.018791200000000008
the value back in set4_3fake is now 72103   -0.018791
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1382979469452.0, index: 7, id: 27035
the previous value is -0.046345733 and the after value is -0.06589343
estimated value is -0.0561195815
the value back in set4_3fake is now 656   -0.05612
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1520418422860.0, index: 27, id: 226641
the previous value is -0.0063476562 and the after value is -0.024139404
estimated value is -0.0152435301
the value back in set4_3fake is now 5594   -0.015244
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1520418422860.0, index: 31, id: 27756
the previous value is -0.009597778 and the after value is 0.005004883
estimated value is -0.0022964475
the value back in set4_3fake is now 676   -0.002296
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 7, id: 514323
the previous value is 0.0276495929999999 and the after value is 0.14554659
estimated value is 0.08659809149999995
the value back in set4_3fake is now 12944    0.086598
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 75, id: 712535
the previous value is -0.0377129879999999 and the after value is 0.08323833
estimated value is 0.02276267100000005
the value back in set4_3fake is now 17997    0.022763
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 145, id: 350253
the previous value is 0.14432485 and the after value is 0.09301218
estimated value is 0.118668515
the value back in set4_3fake is now 8835    0.118669
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 151, id: 30605
the previous value is 0.016654018 and the after value is 0.017264886
estimated value is 0.016959452
the value back in set4_3fake is now 733    0.016959
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1211180777507.0, index: 197, id: 1566747
the previous value is 0.12538803 and the after value is 0.24572848
estimated value is 0.185558255
the value back in set4_3fake is now 39655    0.185558
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1546188226656.0, index: 2, id: 2678344
the previous value is -0.019320795 and the after value is 0.04457571
estimated value is 0.012627457499999998
the value back in set4_3fake is now 67708    0.012627
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1546188226656.0, index: 68, id: 32471
the previous value is 0.006876597 and the after value is -0.026022859
estimated value is -0.009573130999999999
the value back in set4_3fake is now 777   -0.009573
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1546188226656.0, index: 92, id: 2766059
the previous value is 0.0020769418 and the after value is 0.087371185
estimated value is 0.0447240634
the value back in set4_3fake is now 69903    0.044724
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1288490188862.0, index: 24, id: 459302
the previous value is -0.1019615191786647 and the after value is 0.0758737257724665
estimated value is -0.013043896703099099
the value back in set4_3fake is now 11545   -0.013044
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1288490188862.0, index: 29, id: 46695
the previous value is 0.0339044375216897 and the after value is -0.2473863599796406
estimated value is -0.10674096122897545
the value back in set4_3fake is now 1128   -0.106741
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1314259992727.0, index: 24, id: 1771086
the previous value is 0.2238914202107435 and the after value is 0.0906545361385152
estimated value is 0.15727297817462935
the value back in set4_3fake is now 44843    0.157273
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1314259992727.0, index: 44, id: 2721817
the previous value is -0.0758867752618079 and the after value is 0.0535785400746501
estimated value is -0.0111541175935789
the value back in set4_3fake is now 68794   -0.011154
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1314259992727.0, index: 108, id: 46841
the previous value is -0.0181462470355819 and the after value is -0.0425365415629636
estimated value is -0.030341394299272753
the value back in set4_3fake is now 1133   -0.030341
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1382979469414.0, index: 73, id: 2888890
the previous value is -0.0030822754 and the after value is 0.0056457519999999
estimated value is 0.00128173829999995
the value back in set4_3fake is now 73046    0.001282
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1382979469414.0, index: 89, id: 49201
the previous value is 0.0020294189999999 and the after value is 0.0011749268
estimated value is 0.00160217289999995
the value back in set4_3fake is now 1192    0.001602
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1365799600252.0, index: 22, id: 1990083
the previous value is 0.0259246829999999 and the after value is 0.013671875
estimated value is 0.01979827899999995
the value back in set4_3fake is now 50277    0.019798
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1365799600252.0, index: 30, id: 2032887
the previous value is -0.02078247 and the after value is 0.0010986328
estimated value is -0.009841918600000001
the value back in set4_3fake is now 51360   -0.009842
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1365799600252.0, index: 53, id: 58984
the previous value is 0.0077667236 and the after value is 0.013885498
estimated value is 0.0108261108
the value back in set4_3fake is now 1431    0.010826
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1348619731034.0, index: 0, id: 62094
the after value is 0.01616501
estimated value is -0.0025475524280622053
the value back in set4_3fake is now 1492   -0.002548
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1348619731034.0, index: 23, id: 2259026
the previous value is -0.027450735 and the after value is -0.030382885
estimated value is -0.02891681
the value back in set4_3fake is now 57152   -0.028917
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1537598291975.0, index: 11, id: 64867
the previous value is 0.0880632803978681 and the after value is -0.0021220067565751
estimated value is 0.042970636820646495
the value back in set4_3fake is now 1551    0.042971
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1537598291975.0, index: 29, id: 2742301
the previous value is 0.0583551858058162 and the after value is 0.0435011385097903
estimated value is 0.050928162157803256
the value back in set4_3fake is now 69301    0.050928
Name: gyro_y, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_y, dtype: float64)
-----------------------
bookingid: 1537598291975.0, index: 111, id: 603753

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1190
Bearing           1607
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z            1351
second             952
Speed                0
dtype: int64

In [ ]:
# THIS IS ONLY FOR SET 3_3fake gyro_z
justnullsdf = set4_3fake[set4_3fake['gyro_z'].isnull()]
bookingids = justnullsdf['bookingID'].unique() # get all the bookingids that have null values inside them
for bookingid in bookingids: #loop for each bookingid so that we are dealing with the null values bookingid by bookingid which is easier to work with
    bookingidx = set4_3fake[set4_3fake['bookingID']==bookingid] # making a datfarame with bookingID = x
    bookingidx = bookingidx.sort_values(by=['second']) # sorting the records by seconds so that it is easier to plot time against gyro_z
    bookingidx = bookingidx.reset_index(drop=True) # reindexing the dataframe for easier coding
    cleanedSetbookingidx = bookingidx.dropna()
    if len(cleanedSetbookingidx) < 5:
        set4_3fake = set4_3fake.drop(set4_3fake[set4_3fake.bookingID == bookingid].index)
        continue
    std = np.std(bookingidx['gyro_z']) # finding the standard deviation of gyro_z
    nulldf = bookingidx[bookingidx['gyro_z'].isnull()] # make dataframe of records with gyro_z being a null value
    for ind in nulldf.index: #retrieve the index of the row with gyro_z = NULL
        id = nulldf[nulldf.index.values == ind]['ID'] # get the value of 'ID' column for that specific null record
        previousrowindex = ind - 1 # this is to retrieve the index of the previous row 
        afterrowindex = ind + 1 # this is to retrieve the index of the next row  
        valueofpreviousrow = bookingidx.iloc[previousrowindex, 9] # this is to retrieve the acceleration of the previous row
        valueofafterrow = bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'] # this is to retrieve the acceleration of the next row
        print(f'bookingid: {bookingid}, index: {int(ind)}, id: {int(id)}')
        if ind == 0: # if the null record is the first record of xbookingid
            if bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if the next record is also a null value, this is for records that are consecutive AT THE START OF THE BOOKINGID
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(bookingidx[bookingidx.index.values == afterrowindex+1]['gyro_z']) - std -std # to get estimatedvalue of record 1, record 3- std -std = record 1
            else: # if then next record IS NOT a null value
                print(f'the after value is {float(valueofafterrow)}')
                estimatedvalue = float(valueofafterrow) - std # the estimated value of record 1 = record 2 - std
        
        elif ind ==  len(bookingidx)-1: # if the null record is THE LAST VALUE OF THE BOOKINGID
            print(f'the previous value is {valueofpreviousrow}') 
            estimatedvalue = valueofpreviousrow + std # the estimated value of the last record = second last record + std
        
        elif bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].empty or bookingidx[bookingidx.index.values == afterrowindex]['gyro_z'].isnull().bool(): # if there are 2 consecutive null values and arent the first or last record
            print(f'the after value is {float(valueofafterrow)}')
            estimatedvalue = valueofpreviousrow + std # estimated value = previous record + std
        
        else:
            print(f'the previous value is {valueofpreviousrow} and the after value is {float(valueofafterrow)}')
            estimatedvalue = np.median([valueofpreviousrow,float(valueofafterrow)]) # the estimated value = median of previous record and next record
        print(f'estimated value is {estimatedvalue}')
        realindex =  set4_3fake[set4_3fake['ID'] == int(id)].index.values # to get the index of the record IN THE SET
        bookingidx.at[int(ind),'gyro_z'] = estimatedvalue # to assign estimated value to the corresponding record IN THE CURRENT BOOKING DATAFRAME THE CODE IS WORKING WITH NOW
        set4_3fake.at[int(realindex),'gyro_z'] = estimatedvalue # this is to assign estimated value to the corresponding record IN THE SET
        ss = set4_3fake[set4_3fake.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        zz = bookingidx[bookingidx.index.values == int(realindex)]['gyro_z'] # just for printing to debug
        print(f'the value back in set4_3fake is now {ss}')
        print(f'the value back in bookingidx is now {zz}')
        print('-----------------------')

bookingid: 1683627180115.0, index: 1, id: 5751358
the previous value is -0.01909076 and the after value is 0.0065655797
estimated value is -0.006262590149999999
the value back in set4_3fake is now 144641   -0.006263
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 44, id: 7363568
the previous value is 0.009009041 and the after value is 0.0065655797
estimated value is 0.00778731035
the value back in set4_3fake is now 185474    0.007787
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 62, id: 6628394
the previous value is 0.0255024 and the after value is 0.012063367
estimated value is 0.0187828835
the value back in set4_3fake is now 167047    0.018783
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 69, id: 6419659
the previous value is 0.012674233 and the after value is 0.004732984
estimated value is 0.0087036085
the value back in set4_3fake is now 161779    0.008704
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 71, id: 1321495
the previous value is 0.004732984 and the after value is -0.034973256
estimated value is -0.015120136000000001
the value back in set4_3fake is now 33507   -0.01512
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 93, id: 1828440
the previous value is 0.038941436 and the after value is 0.03344365
estimated value is 0.036192543
the value back in set4_3fake is now 46269    0.036193
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1683627180115.0, index: 132, id: 2691
the previous value is 0.021837212 and the after value is 0.03100019
estimated value is 0.026418701000000003
the value back in set4_3fake is now 57    0.026419
Name: gyro_z, dtype: float64
the value back in bookingidx is now 57    0.015118
Name: gyro_z, dtype: float64
-----------------------
bookingid: 1683627180115.0, index: 153, id: 840139
the previous value is -0.010538648 and the after value is 0.0004569272
estimated value is -0.0050408604
the value back in set4_3fake is now 21273   -0.005041
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1168231104538.0, index: 11, id: 10386
the previous value is -0.019582594 and the after value is -0.045779984
estimated value is -0.032681289
the value back in set4_3fake is now 275   -0.032681
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1322849927174.0, index: 65, id: 21792
the previous value is 0.04763955 and the after value is -0.11668321
estimated value is -0.034521829999999996
the value back in set4_3fake is now 538   -0.034522
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1340029796413.0, index: 36, id: 1073340
the previous value is 0.020240024 and the after value is 0.1438107
estimated value is 0.082025362
the value back in set4_3fake is now 27212    0.082025
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1340029796413.0, index: 63, id: 31288
the previous value is -0.026631612 and the after value is 0.0117179089999999
estimated value is -0.00745685150000005
the value back in set4_3fake is now 750   -0.007457
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1340029796413.0, index: 78, id: 5189822
the previous value is -0.00958738 and the after value is 0.03195793
estimated value is 0.011185275000000001
the value back in set4_3fake is now 130319    0.011185
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1340029796413.0, index: 104, id: 2724265
the previous value is -0.14913702 and the after value is -0.10226539
estimated value is -0.125701205
the value back in set4_3fake is now 68856   -0.125701
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039226.0, index: 17, id: 33391
the previous value is 0.1166645652408831 and the after value is -0.0630743072574366
estimated value is 0.026795128991723254
the value back in set4_3fake is now 799    0.026795
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039226.0, index: 95, id: 1075304
the previous value is -0.0260281385977804 and the after value is -0.1247019854107423
estimated value is -0.07536506200426135
the value back in set4_3fake is now 27266   -0.075365
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039226.0, index: 118, id: 5065848
the previous value is -0.0086637956582457 and the after value is 0.0701929368512184
estimated value is 0.03076457059648635
the value back in set4_3fake is now 127290    0.030765
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039226.0, index: 137, id: 6072539
the previous value is -0.0824349557500947 and the after value is 0.1721254275740013
estimated value is 0.044845235911953295
the value back in set4_3fake is now 153000    0.044845
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039226.0, index: 161, id: 2943932
the previous value is 0.1346169341491073 and the after value is 0.0393364871971244
estimated value is 0.08697671067311585
the value back in set4_3fake is now 74486    0.086977
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1425929142304.0, index: 14, id: 6077205
the previous value is -0.026049739 and the after value is -0.06575598
estimated value is -0.045902859500000004
the value back in set4_3fake is now 153132   -0.045903
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1425929142304.0, index: 16, id: 37162
the previous value is -0.06575598 and the after value is 0.083906
estimated value is 0.009075009999999994
the value back in set4_3fake is now 898    0.009075
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1185410973812.0, index: 31, id: 1601703
the previous value is 0.03176499 and the after value is -0.007330383
estimated value is 0.0122173035
the value back in set4_3fake is now 40571    0.012217
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1185410973812.0, index: 55, id: 55977
the previous value is 0.009773844 and the after value is 0.0427605659999999
estimated value is 0.026267204999999953
the value back in set4_3fake is now 1357    0.026267
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1563368095754.0, index: 23, id: 58566
the previous value is -0.0505768912100218 and the after value is -0.0889013771929161
estimated value is -0.06973913420146895
the value back in set4_3fake is now 1419   -0.069739
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1511828488206.0, index: 62, id: 61915
the previous value is 0.01553247 and the after value is 0.016143335
estimated value is 0.0158379025
the value back in set4_3fake is now 1489    0.015838
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1511828488206.0, index: 70, id: 5561471
the previous value is 0.026528046 and the after value is 0.0008717047
estimated value is 0.01369987535
the value back in set4_3fake is now 139798    0.0137
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1511828488206.0, index: 114, id: 6163261
the previous value is 0.00148257 and the after value is -0.030282423
estimated value is -0.0143999265
the value back in set4_3fake is now 155273   -0.0144
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1511828488206.0, index: 128, id: 5646675
the previous value is 0.0075912224 and the after value is 0.010034683
estimated value is 0.008812952700000001
the value back in set4_3fake is now 142031    0.008813
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1400159338496.0, index: 88, id: 63717
the previous value is 0.1903241388830578 and the after value is 0.3228057504701396
estimated value is 0.2565649446765987
the value back in set4_3fake is now 1526    0.256565
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1022202216507.0, index: 19, id: 68385
the previous value is -0.0248883939999999 and the after value is -0.037315138
estimated value is -0.031101765999999947
the value back in set4_3fake is now 1633   -0.031102
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1022202216507.0, index: 40, id: 1238021
the previous value is 0.01706932 and the after value is -0.005375614
estimated value is 0.005846852999999999
the value back in set4_3fake is now 31374    0.005847
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1022202216507.0, index: 44, id: 5272406
the previous value is 0.03562217 and the after value is -0.0230557999999999
estimated value is 0.0062831850000000505
the value back in set4_3fake is now 132436    0.006283
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039253.0, index: 66, id: 73925
the previous value is 0.042876896 and the after value is 0.048469532
estimated value is 0.045673214000000004
the value back in set4_3fake is now 1767    0.045673
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039253.0, index: 87, id: 5764174
the previous value is 0.022370555 and the after value is 0.03568636
estimated value is 0.0290284575
the value back in set4_3fake is now 144997    0.029028
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039253.0, index: 106, id: 1007749
the previous value is 0.0727043 and the after value is 0.022903185
estimated value is 0.047803742499999996
the value back in set4_3fake is now 25534    0.047804
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039253.0, index: 118, id: 5187272
the previous value is 0.01571265 and the after value is -0.010386328
estimated value is 0.0026631610000000007
the value back in set4_3fake is now 130253    0.002663
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1176821039253.0, index: 131, id: 7085129
the previous value is -0.013582122 and the after value is -0.0061252704
estimated value is -0.0098536962
the value back in set4_3fake is now 178427   -0.009854
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 9, id: 529981
the previous value is -0.0187840741166558 and the after value is 0.0084858964974284
estimated value is -0.0051490888096137
the value back in set4_3fake is now 13306   -0.005149
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 43, id: 7063674
the previous value is -0.0971968576724039 and the after value is 0.0510815602365918
estimated value is -0.023057648717906047
the value back in set4_3fake is now 177887   -0.023058
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 88, id: 85355
the previous value is -0.0868070673116778 and the after value is 0.0210259231222845
estimated value is -0.032890572094696646
the value back in set4_3fake is now 2049   -0.032891
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 114, id: 5054400
the previous value is -0.1744823251387214 and the after value is 0.0150247559219
estimated value is -0.0797287846084107
the value back in set4_3fake is now 127003   -0.079729
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 125, id: 483426
the previous value is 0.0712222486125341 and the after value is 0.0350032577874564
estimated value is 0.05311275319999525
the value back in set4_3fake is now 12151    0.053113
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 131, id: 6126308
the previous value is -0.1006541733995448 and the after value is 0.0642261244288959
estimated value is -0.01821402448532445
the value back in set4_3fake is now 154355   -0.018214
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310905.0, index: 206, id: 5766276
the previous value is -0.0339190849076852 and the after value is -0.0207641343871298
estimated value is -0.0273416096474075
the value back in set4_3fake is now 145054   -0.027342
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1357209665615.0, index: 8, id: 85425
the previous value is 0.1644023999999999 and the after value is 0.0051478306
estimated value is 0.08477511529999995
the value back in set4_3fake is now 2050    0.084775
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1357209665615.0, index: 19, id: 7247213
the previous value is 0.19504994 and the after value is 0.039614186
estimated value is 0.117332063
the value back in set4_3fake is now 182561    0.117332
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1357209665615.0, index: 27, id: 2812964
the previous value is -0.010582465 and the after value is -0.0057449364
estimated value is -0.0081637007
the value back in set4_3fake is now 71086   -0.008164
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1194000908460.0, index: 4, id: 5538539
the previous value is 0.0043640137 and the after value is 0.01991272
estimated value is 0.012138366849999999
the value back in set4_3fake is now 139223    0.012138
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1194000908460.0, index: 6, id: 3143453
the previous value is 0.01991272 and the after value is -0.01637268
estimated value is 0.0017700199999999989
the value back in set4_3fake is now 79500    0.00177
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1194000908460.0, index: 19, id: 90098
the previous value is 0.015716553 and the after value is 0.0249176029999999
estimated value is 0.02031707799999995
the value back in set4_3fake is now 2162    0.020317
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1305670058158.0, index: 19, id: 5762233
the previous value is -0.022949219 and the after value is -0.00920105
estimated value is -0.0160751345
the value back in set4_3fake is now 144945   -0.016075
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1305670058158.0, index: 44, id: 92416
the previous value is -0.0009460449 and the after value is -0.023742676
estimated value is -0.012344360450000001
the value back in set4_3fake is now 2231   -0.012344
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1305670058158.0, index: 69, id: 6670475
the previous value is 0.029144287 and the after value is 0.020202637
estimated value is 0.024673462
the value back in set4_3fake is now 168072    0.024673
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1288490188803.0, index: 5, id: 3016503
the previous value is -0.0233391448451274 and the after value is -0.0136966374862775
estimated value is -0.01851789116570245
the value back in set4_3fake is now 76393   -0.018518
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1288490188803.0, index: 9, id: 92662
the previous value is 0.0221788055581798
estimated value is 0.03964448015107151
the value back in set4_3fake is now 2238    0.039644
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310892.0, index: 81, id: 5101600
the previous value is -0.0283658614026519 and the after value is 0.0069484536001257
estimated value is -0.0107087039012631
the value back in set4_3fake is now 128164   -0.010709
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310892.0, index: 87, id: 7090275
the previous value is -0.0222563035459012 and the after value is 0.1079570937407601
estimated value is 0.042850395097429446
the value back in set4_3fake is now 178577    0.04285
Name: gyro_z, dtype: float64
the value back in bookingidx is now Series([], Name: gyro_z, dtype: float64)
-----------------------
bookingid: 1666447310892.0, index: 107, id: 95584
the previous value is 0.0420023114482937 and the after value is -0.0118723721395732
estimated value is 0.015064969654360251
the value back in set4_3fake is now 2311    0.015065
Name: gyro_z, dtype: float64

In [ ]:
set4_3fake.isnull().sum(axis = 0)

ID                   0
bookingID            0
Accuracy          1190
Bearing           1606
acceleration_x       0
acceleration_y       0
acceleration_z       0
gyro_x               0
gyro_y               0
gyro_z               0
second             951
Speed                0
dtype: int64

In [ ]:
set4_3fake.to_csv('set4_3done.csv')